<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>更新订单信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/assets/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/assets/style/admin.css" media="all">
</head>
<body>
<!--创建、编辑订单-->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px;">
            <form class="layui-form" method="post" action="{:url('Order/doEditOrderEntire')}" lay-filter="component-form-group">
                <div class="layui-tab">
                    <ul class="layui-tab-title">
                        <li class="layui-this">合同信息</li>
                        <li>婚宴收付款信息</li>
                        <li>婚庆收付款信息</li>
                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show">

                            <div class="layui-card">
                                <div class="layui-card-header">合同基本信息</div>
                                <div class="layui-card-body">
                                    <div class="layui-form-item" show-range="0_1_2">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">公司</label>
                                            <div class="layui-input-inline">
                                                <select name="news_type" lay-verify="" lay-filter="news_type">
                                                    <option value="1">曼格纳</option>
                                                    <option value="2">誉思</option>
                                                    <option value="3">红丝</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">订单类型</label>
                                            <div class="layui-input-inline">
                                                <select name="news_type" lay-verify="" lay-filter="news_type">
                                                    <option value="2">一站式订单</option>
                                                    <option value="1">婚庆信息</option>
                                                    <option value="0">婚宴信息</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">合同编号</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="contract_no" value="{$data['contract_no']}" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">签约日期</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="sign_date" value="{$data['sign_date']}" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="layui-form-item" show-range="0_1_2">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">举办日期</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="wedding_date" value="{$data['wedding_date']}" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">酒店名称</label>
                                            <div class="layui-input-inline">
                                                <select name="hotel_id" lay-search>
                                                    <option value="0">--请选择酒店--</option>
                                                    <{foreach name="hotels" item="val"}>
                                                    <option value="{$val['id']}" <{if $data['hotel_id']==$val['id']}>selected<{/if}>>{$val['title']}</option>
                                                    <{/foreach}>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">宴会厅</label>
                                            <div class="layui-input-inline">
                                                <select name="banquet_hall_id" lay-search>
                                                    <option value="0">--请选宴会厅--</option>
                                                    <{foreach name="halls" item="val"}>
                                                    <option value="{$val['id']}" <{if $data['banquet_hall_id']==$val['id']}>selected<{/if}>>{$val['title']}</option>
                                                    <{/foreach}>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="layui-form-item" show-range="0_1_2">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">新人姓名</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="realname" value="{$member['realname']}" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">新郎电话</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="realname" value="{$member['realname']}" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">新娘姓名</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="realname" value="{$member['realname']}" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">新娘电话</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="realname" value="{$member['realname']}" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="layui-card">
                                <div class="layui-card-header">婚宴基本信息</div>
                                <div class="layui-card-body">
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">桌数</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="table_amount" value="{$data['table_amount']}" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">餐标</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="table_price" value="{$data['table_price']}" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">服务费</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="service_fee" value="{$data['service_fee']}" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">酒水费用</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="wine_fee" value="{$data['wine_fee']}" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">加菜换菜</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="wine_fee" value="{$data['wine_fee']}" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">金额小计</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="entire_price" value="{$data['entire_price']}" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">优惠金额</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="discount" value="{$data['discount']}" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">合同总金额</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="income_fee" value="{$data['income_fee']}" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="layui-card">
                                <div class="layui-card-header">婚宴追加信息+</div>
                                <div class="layui-card-body">
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">加桌</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="table_amount" value="{$data['table_amount']}" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">餐标</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="table_price" value="{$data['table_price']}" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">订单金额</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="income_fee" value="{$data['income_fee']}" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <div class="layui-inline">
                                                <label class="layui-form-label">其他</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="table_amount" value="{$data['table_amount']}" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item layui-col-md6">
                                        <label class="layui-form-label">明细</label>
                                        <div class="layui-input-block">
                                            <textarea class="layui-textarea" name="remark">{$data['remark']}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--婚宴收付款信息-->
                        <div class="layui-tab-item">
                            <!--合同基本信息-->
                            <div class="layui-card">
                                <div class="layui-card-header">合同基本信息</div>
                                <div class="layui-card-body">
                                    <div class="layui-form-item" show-range="0_1_2">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">公司</label>
                                            <div class="layui-input-inline">
                                                <select name="news_type" lay-verify="" lay-filter="news_type">
                                                    <option value="1">曼格纳</option>
                                                    <option value="2">誉思</option>
                                                    <option value="3">红丝</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">订单类型</label>
                                            <div class="layui-input-inline">
                                                <select name="news_type" lay-verify="" lay-filter="news_type">
                                                    <option value="2">一站式订单</option>
                                                    <option value="1">婚庆信息</option>
                                                    <option value="0">婚宴信息</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">合同编号</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="contract_no" value="{$data['contract_no']}" id="contract_no" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">签约日期</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="sign_date" value="{$data['sign_date']}" id="sign_date" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="layui-form-item" show-range="0_1_2">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">举办日期</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="wedding_date" value="{$data['wedding_date']}" id="wedding_date" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">酒店名称</label>
                                            <div class="layui-input-inline">
                                                <select name="hotel_id" id="hotel_id" lay-search>
                                                    <option value="0">--请选择酒店--</option>
                                                    <{foreach name="hotels" item="val"}>
                                                    <option value="{$val['id']}" <{if $data['hotel_id']==$val['id']}>selected<{/if}>>{$val['title']}</option>
                                                    <{/foreach}>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">宴会厅</label>
                                            <div class="layui-input-inline">
                                                <select name="banquet_hall_id" id="banquet_hall_id" lay-search>
                                                    <option value="0">--请选宴会厅--</option>
                                                    <{foreach name="halls" item="val"}>
                                                    <option value="{$val['id']}" <{if $data['banquet_hall_id']==$val['id']}>selected<{/if}>>{$val['title']}</option>
                                                    <{/foreach}>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="layui-form-item" show-range="0_1_2">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">新人姓名</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="realname" value="{$member['realname']}" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">新郎电话</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="realname" value="{$member['realname']}" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">新娘姓名</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="realname" value="{$member['realname']}" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">新娘电话</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="realname" value="{$member['realname']}" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--婚宴收款单-->
                            <div class="layui-card">
                                <div class="layui-card-header">婚宴收款单+</div>
                                <div class="layui-card-body">
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <div class="layui-inline">
                                                <label class="layui-form-label">收款日期</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="banquet_income_date" value="{$data['banquet_income_date']}" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <div class="layui-inline">
                                                <label class="layui-form-label">收款方式</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="banquet_income_payment" value="{$data['banquet_income_payment']}" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <div class="layui-inline">
                                                <label class="layui-form-label">款项性质</label>
                                                <div class="layui-input-inline">
                                                    <select name="banquet_income_type" lay-verify="required" lay-filter="news_type">
                                                        <option value="1">定金</option>
                                                        <option value="2">预付款</option>
                                                        <option value="3">尾款</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <div class="layui-inline">
                                                <label class="layui-form-label">收款金额</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="banquet_income_item_price" value="{$data['banquet_income_item_price']}" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--婚宴付款单-->
                            <div class="layui-card">
                                <div class="layui-card-header">婚宴付款单+</div>
                                <div class="layui-card-body">
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <div class="layui-inline">
                                                <label class="layui-form-label">申请日期</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="banquet_apply_pay_date" value="{$data['banquet_apply_pay_date']}" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <div class="layui-inline">
                                                <label class="layui-form-label">收款名称</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="banquet_pay_to_company" value="{$data['banquet_pay_to_company']}" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <div class="layui-inline">
                                                <label class="layui-form-label">收款账号</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="banquet_pay_to_account" value="{$data['banquet_pay_to_account']}" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <div class="layui-inline">
                                                <label class="layui-form-label">开户行</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="banquet_pay_to_bank" value="{$data['banquet_pay_to_bank']}" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <div class="layui-inline">
                                                <label class="layui-form-label">款项性质</label>
                                                <div class="layui-input-inline">
                                                    <select name="banquet_pay_type" lay-verify="required" lay-filter="news_type">
                                                        <option value="1">定金</option>
                                                        <option value="2">预付款</option>
                                                        <option value="3">尾款</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <div class="layui-inline">
                                                <label class="layui-form-label">收款金额</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="banquet_pay_item_price" value="{$data['banquet_pay_item_price']}" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--婚庆收付款信息-->
                        <div class="layui-tab-item">
                            <!--婚庆合同信息-->
                            <div class="layui-card">
                                <div class="layui-card-header">合同基本信息</div>
                                <div class="layui-card-body">
                                    <div class="layui-form-item" show-range="0_1_2">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">公司</label>
                                            <div class="layui-input-inline">
                                                <select name="news_type" lay-verify="" lay-filter="news_type">
                                                    <option value="1">曼格纳</option>
                                                    <option value="2">誉思</option>
                                                    <option value="3">红丝</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">订单类型</label>
                                            <div class="layui-input-inline">
                                                <select name="news_type" lay-verify="" lay-filter="news_type">
                                                    <option value="2">一站式订单</option>
                                                    <option value="1">婚庆信息</option>
                                                    <option value="0">婚宴信息</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">合同编号</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="contract_no" value="{$data['contract_no']}" id="contract_no" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">签约日期</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="sign_date" value="{$data['sign_date']}" id="sign_date" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="layui-form-item" show-range="0_1_2">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">举办日期</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="wedding_date" value="{$data['wedding_date']}" id="wedding_date" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">酒店名称</label>
                                            <div class="layui-input-inline">
                                                <select name="hotel_id" id="hotel_id" lay-search>
                                                    <option value="0">--请选择酒店--</option>
                                                    <{foreach name="hotels" item="val"}>
                                                    <option value="{$val['id']}" <{if $data['hotel_id']==$val['id']}>selected<{/if}>>{$val['title']}</option>
                                                    <{/foreach}>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">宴会厅</label>
                                            <div class="layui-input-inline">
                                                <select name="banquet_hall_id" id="banquet_hall_id" lay-search>
                                                    <option value="0">--请选宴会厅--</option>
                                                    <{foreach name="halls" item="val"}>
                                                    <option value="{$val['id']}" <{if $data['banquet_hall_id']==$val['id']}>selected<{/if}>>{$val['title']}</option>
                                                    <{/foreach}>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="layui-form-item" show-range="0_1_2">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">新人姓名</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="realname" value="{$member['realname']}" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">新郎电话</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="realname" value="{$member['realname']}" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">新娘姓名</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="realname" value="{$member['realname']}" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">新娘电话</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="realname" value="{$member['realname']}" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--婚庆收款信息-->
                            <div class="layui-card">
                                <div class="layui-card-header">婚庆收款信息</div>
                                <div class="layui-card-body">
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <div class="layui-inline">
                                                <label class="layui-form-label">收款日期</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="wedding_income_date" value="{$data['wedding_income_date']}" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <div class="layui-inline">
                                                <label class="layui-form-label">收款方式</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="wedding_income_payment" value="{$data['wedding_income_payment']}" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <div class="layui-inline">
                                                <label class="layui-form-label">款项性质</label>
                                                <div class="layui-input-inline">
                                                    <select name="wedding_income_type" lay-verify="required" lay-filter="news_type">
                                                        <option value="1">定金</option>
                                                        <option value="2">预付款</option>
                                                        <option value="3">尾款</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <div class="layui-inline">
                                                <label class="layui-form-label">收款金额</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="weddding_income_item_price" value="{$data['weddding_income_item_price']}" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--婚庆付款信息-->
                            <div class="layui-card">
                                <div class="layui-card-header">婚庆付款信息</div>
                                <div class="layui-card-body">
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <div class="layui-inline">
                                                <label class="layui-form-label">供应商</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="supplier" value="{$data['supplier']}" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <div class="layui-inline">
                                                <label class="layui-form-label">收款名称</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="wedding_pay_to_company" value="{$data['banquet_pay_to_company']}" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <div class="layui-inline">
                                                <label class="layui-form-label">收款账号</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="wedding_pay_to_account" value="{$data['banquet_pay_to_account']}" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <div class="layui-inline">
                                                <label class="layui-form-label">开户行</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="wedding_pay_to_bank" value="{$data['banquet_pay_to_bank']}" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <div class="layui-inline">
                                                <label class="layui-form-label">款项性质</label>
                                                <div class="layui-input-inline">
                                                    <select name="wedding_pay_type" lay-verify="required">
                                                        <option value="1">定金</option>
                                                        <option value="2">预付款</option>
                                                        <option value="3">尾款</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <div class="layui-inline">
                                                <label class="layui-form-label">收款金额</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="wedding_pay_item_price" value="{$data['wedding_pay_item_price']}" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item layui-layout-admin" show-range="0_1_2">
                    <div class="layui-input-inline">
                        <input type="hidden" name="member_allocate_id" value="{$allocate['id']}"/>
                        <input type="hidden" name="member_id" value="{$allocate['member_id']}"/>
                        <input type="hidden" name="id" value="{$data['id']}"/>
                        <div class="layui-footer" style="left: 0;">
                            <button class="layui-btn" lay-submit="" lay-filter="form-submit">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/assets/layui/layui.js"></script>
<script>
    layui.config({
        base: '/assets/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'laydate'], function () {
        var $ = layui.jquery
            ,laydate = layui.laydate
            ,form = layui.form;

        form.render(null, 'component-form-group');
        laydate.render({
            elem: '#sign_date',
            type: 'date'
        });
        laydate.render({
            elem: '#wedding_date',
            type: 'date'
        });

        form.on('select(news_type)', function(data){
            var newsType = data.value;
            $(".layui-form-item").each(function (i, n) {
                var current = $(n);
                var range = current.attr("show-range");
                var index = range.indexOf(newsType);
                if(index == -1) {
                    current.addClass("layui-hide");
                } else {
                    current.removeClass("layui-hide");
                }
            })
        });

        /* 监听提交 */
        form.on('submit(form-submit)', function (data) {
            var url = data.form.action;
            var params = data.field;
            $.post(url, params, function (res) {
                if (res.code == '200') {
                    parent.layui.table.reload("table");
                    parent.layer.closeAll();
                } else {
                    layer.msg(res.msg);
                }
            });
            return false;
        });
    });
</script>
</body>
</html>