<link rel="stylesheet" href="/assets/bootcss/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/bootcss/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/assets/layui/css/layui.css" media="all">
<link rel="stylesheet" href="/assets/style/ox-common.css?{:rand(10,10000)}">
<link rel="stylesheet" href="/assets/style/center.css?{:rand(10,10000)}">
<link rel="stylesheet" href="/assets/multiple-select/multiple-select.min.css?{:rand(10,10000)}">
<script src="/assets/layui/layui.all.js"></script>
<script src="/assets/lib/jquery-2.1.4.min.js"></script>
<script src="/assets/bootcss/js/bootstrap.min.js"></script>
<script src="/assets/multiple-select/multiple-select.min.js"></script>
<script src="/assets/multiple-select/multiple-select-locale-all.min.js"></script>
<script src="/assets/lib/ox-common.js?{:rand(100000,100000000)}"></script>