<{foreach name="list" item="row"}>
    <div class="hotel-item">
        <dl class="hotel-fields">
            <dt>
                <a href="javascript:void(0);" 
                    class="btn-ajax-html" 
                    data-action="{:url('wash/dictionary.store/read', ['id'=>$row['id']])}" 
                    data-target="#hotel-detail-box">{$row.title}</a>
            </dt>
            <dd>菜单价格:{$row.min_price}-{$row.max_price}</dd>
            <dd>容纳桌数:{$row.max_capacity}</dd>
            <dd>特色标签:</dd>
        </dl>
        <ul class="hotel-ctrl">
            <li>
                <a href="javascript:void(0);" 
                    class="btn btn-primary btn-ajax-html" 
                    data-action="{:url('wash/dictionary.store/read', ['id'=>$row['id']])}" 
                    data-target="#hotel-detail-box">查看详情</a>
            </li>
            <li>
                <a href="javascript:void(0);" 
                    class="btn btn-info btn-ajax-html"
                    data-confirm="确认加入？" 
                    data-remove="yes"
                    data-remove-target="hotel-item"
                    data-append="yes"
                    data-action="{:url('wash/customer.append/recommend', ['allocate_id'=>$allocate.id,'hotel_id'=>$row.id])}"
                    data-target="#hotel-selected-list">加入推荐</a>
            </li>
        </ul>
    </div>
<{/foreach}>