<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>婚宴收款信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/assets/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/assets/style/admin.css?2" media="all">
    <link rel="stylesheet" href="/assets/style/order.css?2" media="all">
    <script src="/assets/style/"></script>
    <script src="/assets/layui/layui.js"></script>
    <script src="/assets/lib/order.edit.js"></script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px;">
            <form class="layui-form" method="post" action="{:url('/index/order.contract/doEdit')}" lay-filter="component-form-group">
                <!--合同信息-->
                <div class="layui-form-item">
                    <label class="layui-form-label layui-color-red">公司</label>
                    <div class="layui-input-block">
                        <{include file="order/common/company_select" /}>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-color-red">订单类型</label>
                    <div class="layui-input-block">
                        <select name="news_type" lay-filter="news_type">
                            <{foreach name="newsTypes" item="row"}>
                            <option value="{$key}" {$data['news_type']==$key?'selected':''}>{$row}</option>
                            <{/foreach}>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-color-red">合同编号</label>
                    <div class="layui-input-block">
                        <input type="text" name="contract_no" value="{$data['contract_no']}" lay-verify="" placeholder="合同编号" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-color-red">签约日期</label>
                    <div class="layui-input-block">
                        <input type="text" name="sign_date" value="{$data['sign_date']}" lay-verify="" placeholder="签约日期" autocomplete="off" class="layui-input layui-date">
                    </div>
                </div>

                <!--举办日期-->
                <div class="layui-form-item">
                    <label class="layui-form-label layui-color-red">举办日期</label>
                    <div class="layui-input-block">
                        <input type="text" name="event_date" value="{$data['event_date']}" lay-verify="" placeholder="举办日期" autocomplete="off" class="layui-input layui-date">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-color-red">酒店名称</label>
                    <div class="layui-input-block">
                        <select name="hotel_id" lay-search lay-filter="hotel_id" lay-verify="">
                            <option value=""></option>
                            <{foreach name="hotels" item="val"}>
                            <option value="{$val['id']}" <{if $data['hotel_id']==$val['id']}>selected<{/if}>>{$val['title']}</option>
                            <{/foreach}>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-color-red">宴会厅</label>
                    <div class="layui-input-block">
                        <input type="text" name="banquet_hall_name" value="{$data['banquet_hall_name']}" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">合作模式</label>
                    <div class="layui-input-block">
                        <select name="cooperation_mode" lay-search>
                            <option value="">--选择合作模式--</option>
                            <option value="1" <{if $data['cooperation_mode'] == '1'}>selected<{/if}>>返佣单</option>
                            <option value="2" <{if $data['cooperation_mode'] == '2'}>selected<{/if}>>代收代付</option>
                            <option value="3" <{if $data['cooperation_mode'] == '3'}>selected<{/if}>>代收代付+返佣单</option>
                            <option value="4" <{if $data['cooperation_mode'] == '4'}>selected<{/if}>>一单一议</option>
                        </select>
                    </div>
                </div>

                <!--新浪新娘信息-->
                <div class="layui-form-item">
                    <label class="layui-form-label layui-color-red">新郎姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="bridegroom" value="{$data['bridegroom']}" lay-verify="" placeholder="新郎姓名" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-color-red">新郎电话</label>
                    <div class="layui-input-block">
                        <input type="text" name="bridegroom_mobile" value="{$data['bridegroom_mobile']}" lay-verify="" placeholder="新郎电话" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-color-red">新娘姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="bride" value="{$data['bride']}" lay-verify="" placeholder="新娘姓名" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-color-red">新娘电话</label>
                    <div class="layui-input-block">
                        <input type="text" name="bride_mobile" value="{$data['bride_mobile']}" lay-verify="" placeholder="新娘电话" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <!--客户联系信息-->
                <div class="layui-form-item">
                    <label class="layui-form-label layui-color-red">新郎微信</label>
                    <div class="layui-input-block">
                        <input type="text" name="bridegroom_wechat" value="{$data['bridegroom_wechat']}" lay-verify="" placeholder="新郎微信" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-color-red">新娘微信</label>
                    <div class="layui-input-block">
                        <input type="text" name="bride_wechat" value="{$data['bride_wechat']}" lay-verify="" placeholder="新娘微信" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-color-red">家庭住址</label>
                    <div class="layui-input-block">
                        <input type="text" name="home_address" value="{$data['home_address']}" lay-verify="" placeholder="家庭住址" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">身份证号</label>
                    <div class="layui-input-block">
                        <input type="text" name="idcard" value="{$data['idcard']}" placeholder="身份证号" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">积分</label>
                    <div class="layui-input-block">
                        <input type="text" name="score" value="{$data['score']}" placeholder="积分" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">引流销售</label>
                    <div class="layui-input-block">
                        <input type="text" name="recommend_salesman" value="{$data['recommend_salesman']}" lay-verify="0" placeholder="引流销售" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">签单销售</label>
                    <div class="layui-input-block">
                        <select name="salesman" lay-search>
                            <option value="0">请选择销售</option>
                            <{foreach name="salesmans" item="salesman"}>
                            <option value="{$salesman.id}"  <{if $data['salesman'] == $salesman['id']}>selected<{/if}>>{$salesman.realname}</option>
                            <{/foreach}>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">客户渠道</label>
                    <div class="layui-input-block">
                        <input type="hidden" name="source_id" value="{$member['source_id']}">
                        <input type="text" value="{$member['source_text']}" readonly lay-verify="0" placeholder="客户渠道" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">客户姓名</label>
                    <div class="layui-input-block">
                        <{if empty($member['realname'])}>
                        <input type="text" name="realname" value="{$member['realname']}"  lay-verify="0" placeholder="客户姓名" autocomplete="off" class="layui-input">
                        <{else /}>
                        <input type="text" value="{$member['realname']}" readonly  lay-verify="0" placeholder="客户姓名" autocomplete="off" class="layui-input">
                        <{/if}>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">客户手机号</label>
                    <div class="layui-input-block">
                        <input type="text" name="mobile" value="{$member['mobile']}" readonly placeholder="客户手机号" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">积点</label>
                    <div class="layui-input-block">
                        <input type="text" name="point" value="{$data['point']}" lay-verify="0" placeholder="积点" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">订单状态</label>
                    <div class="layui-input-block">
                        <select name="complete" class="layui-input">
                            <option value="0" {$data.complete=="0"?'selected':''}>请选择状态</option>
                            <option value="99"  {$data.complete=="99"?'selected':''}>意向金</option>
                            <option value="100"  {$data.complete=="100"?'selected':''}>完成</option>
                            <option value="101"  {$data.complete=="101"?'selected':''}>退单</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        <input type="text" name="remark" value="{$data['remark']}" lay-verify="0" placeholder="备注" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item layui-layout-admin">
                    <div class="layui-input-inline">
                        <input type="hidden" name="member_allocate_id" value="{$allocate['id']}" />
                        <input type="hidden" name="member_id" value="{$allocate['member_id']}"/>
                        <input type="hidden" name="id" value="{$data.id}"/>
                        <div class="layui-footer" style="left: 0;">
                            <button class="layui-btn" lay-submit="" lay-filter="form-submit">保存</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>