<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>批量导入</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/assets/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/assets/style/admin.css" media="all">
</head>
<body>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>批量导入</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <div class="layui-btn-group">
                        <button class="layui-btn layui-btn-sm" id="upload">上传客资</button>
                        <!--<a class="layui-btn layui-btn-sm" href="{:url('Allocate/export')}" target="_blank">导出重复</a>-->
                        <a class="layui-btn layui-btn-sm" href="/tpl.csv" target="_blank">下载模版</a>
                    </div>
                </div>
                <div class="layui-card-body">
                    <table class="layui-hide" id="table" lay-filter="table"></table>
                    <script type="text/html" id="table-tool">
                        <div class="layui-btn-container">
                            {:button(["event"=>"showUploadActive", "text"=>"查看有效"])}
                            {:button(["event"=>"showUploadDuplicate", "text"=>"查看重复"])}
                            {:button(["event"=>"uploadAllocate", "text"=>"分配客资"])}
                        </div>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/layui/layui.js"></script>
<script>
    layui.config({
        base: '/assets/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'upload', 'form'], function () {
        var $ = layui.jquery
            ,upload = layui.upload
            ,form = layui.form
            ,table = layui.table
            ,url = '';

        table.render({
            elem: '#table',
            url: "{:htmlspecialchars_decode($_SERVER['REQUEST_URI'])}",
            height: 'full-100',
            defaultToolbar: ['filter'],
            title: '上传记录',
            cols: [
                [{
                    "field": "id",
                    "title": "编号",
                    "width": 60,
                }, {
                    "field": "origin_file_name",
                    "title": "原始文件名"
                }, {
                    "field": "amount",
                    "title": "客资总数",
                    "width": 100,
                    "align": "center"
                }, {
                    "field": "active_amount",
                    "title": "非重复数",
                    "width": 100,
                    "align": "center"
                }, {
                    "field": "duplicate_amount",
                    "title": "重复数",
                    "width": 100,
                    "align": "left"
                }, {
                    "field": "allocated",
                    "title": "是否分配",
                    "width": 88
                },{
                    "field": "download",
                    "title": "是否导出",
                    "width": 88
                }, {
                    "field": "create_time",
                    "title": "上传时间",
                    "width": 165
                }, {
                    "type": "tool",
                    "title": "操作",
                    "toolbar": "#table-tool",
                    "width": 260
                }
            ]],
            page: true,
            limit: 20,
            limits: [20, 30]
        });

        //监听行工具事件
        table.on('tool(table)', function(obj) {
            console.log(obj.data);
            var id = obj.data.id;
            var member_id = obj.data.member_id;
            switch (obj.event) {
                case 'showUploadActive':
                    url = '/index/allocate/showuploadactive.html?id=' + id;
                    layer.open({
                        type: 2,
                        title: '查看有效',
                        content: url,
                        area: [window.innerWidth  + 'px', window.innerHeight + 'px'],
                        offset: 'rb'
                    });
                    break;
                case 'showUploadDuplicate':
                    url = '/index/allocate/showuploadduplicate.html?id=' + id;
                    layer.open({
                        type: 2,
                        title: '查看重复',
                        content: url,
                        area: [window.innerWidth + 'px', window.innerHeight + 'px'],
                        offset: 'rb'
                    });
                    break;
                case 'uploadAllocate':
                    url = '/index/allocate/uploadAllocate.html?id=' + id;
                    layer.open({
                        type: 2,
                        title: '分配客资',
                        content: url,
                        area: [window.innerWidth + 'px', window.innerHeight + 'px'],
                        offset: 'rb'
                    });
                    break;
            };
        });


        url = '/index/file/upload.html';
        upload.render({
            elem: '#upload'
            ,url: url
            ,accept: 'file' //允许上传的文件类型
            ,exts: 'csv'
            ,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
                layer.load(); //上传loading
            }
            ,done: function(res, index, upload){ //上传后的回调
                if(res.code == 200) {
                    table.reload();
                    layer.closeAll('loading');
                    layer.msg(res.msg);
                }
            }
            ,error: function (res) {
                console.log('err:', res);
            }
        });

        form.render(null, 'component-form-group');
        form.on('submit(form-submit)', function (data) {
            var url = data.form.action;
            var params = data.field;
            $.post(url, params, function(result){
                console.log(result);
                alert(result.msg);
                if(result.code == '200') {
                    window.location.reload();
                }
            });
            return false;
        });
    });
</script>
</body>
</html>