<!-- 面包屑 -->
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>首页</li>
        <li>组织架构</li>
        <li>部门管理</li>
    </ul>
    <div class="widget-toolbar">
        <a href="javascript:history.go(-1);">
            <span class="glyphicon glyphicon-share-alt"></span>
            <span class="text">返回</span>
        </a>
    </div>
    <div class="widget-toolbar no-border">
        <a href="javascript:void(0);" class="action-modal" data-action="{:url('Department/addDepartment')}">
            <span class="text">添加部门</span>
        </a>
    </div>
</div>
<!--页面详情-->
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="left">部门名称</th>
                            <th width="200">操作</th>
                        </tr>
                    </thead>
                    <{foreach item="val" name="list"}>
                        <tr>
                            <th class="left"><{if $val['depth'] > 1}>├<{/if}>{:str_repeat('─',$val['depth'] - 1)}{$val['title']}</th>
                            <th>
                                <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                                    <a class="btn btn-xs btn-purple action-modal" href="javascript:void(0);" data-action="{:url('Department/editDepartment',['id'=>$val['id']])}">
                                        编辑
                                    </a>

                                    <a class="btn btn-xs btn-purple action-modal" href="javascript:void(0);" data-action="{:url('Department/editAuth',['id'=>$val['id']])}">
                                        授权
                                    </a>

                                    <a class="btn btn-xs btn-pink">
                                        删除
                                    </a>
                                </div>
                            </th>
                        </tr>
                    <{/foreach}>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="fixed-bottom">
    <div class="toolbar-bottom pull-left">
        <a class="btn btn-xs btn-warning">
            分配
        </a>
        <a class="btn btn-xs btn-danger action-delete-customer" href="javascript:void(0);" data-action="{:url('rollback', ['id'=>$val['id']])}" data-tip="确认要还原该客资么？">
            归档
        </a>
    </div>
</div>