<div class="modal-box">
    <!-- 表单 -->
    <form class="modal-form" method="post" data-action="{:url('Auth/doEditAuth')}" role="form">
        <div class="side-modal-box">
            <div class="page-header header_title">
                <h4 class="blue">{$Request.param.id?'编辑':'添加'}权限</h4>
            </div>
            <div class="form-block">
                <div class="form-group">
                    <label>
                        <span>模块名称</span>
                    </label>
                    <div class="input-box">
                        <select name="parent_id" id="parent_id" class="input-field">
                            <option value="0">--请选择模块--</option>
                            <{foreach item="val" name="modules"}>
                            <option value="{$val['id']}" <{eq name="data['parent_id']" value="$val['id']"}>selected<{/eq}>>{$val['title']}</option>
                            <{/foreach}>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        <span class="tis_import">*</span>
                        <span>权限名称</span>
                    </label>
                    <div class="input-box">
                        <input type="text" name="title" value="{$data['title']}" class="input-field" placeholder="请输入权限名称">
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        <span class="tis_import">*</span>
                        <span>系统路由</span>
                    </label>
                    <div class="input-box">
                        <input type="text" name="route" value="{$data['route']}" class="input-field" placeholder="如:user/index">
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        <span>上线/下线</span>
                    </label>
                    <div class="input-box">
                        <select name="is_valid" id="is_valid" class="input-field">
                            <option value="0" <{eq name="data['is_valid']" value="0"}>selected<{/eq}>>下线</option>
                            <option value="1" <{eq name="data['is_valid']" value="1"}>selected<{/eq}>>上线</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        <span>排序</span>
                    </label>
                    <div class="input-box">
                        <input type="text" name="sort" value="{$data['sort']}" class="input-field" placeholder="排序从大到小，倒序排序">
                    </div>
                </div>

            </div>

            <div class="side-modal-foot">
                <input type="hidden" name="id" id="id" value="{$Request.param.id}" />
                <div class="btn btn-sm btn-info form-side-submit">保存</div>
                <div class="btn btn-sm form-side-cancel">取消</div>
            </div>
        </div>
    </form>
</div>