<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>角色管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/assets/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/assets/style/admin.css" media="all">
</head>
<body>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>角色管理</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <table class="layui-hide" id="table" lay-filter="table"></table>
                                        <script type="text/html" id="table-toolbar">
                                                <div class="layui-btn-container">
                            <button class="layui-btn layui-btn-sm" lay-event="add">添加角色</button>
                        </div>
                                            </script>
                                        <script type="text/html" id="table-tool">
                        <div class="layui-btn-container">
                                                    <button class="layui-btn layui-btn-sm" lay-event="edit">编辑</button>
                                                    <button class="layui-btn layui-btn-sm" lay-event="del">删除</button>
                                                </div>
                    </script>
                                    </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/layui/layui.js"></script>
<script>
    layui.config({
        base: '/assets/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table'], function(){
        var admin = layui.admin
            ,table = layui.table;

        table.render({
            elem: '#table'
            ,url: '/index/auth/group.html'
            ,height: 'full-100'
            ,defaultToolbar: ['filter']
            ,toolbar: '#table-toolbar'
            ,title: '角色管理'
            ,cols: [[{"type":"checkbox","width":120},{"field":"id","title":"\u7f16\u53f7","width":80},{"field":"title","title":"\u89d2\u8272"},{"field":"is_valid","title":"\u72b6\u6001","width":120},{"field":"sort","title":"\u6392\u5e8f","width":120},{"field":"create_time","title":"\u521b\u5efa\u65f6\u95f4","width":180},{"type":"tool","title":"\u64cd\u4f5c","toolbar":"#table-tool","width":240}]]
            ,page: true
        });

        var height = window.innerHeight;
        var width = window.innerWidth * 0.6;
        var url = '';
        //头工具栏事件
        table.on('toolbar(table)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            var url = '';
            switch(obj.event){
                                case 'add':
                    var data = checkStatus.data;
                    url = '/index/auth/addgroup.html';
                    layer.open({
                        type: 2,
                        title: '添加角色',
                        content: url,
                        area: [width+'px',height+'px'],
                        offset:'rb'
                    });
                    break;
                            };
        });

        //监听行工具事件
        table.on('tool(table)', function(obj){
            switch(obj.event){
                                case 'edit':
                    url = '/index/auth/editgroup.html';
                    layer.open({
                        type: 2,
                        title: '编辑',
                        content: url,
                        area: [width+'px',height+'px'],
                        offset:'rb'
                    });
                    break;
                                case 'del':
                    url = '/index/auth/delgroup.html';
                    layer.open({
                        type: 2,
                        title: '删除',
                        content: url,
                        area: [width+'px',height+'px'],
                        offset:'rb'
                    });
                    break;
                            };
        });

    });
</script>
</body>
</html>