<div class="layui-card">
    <div class="layui-card-header">婚庆基本信息</div>
    <div class="layui-card-body">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">婚庆套餐价</label>
                <div class="layui-input-inline">
                    <input type="text" name="wedding_package_price" value="{$data['wedding_package_price']}" lay-verify="required" placeholder="婚庆套餐价" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">仪式堂</label>
                <div class="layui-input-inline">
                    <input type="text" name="wedding_ritual_hall" value="{$data['ritual_hall']}" lay-verify="required" placeholder="仪式堂" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">设备套餐（不包含）</label>
                <div class="layui-input-inline">
                    <input type="text" name="wedding_device" value="{$data['wedding_device']}" lay-verify="required" placeholder="设备套餐" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">婚庆其他</label>
                <div class="layui-input-inline">
                    <input type="text" name="wedding_orther" value="{$data['wedding_orther']}" lay-verify="required" placeholder="婚庆其他" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">婚庆金额小计</label>
                <div class="layui-input-inline">
                    <input type="text" name="wedding_total" value="{$data['wedding_total']}" lay-verify="required" placeholder="婚庆金额小计" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">策划师</label>
                <div class="layui-input-inline">
                    <select name="planner" lay-search>
                        <option value="0">请选择策划</option>
                        <{foreach name="salesmans" item="salesman"}>
                        <option value="{$salesman.id}">{$salesman.realname}</option>
                        <{/foreach}>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">设计师</label>
                <div class="layui-input-inline">
                    <select name="designer" lay-search>
                        <option value="0">请选择设计师</option>
                        <{foreach name="salesmans" item="salesman"}>
                        <option value="{$salesman.id}">{$salesman.realname}</option>
                        <{/foreach}>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">跟单人</label>
                <div class="layui-input-inline">
                    <select name="waiter" lay-search>
                        <option value="0">请选择跟单</option>
                        <{foreach name="salesmans" item="salesman"}>
                        <option value="{$salesman.id}">{$salesman.realname}</option>
                        <{/foreach}>
                    </select>
                </div>
            </div>
        </div>

        <!--研发产品信息-->
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">是否研发产品</label>
                <div class="layui-input-inline">
                    <select name="is_new_product" lay-search>
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">研发产品编号</label>
                <div class="layui-input-inline">
                    <input type="text" name="new_product_no" value="{$data['new_product_no']}" placeholder="研发产品编号" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
    </div>
</div>