<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>订单管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/assets/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/assets/style/admin.css" media="all">
</head>
<body>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>订单管理</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <{include file="planner/planner/search"}>
                    <table class="layui-hide" id="table" lay-filter="table"></table>
                    <script type="text/html" id="table-tool">
                        <div class="layui-btn-container">
                            <button class="layui-btn layui-btn-sm" lay-event="allocate">分配</button>
                        </div>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var tableTitle = '红丝';
    var tableRequestUrl = "{:htmlspecialchars_decode($_SERVER['REQUEST_URI'])}";
</script>
<script src="/assets/layui/layui.js"></script>
<script>
layui.config({
    base: '/assets/' //静态资源所在路径
}).extend({
    index: 'lib/index' //主入口模块
}).use(['index', 'table', 'laydate'], function () {
    var $ = layui.jquery
        ,table = layui.table
        ,laydate = layui.laydate;

    laydate.render({
        elem: '#date_range',
        type: 'date',
        range: '~'
    });

    table.render({
        elem: '#table'
        ,url: tableRequestUrl
        ,height: 'full-100'
        ,defaultToolbar: ['filter']
        // ,toolbar: '#table-toolbar'
        ,toolbar: false
        ,title: tableTitle
        ,cols: [
            [
                {
                    "field": "tool",
                    "title": "操作",
                    "align": "center",
                    "width": 140,
                    "type": "tool",
                    "toolbar": "#table-tool"
                },{
                    "field": "company",
                    "title": "所属公司",
                    "align": "center",
                    "width": 120,
                    "event" : "showOrder"
                },
                {
                    "field": "salesman",
                    "title": "签单销售",
                    "align": "center",
                    "width": 120,
                    "event" : "showOrder"
                },
                {
                    "field": "sign_date",
                    "title": "签约日期",
                    "align": "center",
                    "width": 120
                },
                {
                    "field": "event_date",
                    "title": "举办日期",
                    "align": "center",
                    "width": 120
                },
                {
                    "field": "bridegroom",
                    "title": "新郎姓名",
                    "align": "center",
                    "width": 120
                },
                {
                    "field": "bridegroom_mobile",
                    "title": "新郎电话",
                    "align": "center",
                    "width": 120
                },
                {
                    "field": "bride",
                    "title": "新娘姓名",
                    "align": "center",
                    "width": 120
                },
                {
                    "field": "bride_mobile",
                    "title": "新娘电话",
                    "align": "center",
                    "width": 120
                },
                {
                    "field": "hotel_id",
                    "title": "酒店名称",
                    "align": "center",
                    "width": 120
                },
                {
                    "field": "banquet_hall_name",
                    "title": "宴会厅",
                    "align": "center",
                    "width": 120
                },
                {
                    "field": "create_time",
                    "title": "创建时间",
                    "align": "center",
                    "width": 120
                },
                {
                    "field": "mobile",
                    "title": "客户电话",
                    "align": "center",
                    "width": 120
                },
                {
                    "field": "source_id",
                    "title": "渠道来源",
                    "align": "center",
                    "width": 120
                },
            ]
        ]
        ,page: true,
        limit: 30,
        limits: [20, 30]
    });

    var height = window.innerHeight;
    var width = window.innerWidth * 0.6;
    var url = '';
    //头工具栏事件
    table.on('toolbar(table)', function (obj) {
        var checkStatus = table.checkStatus(obj.config.id);
        var url = '';
        switch (obj.event) {
            case "searchCustomer":
                if($("#advance-search").hasClass("layui-hide")) {
                    $("#advance-search").removeClass("layui-hide");
                } else {
                    $("#advance-search").addClass("layui-hide");
                }
                break;
        }
    });

    //监听行工具事件
    table.on('tool(table)', function (obj) {
        var id = obj.data.id;
        switch (obj.event) {
            case 'allocate':
                url = '/index/planner.staff/staffs.html?order_id=' + id;
                layer.open({
                    type: 2,
                    title: '跟单管理',
                    content: url,
                    area: [width + 'px', height + 'px'],
                    offset: 'rb'
                });
                break;

            case 'showOrder':
                url = '/index/order.order/showorder.html?id=' + id;
                top.layui.index.openTabsPage(url, '查看订单详情');
                break;
        }
    });

});
</script>
</body>
</html>