<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>系统工具-列表视图</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/assets/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/assets/style/admin.css" media="all">
</head>
<body>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>创建视图</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px;">
            <form class="layui-form" method="post" action="{:url('Hotel/doCreateView')}" lay-filter="component-form-group">
                <div class="layui-form-item">
                    <label class="layui-form-label">视图名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="page_title" lay-verify="required" placeholder="请输入页面标题" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">文件名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="file_title" lay-verify="required" placeholder="请输入文件名称" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">数据依赖</label>
                    <div class="layui-input-block">
                        <select name="table-name" lay-filter="table-name">
                            <option value=""></option>
                            <{foreach item="table" name="tables"}>
                                <option value="{$table[$field]}">{$table[$field]}</option>
                            <{/foreach}>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">字段设置</label>
                    <div class="layui-input-block" id="set-fields-block">
                        <input type="text" value="请先选择'数据依赖'" disabled autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">工具栏</label>
                    <div class="layui-input-block">
                        <table class="layui-table">
                            <colgroup>
                                <col width="100">
                                <col>
                                <col width="100">
                                <col>
                            </colgroup>
                            <tr>
                                <td>显示名称</td>
                                <td>
                                    <input type="text" name="toolbar[text][]" lay-verify="required" autocomplete="off" class="layui-input">
                                </td>
                                <td>事件名称</td>
                                <td>
                                    <input type="text" name="toolbar[name][]" lay-verify="required" autocomplete="off" class="layui-input">
                                </td>
                                <td>逻辑路径</td>
                                <td>
                                    <input type="text" name="toolbar[action][]" lay-verify="required" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <div class="layui-btn-group">
                                        <a class="layui-btn add-toolbar">复制</a>
                                        <a class="layui-btn del-toolbar">删除</a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">行操作</label>
                    <div class="layui-input-block">
                        <table class="layui-table">
                            <colgroup>
                                <col width="100">
                                <col>
                                <col width="100">
                                <col>
                            </colgroup>
                            <tr>
                                <td>显示名称</td>
                                <td>
                                    <input type="text" name="tool[text][]" lay-verify="required" autocomplete="off" class="layui-input">
                                </td>
                                <td>事件名称</td>
                                <td>
                                    <input type="text" name="tool[name][]" lay-verify="required" autocomplete="off" class="layui-input">
                                </td>
                                <td>逻辑路径</td>
                                <td>
                                    <input type="text" name="tool[action][]" lay-verify="required" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <div class="layui-btn-group">
                                        <a class="layui-btn add-tool">复制</a>
                                        <a class="layui-btn del-tool">删除</a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">保存目录</label>
                    <div class="layui-input-block">
                        <select name="table-name" lay-filter="table-name">
                            <option value=""></option>
                            <{foreach item="dir" name="viewDirs"}>
                                <option value="{$dir}">{$key}</option>
                            <{/foreach}>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item layui-layout-admin">
                    <div class="layui-input-block">
                        <div class="layui-footer" style="left: 0;">
                            <button class="layui-btn" lay-submit="" lay-filter="component-form">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

<script src="/assets/layui/layui.js"></script>
<script>
    layui.config({
        base: '/assets/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'form'], function(){
        var admin = layui.admin
            ,form = layui.form
            ,$ = layui.$
            ,element = layui.element;

        form.on("select(table-name)", function (data) {
            var url = '{:url("System/setTableViewFields")}';
            $.post(url, {table:data.value}, function (result) {
                $("#set-fields-block").html(result);
                form.render();
            })
        });

        // 增加工具栏
        $(document).on("click", ".add-toolbar", function(){
            var table = $(this).parents("table");
            var tr = $(this).parents("tr");
            var ntr = tr.clone();
            table.append(ntr);
        });

        // 删除工具栏
        $(document).on("click", ".del-toolbar", function(){
            var message = '确认删除此行么?';
            var table = $(this).parents("table");
            var tr = $(this).parents("tr");
            var trs = table.find("tr");
            if(trs.length == 1) {
                message = "这已经是最后一行！<br>删除后，此页面将不出现工具栏";
            }

            layer.confirm(message, {
                btn: ['确定','取消'] //按钮
            }, function(){
                tr.remove();
                layer.msg('删除成功', {icon: 1});
            });
        });

        // 增加操作栏操作
        $(document).on("click", ".add-tool", function(){
            var table = $(this).parents("table");
            var tr = $(this).parents("tr");
            var ntr = tr.clone();
            table.append(ntr);
        });

        // 删除操作栏操作
        $(document).on("click", ".del-tool", function(){
            var message = '确认删除此行么?';
            var table = $(this).parents("table");
            var tr = $(this).parents("tr");
            var trs = table.find("tr");
            if(trs.length == 1) {
                message = "这已经是最后一行！<br>删除后，页面将不显示操作按钮";
            }

            layer.confirm(message, {
                btn: ['确定','取消'] //按钮
            }, function(){
                tr.remove();
                layer.msg('删除成功', {icon: 1});
            });
        });

        // 查看代码
        $(document).on("click", ".layui-show-code", function(){
            var url = "{:url('System/getSourceCode')}";
            var source = $(this).parents("tr").find(".source").val();
            var height = window.innerHeight * 0.6;
            var width = window.innerWidth * 0.6;
            $.post(url,{source:source}, function (res) {
                layer.open({
                    type: 1,
                    content: res,
                    area: [width+'px',height+'px'],
                });
            })
        })

    });
</script>
</body>
</html>