<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{$Request.param.page_title}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/assets/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/assets/style/admin.css" media="all">
</head>
<body>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>{$Request.param.page_title}</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <table class="layui-hide" id="table" lay-filter="table"></table>
                    <{if !empty($toolbars)}>
                    <script type="text/html" id="table-toolbar">
                        <{foreach item="toolbar" name="toolbars['text']"}>
                        <div class="layui-btn-container">
                            <button class="layui-btn layui-btn-sm" lay-event="{$toolbars['name'][$key]}">{$toolbars['text'][$key]}</button>
                        </div>
                        <{/foreach}>
                    </script>
                    <{/if}>

                    <{if !empty($tools)}>
                    <script type="text/html" id="table-tool">
                        <div class="layui-btn-container">
                        <{foreach item="tool" name="tools['text']"}>
                            <button class="layui-btn layui-btn-sm" lay-event="{$tools['name'][$key]}">{$tools['text'][$key]}</button>
                        <{/foreach}>
                        </div>
                    </script>
                    <{/if}>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/layui/layui.js"></script>
<script>
    layui.config({
        base: '/assets/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table'], function(){
        var admin = layui.admin
            ,table = layui.table;

        table.render({
            elem: '#table'
            ,url: '{:url($Request.param.ajax_url)}'
            ,height: 'full-100'
            ,defaultToolbar: ['filter']
            ,toolbar: '#table-toolbar'
            ,title: '{$Request.param.page_title}'
            ,cols: [{:htmlspecialchars_decode($cols,ENT_QUOTES)}]
            ,page: true
        });

        var height = window.innerHeight;
        var width = window.innerWidth * 0.6;
        var url = '';
        //头工具栏事件
        table.on('toolbar(table)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            var url = '';
            switch(obj.event){
                <{foreach item="toolbar" name="toolbars[text]"}>
                case '{$toolbars["name"][$key]}':
                    var data = checkStatus.data;
                    url = '{:url($toolbars["action"][$key])}';
                    layer.open({
                        type: 2,
                        title: '{$toolbars["text"][$key]}',
                        content: url,
                        area: [width+'px',height+'px'],
                        offset:'rb'
                    });
                    break;
                <{/foreach}>
            };
        });

        //监听行工具事件
        table.on('tool(table)', function(obj){
            switch(obj.event){
                <{foreach item="tool" name="tools[text]"}>
                case '{$tools["name"][$key]}':
                    url = '{:url($tools["action"][$key])}';
                    layer.open({
                        type: 2,
                        title: '{$tools["text"][$key]}',
                        content: url,
                        area: [width+'px',height+'px'],
                        offset:'rb'
                    });
                    break;
                <{/foreach}>
            };
        });

    });
</script>
</body>
</html>