html,body{
    width: 100%;
    height: 100%;
}

body {
    padding: 8px 12px;
}

.tab-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.tab-box .nav{
    flex: 0 42px;
}

.tab-box .tab-content {
    flex: 1;
}
.tab-box .tab-content .tab-pane {
    width: 100%;
    height: 100%;
}

.tab-box .tab-content .tab-pane .flex{
    display: flex;
    width: 100%;
    height: 100%;
}

.customer-box{
    flex: 1;
}

.panel-store-sales-assigned .panel-heading{
    font-size: 16px;
    font-weight: bolder;
}

.panel-store-sales-assigned-body {
    display: flex;
    flex-wrap: wrap;
}

.panel-store-sales-assigned-body .store-sales{
    padding: 8px 20px;
    margin-right: 12px;
    margin-bottom: 12px;
    border: 1px solid #dedede;
}

.hotel-list-box,
.hotel-detail-box{
    flex: 1;
    height: 100%;
    overflow: hidden;
}
.hotel-list-box {
    display: flex;
    height: 100vh;
    flex-direction: column;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
}
.hotel-search-box{

}
.hotel-searched{
    flex: 1;
    overflow: auto;
}
.hotel-selected{
    flex: 0 396px;
    overflow: auto;
    border-top: 1px solid #dedede;
}
/*************** hotel search ***************/
.hotel-search-box .btn{
    border-radius: 0;
}
.hotel-search-box .form-control{
    border-radius: 0;
}
/*************** hotel *********************/
.hotel-list{
    position: relative;
    font-size: 12px!important;
    overflow: auto;
    padding: 42px 12px 8px;
    border-top: 1px solid #dedede;
    box-sizing: content-box;
}

.hotel-list-header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 34px;
    line-height: 34px;
    background-color: cadetblue;
    color: #fff;
    padding: 0 12px;
}

.hotel-item{
    display: flex;
    width: 100%;
    padding: 3px 0;
    border-bottom: 1px solid #dedede;
}

.hotel-item:last-child{
    border-bottom: none;
}

.hotel-item .hotel-fields{
    flex: 1;
}

.hotel-item dl dt a{
    font-size: 14px!important;
    font-weight: 900;
    color: cornflowerblue;
}
.hotel-item .hotel-ctrl{
    flex: 0 5em;
}

.hotel-item .hotel-ctrl .btn{
    border-radius: 0;
    padding: 2px 6px;
    font-size: 12px;
}

#hotel-data dl dt,
#hotel-data dl dd{
    padding: 4px 8px;
}

.selected-item-list{
    display: flex;
}

.selected-item-list .selected-item{
    padding: 3px 5px;
    font-size: 12px;
    margin-right: 2px;
    border: 1px solid #dedede;
    line-height: 1;
    cursor: pointer;
}

.selected-box label {
    padding: 0 8px;
}
