h4 {
    padding: 8px 0;
}

.padding-right-8{
    padding-right: 8px;
}

.ox-tab,
.ox-tab-left,
.ox-tab-right{
    display: flex;
}

.ox-tab a,
.ox-tab-left a,
.ox-tab-right a{
    position: relative;
    height: 40px;
    line-height: 40px;
    min-width: 65px;
    padding: 0 15px;
    color: #333;
    text-decoration: none;
}

.ox-tab a .badge{
    position: absolute;
    top: 0;
}

.ox-tab {
    border-bottom: 1px solid #dedede;
}

.ox-tab-right{
   flex: 1;
   flex-direction: row-reverse;
}

.ox-tab a.active{
    border: 1px solid #dedede;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.ox-table {
    width: 100%;
    overflow: auto;
}

.table thead tr th{
    background: #e6e6e6;
    color: #666;
    white-space: nowrap;
}

.table tbody tr td{
    white-space: nowrap;
}

.table thead tr th.left,
.table tbody tr td.left
{
    text-align: left;
}

.table tbody tr td.break{
    text-align: left;
    white-space: normal;
}
.table>tbody>tr:first-child>td, 
.table>tbody>tr:first-child>th, 
.table>tfoot>tr:first-child>td, 
.table>tfoot>tr:first-child>th, 
.table>thead>tr:first-child>td, 
.table>thead>tr:first-child>th  {
    border-top: none;
}

.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
    vertical-align: middle;
}

.table>tbody>tr.blank>td, 
.table>tbody>tr.blank>th, 
.table>tfoot>tr.blank>td, 
.table>tfoot>tr.blank>th, 
.table>thead>tr.blank>td, 
.table>thead>tr.blank>th {
    height: 51px;
    border: none;
}

.table>tbody>tr>td .textarea, 
.table>tfoot>tr>td .textarea, 
.table>tfoot>tr>th .textarea, 
.table>thead>tr>td .textarea, 
.table>thead>tr>th .textarea{
    height: 255px;
}
.form-control-group{
    display: flex;
    position: relative;
}
.form-control-group .form-control{
    flex: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.form-control-group .btn-group .btn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.region-group {
    display: flex;
}
.region-group select{
    border-radius: 0;
}
.region-group .ms-parent{
    flex: 1;
    width: auto!important;
}
.region-group .ms-parent .ms-choice,
.ms-parent .ms-choice{
    height: 34px;
    line-height: 34px;
    border-radius: 0;
}
.region-group .ms-parent:nth-child(odd) .ms-choice{
    border-left: none;
    border-right: none;
}
.table>thead>tr>th.relative,
.table>tbody>tr>td.relative{
    position: relative;
}
.table a.block{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.group-radio label{
    padding-right: 12px;
}

/*************** group list **************/

.group-list {
    display: none;
    background-color: #eee;
}
.group-list .list-item {
    display: flex;
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid #fff;
}
.group-list .list-item:last-child{
    border-bottom: none;
}

.group-list .list-item .list-item-detail{
    flex: 1;
}
.group-list .list-item .list-item-ctrl {
    flex: 0 30%;
    text-align: right;
}

.group-list .list-item .list-item-ctrl .btn {
    padding-left: 12px;
    font-size: 14px;
    padding: 0 6px;
}

.form-control-group .group-list{
    position: absolute;
    width: 100%;
    left: 0;
    top: 35px;
    padding: 16px 12px;
    z-index: 100;
}

#hotel-images .carousel-inner .item{
    width: 100%;
    max-height: 337px;
    overflow: hidden;
}

.col-checkbox,
.col-id{
    width: 2rem;
}
.col-valid{
    width: 2rem;
}
.col-sort{
    width: 2rem;
}
.col-datetime{
    width: 2rem;
}
.col-options{
    max-width: 100px;
}

.space-10{
    height: 10px;
}

.multiple-select{
    padding: 0;
}

.ms-parent .ms-choice {
    border: none;
    background: none;
}