<div class="layui-card">
    <div class="layui-card-header">合同基本信息</div>
    <div class="layui-card-body">
        <!--合同信息-->
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">公司</label>
                <div class="layui-input-inline">
                    <{include file="order/common/company_select" /}>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">订单类型</label>
                <div class="layui-input-inline">
                    <select name="news_type" lay-filter="news_type">
                        <option value="2" <{if $data['news_type'] == '2'}>selected<{/if}>>一站式订单</option>
                        <option value="1" <{if $data['news_type'] == '1'}>selected<{/if}>>婚庆信息</option>
                        <option value="0" <{if $data['news_type'] == '0'}>selected<{/if}>>婚宴信息</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">合同编号</label>
                <div class="layui-input-inline">
                    <input type="text" name="contract_no" value="{$data['contract_no']}" lay-verify="required" placeholder="合同编号" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">签约日期</label>
                <div class="layui-input-inline">
                    <input type="text" name="sign_date" value="{$data['sign_date']}" lay-verify="required" placeholder="签约日期" autocomplete="off" class="layui-input layui-date">
                </div>
            </div>
        </div>

        <!--举办日期-->
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">举办日期</label>
                <div class="layui-input-inline">
                    <input type="text" name="event_date" value="{$data['event_date']}" lay-verify="required" placeholder="举办日期" autocomplete="off" class="layui-input layui-date">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">酒店名称</label>
                <div class="layui-input-inline">
                    <select name="hotel_id" lay-search lay-filter="hotel_id" lay-verify="required">
                        <option value="">--请选择酒店--</option>
                        <{foreach name="hotels" item="val"}>
                        <option value="{$val['id']}" <{if $data['hotel_id']==$val['id']}>selected<{/if}>>{$val['title']}</option>
                        <{/foreach}>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">宴会厅</label>
                <div class="layui-input-inline">
                    <select name="banquet_hall_id" lay-search>
                        <option value="">--请选宴会厅--</option>
                        <{foreach name="halls" item="val"}>
                        <option value="{$val['id']}" <{if $data['banquet_hall_id']==$val['id']}>selected<{/if}>>{$val['title']}</option>
                        <{/foreach}>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">合作模式</label>
                <div class="layui-input-inline">
                    <select name="cooperation_mode" lay-search>
                        <option value="">--选择合作模式--</option>
                        <option value="1" <{if $data['cooperation_mode'] == '1'}>selected<{/if}>>返佣单</option>
                        <option value="2" <{if $data['cooperation_mode'] == '2'}>selected<{/if}>>代收代付</option>
                        <option value="3" <{if $data['cooperation_mode'] == '3'}>selected<{/if}>>代收代付+返佣单</option>
                    </select>
                </div>
            </div>
        </div>

        <!--新浪新娘信息-->
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">新郎姓名</label>
                <div class="layui-input-inline">
                    <input type="text" name="bridegroom" value="{$data['bridegroom']}" lay-verify="required" placeholder="新郎姓名" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">新郎电话</label>
                <div class="layui-input-inline">
                    <input type="text" name="bridegroom_mobile" value="{$data['bridegroom_mobile']}" lay-verify="required" placeholder="新郎电话" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">新娘姓名</label>
                <div class="layui-input-inline">
                    <input type="text" name="bride" value="{$data['bride']}" lay-verify="required" placeholder="新娘姓名" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">新娘电话</label>
                <div class="layui-input-inline">
                    <input type="text" name="bride_mobile" value="{$data['bride_mobile']}" lay-verify="required" placeholder="新娘电话" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

    </div>
</div>