<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{$Think.config.app_name}</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- basic styles -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/css/ace.min.css" />
    <link rel="stylesheet" href="/static/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="/static/css/ace-skins.min.css" />
    <link rel="stylesheet" href="/static/css/ace.extend.css" />
    <link rel="stylesheet" href="/static/css/ace-ie.min.css" />
</head>

<body>
<div class="navbar navbar-default" id="navbar">
    <div class="navbar-container" id="navbar-container">
        <div class="navbar-header pull-left">
            <a href="{:url('Index/index')}" class="navbar-brand">
                <small>E5W系统</small>
            </a>
        </div>

        <div class="navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
                <li class="purple dropdown-modal">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <!--icon-animated-bell-->
                        <i class="icon icon-bell"></i> 消息
                        <span class="badge badge-important">8</span>
                    </a>
                    <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                        <li class="dropdown-header">
                            <i class="ace-icon fa fa-exclamation-triangle"></i>
                            8 Notifications
                        </li>
                        <li class="dropdown-content ace-scroll" style="position: relative;"><div class="scroll-track" style="display: none;"><div class="scroll-bar"></div></div><div class="scroll-content" style="max-height: 200px;">
                            <ul class="dropdown-menu dropdown-navbar navbar-pink">
                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <span class="pull-left">
                                            <i class="btn btn-xs no-hover btn-pink fa fa-comment"></i>
                                            New Comments
                                            </span>
                                            <span class="pull-right badge badge-info">+12</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="btn btn-xs btn-primary fa fa-user"></i>
                                        Bob just signed up as an editor ...
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <span class="pull-left">
                                            <i class="btn btn-xs no-hover btn-success fa fa-shopping-cart"></i>
                                            New Orders
                                            </span>
                                            <span class="pull-right badge badge-success">+8</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <span class="pull-left">
                                            <i class="btn btn-xs no-hover btn-info fa fa-twitter"></i>
                                            Followers
                                            </span>
                                            <span class="pull-right badge badge-info">+11</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div></li>
                        <li class="dropdown-footer">
                            <a href="#">
                                See all notifications
                                <i class="ace-icon fa fa-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="light-blue">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <img class="nav-user-photo" src="/static/avatars/user.jpg" alt="Jason's Photo" />
                        <span class="user-info">
                            <small>欢迎光临,</small>
                            {$user['realname']|default="超级管理员"}
                        </span>
                        <i class="icon-caret-down"></i>
                    </a>

                    <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">

                        <li>
                            <a href="{:url('User/info')}">
                                <i class="icon-user"></i>
                                个人资料
                            </a>
                        </li>

                        <li>
                            <a href="{:url('User/repassword')}">
                                <i class="icon-lock"></i>
                                重置密码
                            </a>
                        </li>

                        <li class="divider"></li>

                        <li>
                            <a href="{:url('Passport/logout')}">
                                <i class="icon-off"></i>
                                退出
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="main-container" id="main-container">
    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <div class="sidebar" id="sidebar">
            <div class="sidebar-shortcuts" id="sidebar-shortcuts">

                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>

                    <span class="btn btn-info"></span>

                    <span class="btn btn-warning"></span>

                    <a href="{:url('Index/index')}" class="btn btn-danger" title="系统设置"></a>
                </div>
            </div>
            <!-- #sidebar-shortcuts -->

            <ul class="nav nav-list">
                <{volist id="menu" name="menus"}>
                    <li>
                        <a href="#" class="dropdown-toggle">
                            <i class="{$menu['icon']}"></i>
                            <span class="menu-text"> {$key}</span>
                            <b class="arrow icon-angle-down"></b>
                        </a>
                        <ul class="submenu">
                            <{foreach item="val" name="menu['items']"}>
                                <li <{if condition="CONTROLLER_NAME.'/'.ACTION_NAME eq $val['url']"}>class="active"<{/if}>>
                                <a href="javascript:void(0);" data-action="{:url($val['url'])}">
                                    <i class="icon-double-angle-right"></i>
                                    {$val['text']}
                                </a>
                                </li>
                            <{/foreach}>
                        </ul>
                    </li>
                <{/volist}>
            </ul>

            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
            </div>
        </div>

        <!-- 内容 -->
        <div class="main-content">
            <iframe id="frame" src="{:url('Customer/index')}" width="100%" border="0" onload="changeFrameHeight()"></iframe>
        </div>
    </div>
</div>
<script src="/static/js/jquery-1.11.3.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/ace-extra.min.js"></script>
<script src="/static/js/ace.min.js"></script>
<script src="/static/js/ace-elements.min.js"></script>
<script>
    function changeFrameHeight(){
        var ifm = document.getElementById("frame");
        ifm.height = document.documentElement.clientHeight - 50;
    }

    window.onresize=function(){
        changeFrameHeight();
    }

    $(function(){
        $(".nav-list ul.submenu li a").click(function(){
            var url = $(this).attr("data-action");
            console.log(url);
            $("#frame").attr("src", url);
            $(".nav-list li").removeClass("active");
            $(this).parent().addClass("active")
            changeFrameHeight();
        });
    })
</script>
</body>
</html>