<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>我的客资</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/assets/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/assets/style/admin.css" media="all">
</head>
<body>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>我的客资</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <form class="layui-form layui-hide" id="advance-search" action="{:htmlspecialchars_decode($_SERVER['REQUEST_URI'])}">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <select name="staff" lay-verify="">
                                    <option value="">员工列表</option>
                                    <{foreach name="staffes" item="val"}>
                                    <option value="{$val['id']}">{$val['title']}</option>
                                    <{/foreach}>
                                </select>
                            </div>

                            <div class="layui-inline">
                                <select name="source" lay-verify="">
                                    <option value="">平台来源</option>
                                    <{foreach name="sources" item="val"}>
                                    <option value="{$val['id']}">{$val['title']}</option>
                                    <{/foreach}>
                                </select>
                            </div>

                            <div class="layui-inline">
                                <input type="text" name="date_range" id="date_range" lay-verify="0" placeholder="时间区间" autocomplete="off" class="layui-input">
                            </div>

                            <div class="layui-inline ">
                                <button class="layui-btn" lay-submit="" lay-filter="form-submit">搜索</button>
                            </div>
                        </div>
                    </form>
                    <div class="layui-tab">
                        <ul class="layui-tab-title">
                            <{foreach name="tabs" item="val"}>
                            <{if $val['checked'] == '1'}>
                            <li class="layui-this">
                                <a href="{$val.url}">{$val.text}</a>
                            </li>
                            <{else /}>
                            <li>
                                <a href="{$val.url}">{$val.text}</a>
                            </li>
                            <{/if}>
                            <{/foreach}>
                        </ul>
                    </div>
                    <table class="layui-hide" id="table" lay-filter="table"></table>
                    <script type="text/html" id="table-toolbar">
                        <{if empty($get['status'])}>
                        <div class="layui-btn-container">
                            <button class="layui-btn layui-btn-sm" lay-event="confirmOrderApply">确认申请</button>
                            <button class="layui-btn layui-btn-sm" lay-event="cancelOrderApply">取消申请</button>
                        </div>
                        <{/if}>
                    </script>
                    <script type="text/html" id="table-tool">
                        <div class="layui-btn-container">
                            <button class="layui-btn layui-btn-sm" lay-event="editOrder">编辑</button>
                        </div>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/layui/layui.js"></script>
<script>
    layui.config({
        base: '/assets/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'laydate'], function () {
        var $ = layui.jquery
            ,table = layui.table
            ,laydate = layui.laydate;

        laydate.render({
            elem: '#date_range',
            type: 'date',
            range: '~'
        });

        table.render({
            elem: '#table',
            url: "{:htmlspecialchars_decode($_SERVER['REQUEST_URI'])}",
            height: 'full-100',
            defaultToolbar: ['filter'],
            toolbar: '#table-toolbar',
            title: '订单确认',
            cols: [[
                {
                    "type": "checkbox",
                    "width": 50,
                    "fixed": "left"
                },
                {
                    "field":"news_type",
                    "title":"信息类型",
                    "width":120
                },
                {
                    "field":"realname",
                    "title":"客户姓名",
                    "width":120
                },
                {
                    "field":"mobile",
                    "title":"客户电话",
                    "width":120
                },
                {
                    "field":"source_id",
                    "title":"渠道来源",
                    "width":120
                },
                {
                    "field":"sales_id",
                    "title":"跟单销售",
                    "width":120
                },
                {
                    "field":"manager_id",
                    "title":"区域经理",
                    "width":120
                },
                {
                    "field":"sign_date",
                    "title":"签约日期",
                    "width":120
                },
                {
                    "field":"wedding_date",
                    "title":"婚礼日期",
                    "width":120
                },
                {
                    "field":"bridegroom",
                    "title":"新郎姓名",
                    "width":120
                },
                {
                    "field":"bridegroom_mobile",
                    "title":"新郎电话",
                    "width":120
                },
                {
                    "field":"bride",
                    "title":"新娘姓名",
                    "width":120
                },
                {
                    "field":"bride_mobile",
                    "title":"新郎电话",
                    "width":120
                },
                {
                    "field":"banquet_hall_id",
                    "title":"宴会厅",
                    "width":120
                },
                {
                    "field":"entire_price",
                    "title":"一站式价格",
                    "width":120
                },
                {
                    "field":"table_amount",
                    "title":"桌数",
                    "width":120
                },
                {
                    "field":"table_price",
                    "title":"餐标",
                    "width":120
                },
                {
                    "field":"wine_fee",
                    "title":"酒水费用",
                    "width":120
                },
                {
                    "field":"service_fee",
                    "title":"服务费",
                    "width":120
                },
                {
                    "field":"income_customer_fee",
                    "title":"应收客人费用",
                    "width":120
                },
                {
                    "field":"income_wedding_celebration_admission_fee",
                    "title":"收婚庆进场费",
                    "width":120
                },
                {
                    "field":"income_fee",
                    "title":"收入总额",
                    "width":120
                },
                {
                    "field":"pay_hotel_admission_fee",
                    "title":"付酒店进场费",
                    "width":120
                },
                {
                    "field":"pay_hotel_fee",
                    "title":"应付酒店费用",
                    "width":120
                },
                {
                    "field":"platform_source_fee",
                    "title":"平台渠道费用",
                    "width":120
                },
                {
                    "field":"person_source_fee",
                    "title":"个人渠道费用",
                    "width":120
                },
                {
                    "field":"other_source_fee",
                    "title":"其他",
                    "width":120
                },
                {
                    "field":"hongsi_settlement_fee",
                    "title":"红丝婚庆结算费",
                    "width":120
                },
                {
                    "field":"wedding_banquet_commission",
                    "title":"婚宴提成",
                    "width":120
                },
                {
                    "field":"wedding_celebration_commission",
                    "title":"婚庆提成",
                    "width":120
                },
                {
                    "field":"wedding_celebration_commission",
                    "title":"婚庆提成",
                    "width":120
                },
                {
                    "field":"total_pay",
                    "title":"支出总额",
                    "width":120
                },
                {
                    "field":"revenue",
                    "title":"营收",
                    "width":120
                },
                {
                    "field":"gross_profit",
                    "title":"毛利",
                    "width":120
                },
                {
                    "field":"end_commission",
                    "title":"最终提成",
                    "width":120
                },
                {
                    "field":"manager_commission",
                    "title":"区域经理提成",
                    "width":120
                },
                {
                    "field":"manager_recommend_commission",
                    "title":"区域经理引流提成",
                    "width":120
                },
                {
                    "field":"remark",
                    "title":"备注",
                    "width":120
                },
                {
                    "field":"create_time",
                    "title":"创建时间",
                    "width":120
                },
                {
                    "field":"tool",
                    "title":"操作",
                    "width":120,
                    "fixed":"right",
                    "type":"tool",
                    "toolbar":"#table-tool"
                }
            ]],
            page: true
            ,limit: 30
            ,limits: [30,50]
        });

        var getSelectedIds = function (jsonArr) {
            var ids = [];
            jsonArr.forEach(function (value, key) {
                ids.push(value.id)
            });

            return ids.join(',');
        }

        var height = window.innerHeight;
        var width = window.innerWidth * 0.6;
        var url = '';
        //头工具栏事件
        table.on('toolbar(table)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            var checkedboxes = checkStatus.data;
            var url = '';
            var ids = '';
            switch (obj.event) {
                case "searchCustomer":
                    if($("#advance-search").hasClass("layui-hide")) {
                        $("#advance-search").removeClass("layui-hide");
                    } else {
                        $("#advance-search").addClass("layui-hide");
                    }
                    break;

                case 'confirmOrderApply':
                    if(checkedboxes.length < 1) {
                        layer.msg("请选择要要确认的申请");
                        return false;
                    }
                    ids = getSelectedIds(checkedboxes);
                    url = '/index/manager/confirmorderapply.html';
                    $.post(url, {ids:ids}, function (res) {
                        if(res.code == '200') {
                            layer.msg(res.msg);
                            table.reload();
                        } else {
                            layer.msg(res.msg);
                        }
                    });
                    break;
                case 'cancelOrderApply':
                    if(checkedboxes.length < 1) {
                        layer.msg("请选择要要驳回的申请");
                        return false;
                    }
                    ids = getSelectedIds(checkedboxes);
                    url = '/index/manager/cancelorderapply.html';
                    $.post(url, {ids:ids}, function (res) {
                        if(res.code == '200') {
                            alert(res.msg);
                            table.reload("table");
                        } else {
                            layer.msg(res.msg);
                        }
                    });
            }
            ;
        });

        //监听行工具事件
        table.on('tool(table)', function (obj) {
            var id = obj.data.order_id;
            switch (obj.event) {
                case 'editOrder':
                    url = '/index/order/editorder.html?id=' + id;
                    layer.open({
                        type: 2,
                        title: '编辑订单',
                        content: url,
                        area: [width + 'px', height + 'px'],
                        offset: 'rb'
                    });
                    break;
            };
        });

    });
</script>
</body>
</html>