<div class="layui-card layui-card-item">
    <div class="layui-card-header layui-card-header-flex">
        <div class="layui-card-header-title">酒店消费信息</div>
        <div class="layui-card-header-right layui-card-delete">删除</div>
    </div>
    <div class="layui-card-body">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label ">婚房数量</label>
                <div class="layui-input-inline layui-input-flex">
                    <input type="number" name="wedding_room_amount" value="{$data['wedding_room_amount']}" lay-verify="" placeholder="婚房数量" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label ">婚房价格</label>
                <div class="layui-input-inline layui-input-flex">
                    <input type="number" name="wedding_room" value="{$data['wedding_room']}" lay-verify="" placeholder="婚房价格" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label ">停车位数量</label>
                <div class="layui-input-inline layui-input-flex">
                    <input type="number" name="part_amount" value="{$data['part_amount']}" lay-verify="" placeholder="停车位数量" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label ">停车位价格</label>
                <div class="layui-input-inline layui-input-flex">
                    <input type="number" name="part" value="{$data['part']}" lay-verify="" placeholder="停车位价格" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label ">香槟数量</label>
                <div class="layui-input-inline layui-input-flex">
                    <input type="number" name="champagne_amount" value="{$data['champagne_amount']}" lay-verify="" placeholder="香槟数量" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label ">香槟价格</label>
                <div class="layui-input-inline layui-input-flex">
                    <input type="number" name="champagne" value="{$data['champagne']}" lay-verify="" placeholder="香槟价格" autocomplete="off" class="layui-input">
                </div>
            </div>


            <div class="layui-inline">
                <label class="layui-form-label">茶歇数量</label>
                <div class="layui-input-inline layui-input-flex">
                    <input type="number" name="tea_amount" value="{$data['tea_amount']}" lay-verify="" placeholder="茶歇数量" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">茶歇价格</label>
                <div class="layui-input-inline layui-input-flex">
                    <input type="number" name="tea" value="{$data['tea']}" lay-verify="" placeholder="茶歇价格" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">蛋糕数量</label>
                <div class="layui-input-inline layui-input-flex">
                    <input type="number" name="cake_amount" value="{$data['cake_amount']}" lay-verify="" placeholder="蛋糕数量" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">蛋糕数量</label>
                <div class="layui-input-inline layui-input-flex">
                    <input type="number" name="cake" value="{$data['cake']}" lay-verify="" placeholder="蛋糕价格" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
    </div>
</div>