<div class="layui-card layui-card-item">
    <div class="layui-card-header">
        <div class="layui-card-header-title">婚庆基本信息</div>
        <div class="layui-card-header-right">
            <div class="layui-card-delete" data-target="#btn-append-wedding">删除</div>
        </div>
    </div>

    <div class="layui-card-body">
        <div class="layui-row">
            <div class="layui-col-md9">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label layui-color-red">婚庆总金额</label>
                        <div class="layui-input-inline">
                            <input type="text" name="wedding_total" value="{$data['wedding_total']}" lay-verify="required" placeholder="婚庆总金额" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">选择套餐</label>
                        <div class="layui-input-inline">
                            <select name="wedding_package_id" class="layui-input">
                                <option value="">选择套餐</option>
                                <{foreach name="packages" item="row"}>
                                <option value="{$row.id}">{$row.title}</option>
                                <{/foreach}>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">婚庆套餐价</label>
                        <div class="layui-input-inline">
                            <input type="text" name="wedding_package_price" value="{$data['wedding_package_price']}" lay-verify="required" placeholder="婚庆套餐价" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>

                <!--研发产品信息-->
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">选择仪式</label>
                        <div class="layui-input-inline">
                            <select name="wedding_ritual_id" class="layui-input">
                                <option value="">选择仪式</option>
                                <{foreach name="rituals" item="row"}>
                                <option value="{$row.id}">{$row.title}</option>
                                <{/foreach}>
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">仪式价格</label>
                        <div class="layui-input-inline">
                            <input type="text" name="wedding_ritual_hall" value="{$data['wedding_ritual_hall']}" lay-verify="" placeholder="仪式堂" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">其他</label>
                        <div class="layui-input-inline">
                            <input type="text" name="wedding_other" value="{$data['wedding_other']}" lay-verify="" placeholder="其他" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">是否研发产品</label>
                        <div class="layui-input-inline">
                            <select name="is_new_product" lay-search>
                                <option value="0" <{if $data['is_new_product'] == '0'}>selected<{/if}>>否</option>
                                <option value="1" <{if $data['is_new_product'] == '1'}>selected<{/if}>>是</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">研发产品编号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="new_product_no" value="{$data['new_product_no']}" placeholder="研发产品编号" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                </div>
            </div>

            <div class="layui-col-md3">
                <div class="layui-card">
                    <label class="layui-card-header">备注</label>
                    <div class="layui-card-body no-padding no-margin">
                        <textarea name="wedding_remark" class="layui-textarea" placeholder="备注信息">{$data['wedding_remark']}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>