<div class="layui-card layui-card-item">
    <div class="layui-card-header">
        <div class="layui-card-header-title">酒水信息</div>
        <div class="layui-card-header-right">
            <div class="layui-card-delete" data-target="#btn-append-wine">删除</div>
        </div>
    </div>
    <div class="layui-card-body">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">选择销售</label>
                <div class="layui-input-inline">
                    <input type="hidden" name="is_suborder" value="0">
                    <select name="wine_salesman" class="layui-select" lay-search>
                        <option value=""></option>
                        <{foreach name="staffs" item="val"}>
                        <option value="{$val.id}" {$data.salesman==$order.salesman?'selected':''}>{$val.realname}</option>
                        <{/foreach}>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">品牌</label>
                <div class="layui-input-inline">
                    <select class="layui-select" name="wine_id" lay-search lay-verify="">
                        <option value="">请选择酒水</option>
                        <{foreach name="wineList" item="row"}>
                        <option value="{$row['id']}" {$data.wine_id==$row.id?'selected':''}>{$row['title']}</option>
                        <{/foreach}>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">酒水数量</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text" name="wine_amount" value="{$data.wine_amount}" lay-verify="" placeholder="数量" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">酒水费用</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text" name="wine_price" value="{$data.wine_price}" lay-verify="" placeholder="金额" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">联系人</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text" name="wine_contact" value="{$data.wine_contact}" lay-verify="" placeholder="联系人" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">手机号</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text" name="wine_mobile" value="{$data.wine_mobile}" lay-verify="" placeholder="联系人手机号" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">联系地址</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text" name="wine_address" value="{$data.wine_address}" lay-verify="" placeholder="联系地址" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text" name="wine_remark" value="{$data.wine_remark}" lay-verify="" placeholder="备注" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
    </div>
</div>