<div class="layui-card">
    <div class="layui-card-header">婚宴追加信息+</div>
    <div class="layui-card-body">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">加桌</label>
                <div class="layui-input-inline">
                    <input type="text" name="table_amount" value="{$data['table_amount']}" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">餐标</label>
                <div class="layui-input-inline">
                    <input type="text" name="table_price" value="{$data['table_price']}" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">订单金额</label>
                <div class="layui-input-inline">
                    <input type="text" name="income_fee" value="{$data['income_fee']}" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-inline">
                    <label class="layui-form-label">其他</label>
                    <div class="layui-input-inline">
                        <input type="text" name="table_amount" value="{$data['table_amount']}" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="layui-form-item layui-col-md6">-->
        <!--<label class="layui-form-label">明细</label>-->
        <!--<div class="layui-input-block">-->
        <!--<textarea class="layui-textarea" name="remark">{$data['remark']}</textarea>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</div>