<div class="layui-card">
    <div class="layui-card-header">婚庆付款信息</div>
    <div class="layui-card-body">
        <div class="layui-form-item">
            <div class="layui-inline">
                <div class="layui-inline">
                    <label class="layui-form-label">供应商</label>
                    <div class="layui-input-inline">
                        <input type="text" name="supplier" value="{$data['supplier']}" lay-verify="required" placeholder="供应商" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-inline">
                    <label class="layui-form-label">收款名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="wedding_pay_to_company" value="{$data['wedding_pay_to_company']}" lay-verify="0" placeholder="收款名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-inline">
                    <label class="layui-form-label">收款账号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="wedding_pay_to_account" value="{$data['wedding_pay_to_account']}" lay-verify="required" placeholder="收款账号" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-inline">
                    <label class="layui-form-label">开户行</label>
                    <div class="layui-input-inline">
                        <input type="text" name="wedding_pay_to_bank" value="{$data['wedding_pay_to_bank']}" lay-verify="required" placeholder="开户行" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <div class="layui-inline">
                    <label class="layui-form-label">款项性质</label>
                    <div class="layui-input-inline">
                        <select name="wedding_pay_type" lay-verify="required">
                            <option value="1">定金</option>
                            <option value="2">预付款</option>
                            <option value="3">尾款</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-inline">
                    <label class="layui-form-label">付款金额</label>
                    <div class="layui-input-inline">
                        <input type="text" name="wedding_pay_item_price" value="{$data['wedding_pay_item_price']}" lay-verify="required" placeholder="付款金额" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>