<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>编辑婚庆支付信息</title>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/assets/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/assets/style/admin.css?2" media="all">
    <link rel="stylesheet" href="/assets/style/order.css?2" media="all">
    <script src="/assets/layui/layui.js"></script>
    <script src="/assets/lib/order.edit.js"></script>
</head>
<body>
<!--创建、编辑订单-->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px;">
            <form class="layui-form" method="post" action="{:url('/index/order.wedding_payment/doEdit')}" lay-filter="component-form-group">
                <div class="layui-form-item">
                    <label class="layui-form-label">付款编号</label>
                    <div class="layui-input-block">
                        <input type="text" name="wedding_payment_no" value="{$data['wedding_payment_no']}" lay-verify="" placeholder="付款编号" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">申请日期</label>
                    <div class="layui-input-block">
                        <input type="text" name="wedding_apply_pay_date" value="{$data['wedding_apply_pay_date']}" lay-verify="" placeholder="申请日期" autocomplete="off" class="layui-input layui-date">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">款项性质</label>
                    <div class="layui-input-block">
                        <select name="wedding_pay_type" lay-verify="">
                            <option value="">款项性质</option>
                            <option value="1" <{if $data['wedding_pay_type'] == '1'}>selected<{/if}>>定金</option>
                            <option value="2" <{if $data['wedding_pay_type'] == '2'}>selected<{/if}>>中款</option>
                            <option value="3" <{if $data['wedding_pay_type'] == '3'}>selected<{/if}>>尾款</option>
                            <option value="4" <{if $data['wedding_pay_type'] == '4'}>selected<{/if}>>意向金</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">付款金额</label>
                    <div class="layui-input-block">
                        <input type="text" name="wedding_pay_item_price" value="{$data['wedding_pay_item_price']}" lay-verify="" placeholder="付款金额" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">公司名称</label>
                    <div class="layui-input-block">
                        <select name="wedding_supplier" lay-filter="wedding_supplier" lay-search>
                            <option value="">--请选择供应商--</option>
                            <{foreach name="suppliers" item="val"}>
                            <option value="{$val.id}" <{if $data['wedding_supplier'] == $val['id']}>selected<{/if}>>{$val.title}</option>
                            <{/foreach}>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">公司名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="wedding_pay_to_company" value="{$data['wedding_pay_to_company']}" lay-verify="" placeholder="收款账号" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">银行账号</label>
                    <div class="layui-input-block">
                        <input type="text" name="wedding_pay_to_account" value="{$data['wedding_pay_to_account']}" lay-verify="" placeholder="收款账号" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">开户行</label>
                    <div class="layui-input-block">
                        <input type="text" name="wedding_pay_to_bank" value="{$data['wedding_pay_to_bank']}" lay-verify="" placeholder="开户行" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        <textarea name="wedding_payment_remark" class="layui-textarea" placeholder="备注信息">{$data['wedding_payment_remark']}</textarea>
                    </div>
                </div>

                <div class="layui-form-item layui-layout-admin" show-range="0_1_2">
                    <div class="layui-input-inline">
                        <input type="hidden" name="order_id" value="{$data['order_id']}" />
                        <input type="hidden" name="id" value="{$data['id']}"/>
                        <div class="layui-footer" style="left: 0;">
                            <button class="layui-btn" lay-submit="" lay-filter="form-submit">编辑婚庆支付信息</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>