<table class="layui-table no-padding no-margin">
    <colgroup>
        <col width="150">
        <col width="150">
        <col width="150">
        <col width="150">
        <col width="150">
        <col width="150">
        <col width="150">
        <col width="150">
        <col>
    </colgroup>
    <thead>
        <tr>
            <th>申请日期</th>
            <th>款项性质</th>
            <th>付款金额</th>
            <th>收款名称</th>
            <th>开户行</th>
            <th>收款账号</th>
            <th>审核状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <{foreach name="banquetPayments" item="row"}>
            <tr>
                <th>{$row['banquet_apply_pay_date']}</th>
                <th>{$paymentTypes[$row['banquet_pay_type']]}</th>
                <th>{$row['banquet_pay_item_price']}</th>
                <th>{$row['banquet_supplier']}</th>
                <th>{$row['banquet_pay_to_bank']}</th>
                <th>{$row['banquet_pay_to_account']}</th>
                <th>-</th>
                <th>
                    <div class="layui-btn-group">
                        <a href="javascript:void(0);" class="layui-btn layui-btn-xs lay-right" data-action="{:url('order/editBanquetPayment', ['id'=>$row['id']])}">编辑</a>
                        <button type="button" class="layui-btn layui-btn-danger layui-btn-xs">删除</button>
                        <button type="button" class="layui-btn layui-btn-radius layui-btn-xs">审核</button>
                    </div>
                </th>
            </tr>
        <{/foreach}>
    </tbody>
</table>