<div class="layui-card">
    <div class="layui-card-header">
        婚宴基本信息
        <a class="{:auth('Order/createBanquetSuborder')} layui-icon layui-icon-add-circle add_banquet_suborder" style="color: #1E9FFF;" data-title="添加婚宴二销"  href="javascript:void(0);" data-action="{:url('Order/createBanquetSuborder', ['order_id'=>$data['id']])}">添加婚宴二销</a>
    </div>
    <div class="layui-card-body">
        <div class="layui-row">
            <div class="layui-col-md9">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label layui-color-red">桌数</label>
                        <div class="layui-input-inline">
                            <input type="text" name="table_amount" value="{$data['table_amount']}" lay-verify="required" placeholder="桌数" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label layui-color-red">餐标</label>
                        <div class="layui-input-inline">
                            <input type="text" name="table_price" value="{$data['table_price']}" lay-verify="required" placeholder="餐标" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">服务费总计</label>
                        <div class="layui-input-inline">
                            <input type="text" name="service_fee" value="{$data['service_fee']}" lay-verify="required" placeholder="服务费" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">酒水费用</label>
                        <div class="layui-input-inline">
                            <input type="text" name="wine_fee" value="{$data['wine_fee']}" lay-verify="required" placeholder="酒水费用" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">加菜换菜</label>
                        <div class="layui-input-inline">
                            <input type="text" name="banquet_update_table" value="{$data['banquet_update_table']}" lay-verify="required" placeholder="加菜换菜" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">优惠金额</label>
                        <div class="layui-input-inline">
                            <input type="text" name="banquet_discount" value="{$data['banquet_discount']}" lay-verify="required" placeholder="优惠金额" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">仪式堂</label>
                        <div class="layui-input-inline">
                            <input type="number" name="banquet_ritual_hall" value="{$data['banquet_ritual_hall']}" lay-verify="" placeholder="仪式堂" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">其他</label>
                        <div class="layui-input-inline">
                            <input type="number" name="banquet_other" value="{$data['banquet_other']}" lay-verify="" placeholder="其他" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    
                    <div class="layui-inline">
                        <label class="layui-form-label">婚宴总金额</label>
                        <div class="layui-input-inline">
                            <input readonly type="text" name="banquet_totals" value="{$data['banquet_totals']}" lay-verify="required" placeholder="婚宴总金额" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-header">备注</div>
                    <div class="layui-card-body no-padding no-margin">
                        <textarea name="banquet_remark" class="layui-textarea" placeholder="备注信息">{$data['banquet_remark']}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<{if !empty($banquetOrders)}>
<div class="layui-card">
    <div class="layui-card-header">
        婚宴二销信息
    </div>
    <div class="layui-card-body no-padding no-margin">
        <table class="layui-table no-padding no-margin">
            <colgroup>
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>订单号</th>
                <th>桌数</th>
                <th>餐标</th>
                <th>订单金额</th>
                <th>审核状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <{foreach name="banquetOrders" item="row"}>
            <tr>
                <td>{$row['banquet_order_no']}</td>
                <td>{$row['table_amount']}</td>
                <td>{$row['table_price']}</td>
                <td>{$row['banquet_totals']}</td>
                <td>{$confirmStatusList[$row['check_banquet_suborder_status']]}</td>
                <td>
                    <div class="layui-btn-group">
                        <a href="javascript:void(0);" class="{:auth('order/editBanquetSuborder')} layui-btn layui-btn-xs lay-right" data-title="编辑婚宴二销信息" data-action="{:url('order/editBanquetSuborder', ['id'=>$row['id']])}">编辑</a>
                        <a href="javascript:void(0);" class="{:auth('order/delBanquetSuborder')} layui-btn layui-btn-danger layui-btn-xs lay-delete-api">删除</a>
                        <a href="javascript:void(0);" class="{:auth('order/confirmBanquetSuborder')} layui-btn layui-btn-xs lay-right" data-title="审核婚宴二销信息" data-action="{:url('order/confirmBanquetSuborder', ['id'=>$row['id']])}">审核</a>
                    </div>
                </td>
            </tr>
            <{/foreach}>
            </tbody>
        </table>
    </div>
</div>
<{/if}>