<div class="layui-card">
    <div class="layui-card-header">
        婚庆追加信息
        <i class="layui-icon layui-icon-add-circle" style="color: #1E9FFF;"></i>
    </div>
    <div class="layui-card-body">
        <div class="layui-form-item" >
            <div class="layui-inline">
                <label class="layui-form-label">二销大类</label>
                <div class="layui-input-inline">
                    <select name="sub_wedding_category_id[]" lay-search>
                        <option value="0">请选择二销大类</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">明细</label>
                <div class="layui-input-inline">
                    <input type="text" name="sub_wedding_details[]" value="{$data['wedding_details']}" lay-verify="required" placeholder="明细" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">金额</label>
                <div class="layui-input-inline">
                    <input type="text" name="sub_wedding_total[]" value="{$data['wedding_total']}" lay-verify="required" placeholder="金额" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">婚庆金额小计</label>
                <div class="layui-input-inline">
                    <input type="text" name="sub_wedding_totals[]" value="{$data['wedding_totals']}" lay-verify="required" placeholder="婚庆金额小计" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <i class="layui-icon">&#xe640;</i>
            </div>
        </div>
    </div>
</div>