<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>订单管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/assets/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/assets/style/admin.css" media="all">
</head>
<body>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>订单管理</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <{include file="order/confirm/search"}>
                    <table class="layui-hide" id="table" lay-filter="table"></table>
                    <script type="text/html" id="table-tool">
                        <div class="layui-btn-container">
                            <button class="layui-btn layui-btn-sm" lay-event="editOrder">编辑</button>
                            {:button(["event"=>"delOrder", "text"=>"删除"])}
                        </div>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var tableTitle = '审核';
    var tableRequestUrl = "{:htmlspecialchars_decode($_SERVER['REQUEST_URI'])}";
</script>
<script src="/assets/layui/layui.js"></script>
<script>

</script>
</body>
</html>