<!-- 面包屑 -->
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>
    <ul class="breadcrumb">
        <li>首页</li>
        <li>基本配置</li>
        <li>礼服管理</li>
        <li>礼服区域</li>
    </ul>
    <span class="widget-toolbar">
        <a href="javascript:history.go(-1);">
            <span class="glyphicon glyphicon-share-alt"></span>
            <span class="text">返回</span>
        </a>
    </span>
    <span class="widget-toolbar no-border">
        <a href="{:url('editCategory')}">
            <span class="text">添加套餐项分类</span>
        </a>
    </span>
</div>
<!--页面详情-->
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <include file="Package/navigation" />
            <table class="table table-striped table-bordered table-hover">
                <tr>
                    <td class="w-percent-5">ID</td>
                    <td>分类名称</td>
                    <td class="text-center w-percent-10">有效状态</td>
                    <td class="text-center w-percent-10">排序</td>
                    <td class="text-center w-percent-10">创建时间</td>
                    <td class="text-center w-percent-10">操作</td>
                </tr>
                <foreach item="val" name="list">
                    <tr>
                        <td>{$val['id']}</td>
                        <td>{$val['title']}</td>
                        <td class="text-center">{$val['is_valid']?'有效':'无效'}</td>
                        <td class="text-center">{$val['sort']}</td>
                        <td class="text-center">{$val['create_time']}</td>
                        <td>
                            <a href="{:url('editCategory',['id'=>$val['id']])}">编辑</a>
                        </td>
                    </tr>
                </foreach>
            </table>
        </div>
    </div>
</div>