<!-- 面包屑 -->
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>
    <ul class="breadcrumb">
        <li>首页</li>
        <li>系统设置</li>
        <li>基本配置</li>
        <li>品牌管理</li>
    </ul>
    <ul class="breadcrumb breadcrumb-right">
        <li>
            <a href="javascript:void(0)" class="action-layer" data-action="{:url('editBrand')}"
               layer-title="添加品牌名称" layer-width="600px" layer-height="300px" title="添加品牌">
                <span class="glyphicon glyphicon-plus-sign"></span>
                <span class="text">添加品牌</span>
            </a>
        </li>
        <li>
            <a href="javascript:history.go(-1);">
                <span class="glyphicon glyphicon-share-alt"></span>
                <span class="text">返回</span>
            </a>
        </li>
    </ul>
</div>
<!--页面详情-->
<div class="page-content">

</div>