<!-- 面包屑 -->
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>首页</li>
        <li>套餐管理</li>
        <li>二销套餐</li>
    </ul>
       <span class="widget-toolbar">
        <a href="javascript:history.go(-1);">
            <span class="glyphicon glyphicon-share-alt"></span>
            <span class="text">返回</span>
        </a>
    </span>
    <span class="widget-toolbar no-border">
        <a href="{:url('editPackage')}">
            <span class="text">添加套餐</span>
        </a>
    </span>
</div>
<!--页面详情-->
<div class="page-content">
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <td class="w-percent-5">ID</td>
            <td>套餐名称</td>
            <td>套餐优惠价格</td>
            <td>套餐项目价格</td>
            <td class="text-center w-percent-10">有效状态</td>
            <td class="text-center w-percent-10">排序</td>
            <td class="text-center w-percent-10">创建时间</td>
            <td class="w-percent-10">操作</td>
        </tr>
        <foreach item="val" name="list">
            <tr>
                <td>{$val['id']}</td>
                <td>{$val['title']}</td>
                <td>{$val['price']}</td>
                <td></td>
                <td class="text-center">{$val['is_valid']?'有效':'无效'}</td>
                <td class="text-center">{$val['sort']}</td>
                <td class="text-center">{$val['create_time']}</td>
                <td>
                    <a href="{:url('editPackage',['id'=>$val['id']])}">编辑</a>
                </td>
            </tr>
        </foreach>
    </table>
</div>