<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>通时报表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/assets/bootcss/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootcss/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/assets/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/assets/style/admin.css" media="all">
    <link rel="stylesheet" href="/assets/style/ox-common.css?{rand(10000,10000)}">
    <script src="/assets/layui/layui.all.js"></script>
    <script src="/assets/lib/jquery-2.1.4.min.js"></script>
    <script src="/assets/lib/ox-common.js"></script>
</head>

<body style="padding: 8px 12px;">

    <form action="">

    </form>
    <div class="ox-table">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>排序</th>
                    <th>姓名</th>
                    <th>外拨总数</th>
                    <th>接通数</th>
                    <th>接通率</th>
                    <th>平均时长</th>
                    <th>有效通时</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</body>

</html>