<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>门店管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/assets/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/assets/style/admin.css" media="all">
</head>
<body>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>门店管理</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <table class="layui-hide" id="table" lay-filter="table"></table>
                    <script type="text/html" id="table-toolbar">
                        <div class="layui-btn-container">
                            {:button(["event"=>"addStore", "text"=>"添加门店", "atype"=>""])}
                        </div>
                    </script>
                    <script type="text/html" id="table-tool">
                        <div class="layui-btn-container">
                            {:button(["event"=>"editStore", "text"=>"编辑", "atype"=>"edit"])}
                            {:button(["event"=>"deleteStore", "text"=>"删除", "atype"=>"delete"])}
                        </div>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/layui/layui.js"></script>
<script>
    layui.config({
        base: '/assets/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table'], function () {
        var admin = layui.admin
                , table = layui.table
                , $ = layui.jquery;

        table.render({
            elem: '#table'
            ,
            url: '/index/store/index.html'
            ,
            height: 'full-100'
            ,
            defaultToolbar: ['filter']
            ,
            toolbar: '#table-toolbar'
            ,
            title: '门店管理'
            ,
            cols: [[{"field": "id", "title": "\u7f16\u53f7", "width": 50}, {
                "field": "brand_id",
                "title": "\u54c1\u724c\u540d\u79f0",
                "width": 160
            }, {"field": "title", "title": "\u95e8\u5e97\u540d\u79f0"}, {
                "field": "sort",
                "title": "\u6392\u5e8f",
                "width": 60
            }, {"field": "is_valid", "title": "\u72b6\u6001", "width": 60}, {
                "field": "create_time",
                "title": "\u521b\u5efa\u65f6\u95f4",
                "width": 165
            }, {"type": "tool", "title": "\u64cd\u4f5c", "toolbar": "#table-tool", "width": 120}]]
            ,
            page: true
        });

        var height = window.innerHeight;
        var width = window.innerWidth * 0.6;
        var url = '';
        //头工具栏事件
        table.on('toolbar(table)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            var url = '';
            switch (obj.event) {
                case 'addStore':
                    var data = checkStatus.data;
                    url = '/index/store/addstore.html';
                    layer.open({
                        type: 2,
                        title: '添加',
                        content: url,
                        area: [width + 'px', height + 'px'],
                        offset: 'rb'
                    });
                    break;
            }
            ;
        });

        //监听行工具事件
        table.on('tool(table)', function (obj) {
            var id = obj.data.id;
            switch (obj.event) {
                case 'editStore':
                    url = '/index/store/editstore.html?id=' + id;
                    layer.open({
                        type: 2,
                        title: '编辑门店信息',
                        content: url,
                        area: [width + 'px', height + 'px'],
                        offset: 'rb'
                    });
                    break;
                case 'deleteStore':
                    url = '/index/store/deletestore.html';
                    var params = {id:id};
                    $.post(url, params, function (res) {
                        if (res.code == '200') {
                            table.reload("table");
                            layer.closeAll();
                        } else {
                            layer.msg(res.msg);
                        }
                    });
                    break;
            }
            ;
        });

    });
</script>
</body>
</html>