<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>查看订单信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/assets/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/assets/style/admin.css" media="all">
    <link rel="stylesheet" href="/assets/style/layui-extend.css?{:rand(10000,100000)}" media="all">
    <style>
        .layui-form-label {
            width: 6em;
        }
        .layui-form-label-normal{
            width: 80px;
        }

        .no-padding{
            padding: 0!important;
        }

        .no-margin{
            margin: 0!important;
        }

        .layui-table td, .layui-table th{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="layui-fluid">
    <!--合同基本信息-->
    <{include file="order/show/fragment/contract" /}>


    <!--婚宴基本信息-->
    <{include file="order/show/fragment/banquet" /}>

    <!--婚庆基本信息-->
    <{include file="order/show/fragment/wedding" /}>

    <div class="layui-space10" style="height: 30px;"></div>

</div>
</body>
</html>