<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>更新订单信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/assets/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/assets/style/admin.css" media="all">
    <link rel="stylesheet" href="/assets/style/order.css?{:rand(10000,100000)}" media="all">
    <link rel="stylesheet" href="/assets/style/layui-extend.css?{:rand(10000,100000)}" media="all">
    <script src="/assets/lib/jquery-2.1.4.min.js"></script>
    <script src="/assets/layui/layui.all.js"></script>
    <script src="/assets/lib/ox-common.js?{:rand(1000000,199999999)}"></script>
</head>
<body>
<!--创建、编辑订单-->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px; background-color: #f4f4f4;">
            <!--合同基本信息-->
            <{include file="order/show/fragment/contract" /}>

            <!--婚宴基本信息-->
            <{include file="order/show/fragment/banquet" /}>

            <!--婚庆基本信息-->
            <{include file="order/show/fragment/wedding" /}>

            <!--婚车业务-->
            <{include file="order/show/fragment/car" /}>

            <!--酒水业务-->
            <{include file="order/show/fragment/wine" /}>

            <!--喜糖业务-->
            <{include file="order/show/fragment/sugar" /}>

            <{include file="order/show/fragment/light" /}>

            <{include file="order/show/fragment/dessert" /}>

            <{include file="order/show/fragment/led" /}>

            <{include file="order/show/fragment/3d" /}>

            <{include file="order/show/fragment/money" /}>

            <div class="layui-card">
                <div class="layui-card-header">
                    <div class="layui-card-header-left">
                        审批
                    </div>
                </div>
                <div class="layui-card-body">
                    <ul class="layui-timeline">
                        <{foreach name="sequence" item="value"}>
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">{$value.title}</h3>
                                <p>{$value.status}</p>
                                <p>{$value.content}</p>
                            </div>
                        </li>
                        <{/foreach}>
                    </ul>

                    <div class="layui-input-flex">
                        <div class="layui-btn-group">
                            <div class="layui-btn layui-btn-confirm" data-aciton="/index/order.confirm/doAccepte/id/{$confirm.id}">通过</div>
                            <div class="layui-btn layui-btn-confirm layui-btn-danger" data-aciton="/index/order.confirm/doReject/id/{$confirm.id}">驳回</div>
                        </div>
                        <input type="text" name="content" id="content" lay-verify="0" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-space10" style="height: 20px;"></div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $(".layui-btn-confirm").click(function(){
            if(!confirm("确认提交审核结果么?")) {
                return false;
            }
            var content = $("#content");
            var url = $(this).attr("data-aciton");
            if($(this).hasClass("layui-btn-danger") && content=='') {
                layer.msg('请输入驳回原因');
                return false;
            }

            $.post(url, {content:content}, function(res) {
                if(res.code == '200'){
                    window.location.reload();
                }
            })
        });
    })
</script>
</body>
</html>