<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>编辑客户信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <{include file="common/meta"}>
    <script>
        $(function () {
            $('select').multipleSelect({
                placeholder: '请选择城市',
                locale: 'zh-CN',
                filter: true,
            });
        })
    </script>
</head>
<body>
    <div class="tab-box">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#base" aria-controls="base" role="tab" data-toggle="tab">基本资料</a></li>
          <li role="presentation"><a href="#visit" aria-controls="visit" role="tab" data-toggle="tab">跟进记录</a></li>
          <li role="presentation"><a href="#intostore" aria-controls="intostore" role="tab" data-toggle="tab">进店记录</a></li>
          <li role="presentation"><a href="#record" aria-controls="record" role="tab" data-toggle="tab">回访录音</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="base">
                <div class="flex">
                    <div class="customer-box">
                        <table class="table">
                            <tr>
                                <td>信息类型</td>
                                <td colspan="3" class="break">
                                    <{foreach name="newsTypes" item="row"}>
                                        <label class="padding-right-8">
                                            <input type="checkbox" name="news_type" value="{$key}" title="{$row}" checked disabled> {$row}
                                        </label>
                                    <{/foreach}>
                                </td>
                            </tr>
                            <tr>
                                <td>渠道</td>
                                <td>
                                    <input type="text" class="form-control" value="{$allocate->source_text}">
                                </td>
                                <td>重复渠道</td>
                                <td class="form-control-group">
                                    <input type="text" class="form-control">
                                    <div class="btn-group">
                                        <a href="javascript:void(0);" class="btn btn-primary layui-center" data-action="{:url('/wash/customer.append/source', ['id'=>$allocate['id']])}" data-width="400px" data-height="120px">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>联系人</td>
                                <td>
                                    <input type="text" name="realname" value="{$allocate.realname}" class="form-control">
                                </td>
                                <td>联系电话</td>
                                <td>
                                    <div class="form-control-group">
                                        <input type="text" value="{$allocate.mobile}" class="form-control " readonly>
                                        <div class="btn-group">
                                            <a href="javascript:void(0);" class="btn btn-info event-call">
                                                <i class="glyphicon glyphicon-phone-alt"></i>
                                            </a>
                                            <a href="javascript:void(0);" class="btn btn-warning toggle-mobile-list">
                                                <i class="glyphicon glyphicon-th-list"></i>
                                            </a>
                                            <a href="javascript:void(0);" class="btn btn-primary layui-center" data-action="{:url('/wash/customer.append/mobile', ['id'=>$allocate['id']])}" data-width="400px" data-height="120px">
                                                <i class="glyphicon glyphicon-plus"></i>
                                            </a>
                                        </div>
                                        <div class="group-list mobile-list">
                                            <div class="list-item">
                                                <div class="list-item-detail">18321277411</div>
                                                <div class="list-item-ctrl">
                                                    <a class="btn bt-sm btn-info event-call"><i class="glyphicon glyphicon-phone-alt"></i></a>
                                                </div>
                                            </div>
                                            <div class="list-item">
                                                <div class="list-item-detail">18321277411</div>
                                                <div class="list-item-ctrl">
                                                    <a class="btn bt-sm btn-info event-call"><i class="glyphicon glyphicon-phone-alt"></i></a>
                                                </div>
                                            </div>
                                            <div class="list-item">
                                                <div class="list-item-detail">18321277411</div>
                                                <div class="list-item-ctrl">
                                                    <a class="btn bt-sm btn-info event-call"><i class="glyphicon glyphicon-phone-alt"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>市区</td>
                                <td colspan="3">
                                    <div class="region-group">
                                        <select name="city">
                                            <{foreach name="cityList" item="row"}>
                                                <option value="{$row.id}">{$row.name}</option>
                                            <{/foreach}>
                                        </select>
                                        </select>
                                        <select name="area">
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>区域</td>
                                <td colspan="3">
                                    <input type="text" class="form-control" value="{$member.zone}">
                                </td>
                            </tr>
                            <tr>
                                <td>酒店</td>
                                <td colspan="3">
                                    <input type="text" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>桌数</td>
                                <td>
                                    <input type="number" name="banquet_size" value="{$member.banquet_size}" class="form-control">
                                </td>
                                <td>至</td>
                                <td>
                                    <input type="number" name="banquet_size_end" value="{$member.banquet_size_end}" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>预算</td>
                                <td>
                                    <input type="number" name="budget" value="" class="form-control">
                                </td>
                                <td>至</td>
                                <td>
                                    <input type="number" name="budget_end" value="" class="form-control">
                                </td> 
                            </tr>
                            <tr>
                                <td>婚期</td>
                                <td colspan="3">
                                    <input type="text" name="wedding_date" value="{$member.wedding_date}" class="form-control date">
                                </td>
                            </tr>
                            <tr>
                                <td>重要程度</td>
                                <td colspan="3" class="left">
                                    
                                    <div class="group-radio">
                                        <{foreach name="levels" item="row"}>
                                            <label>
                                                <input type="radio" name="level" value="{$row.id}"> {$row.title}
                                            </label>
                                        <{/foreach}>
                                    </div>
                                    
                                    <input type="hidden" name="level">
                                </td>
                            </tr>
                            <tr>
                                <td>创建人</td>
                                <td>
                                    <input type="text" class="form-control" value="">
                                </td>
                                <td>创建时间</td>
                                <td>
                                    <input type="text" class="form-control" value="{$member.create_time}">
                                </td>
                            </tr>
                            <tr>
                                <td>备注</td>
                                <td colspan="3">
                                    <textarea name="remark" class="form-control">{$allocate.remark}</textarea>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <div class="btn-group">
                                        <a href="javascript:void(0);" data-action="{:url('/wash/customer.visit/edit', ['id'=>$allocate['id']])}" data-width="450px" data-height="380px" class="btn btn-primary layui-center">快捷回访</a>
                                        <button type="submit" class="btn btn-success">保存更新</button>
                                        <button type="button" class="btn btn-warning btn-close">关闭页面</button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <hr>
                        <div class="panel panel-store-sales-assigned">
                            <div class="panel-heading">已分配人员:</div>
                            <div class="panel-body panel-store-sales-assigned-body">
                                <div class="store-sales">张三</div>
                                <div class="store-sales">张三</div>
                                <div class="store-sales">张三</div>
                                <div class="store-sales">张三</div>
                            </div>
                        </div>
                    </div>
                    <div class="hotel-list-box">
                        <div class="hotel-search-box">
                            <table>
                                <tr>
                                    <td>
                                        <select name="">
                                            <option value="0">信息类型</option>
                                        </select>
                                    </td>
                                    <td><input type="text" class="form-control" placeholder="区域"></td>
                                    <td><input type="text" class="form-control" placeholder="桌数"></td>
                                    <td><input type="text" class="form-control" placeholder="预算"></td>
                                    <td>
                                        <a href="javascript:void(0);" class="btn btn-danger">重置</a>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <a href="javascript:void(0);" class="btn btn-primary">搜索</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="hotel-list hotel-searched-list">
                            <div class="hotel-list-header">搜索结果:</div>
                            <{foreach name="unselected" item="row"}>
                                <div class="hotel-item">
                                    <dl class="hotel-fields">
                                        <dt>{$row.title}</dt>
                                        <dd>菜单价格:{$row.min_price}-{$row.max_price}</dd>
                                        <dd>容纳桌数:{$row.max_capacity}</dd>
                                        <dd>特色标签:</dd>
                                    </dl>
                                    <ul class="hotel-ctrl">
                                        <li><a href="" class="btn btn-primary">查看详情</a></li>
                                        <li><a href="" class="btn btn-info">加入推荐</a></li>
                                    </ul>
                                </div>
                            <{/foreach}>
                        </div>
                        <div class="hotel-list hotel-selected-list">
                            <div class="hotel-list-header">已选酒店：</div>
                            <{foreach name="unselected" item="row"}>
                            <div class="hotel-item">
                                <dl class="hotel-fields">
                                    <dt>{$row.title}</dt>
                                    <dd>菜单价格:{$row.min_price}-{$row.max_price}</dd>
                                    <dd>容纳桌数:{$row.max_capacity}</dd>
                                    <dd>特色标签:</dd>
                                </dl>
                                <ul class="hotel-ctrl">
                                    <li><a href="" class="btn btn-primary">预约进店</a></li>
                                    <li><a href="" class="btn btn-info">确认进店</a></li>
                                    <li><a href="" class="btn btn-success">申请成单</a></li>
                                </ul>
                            </div>
                            <{/foreach}>
                        </div>
                    </div>
                    <div class="hotel-detail-box">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#hotel-detail" aria-controls="hotel-detail" role="tab" data-toggle="tab">酒店资料</a></li>
                            <li role="presentation"><a href="#hall-list" aria-controls="hall-list" role="tab" data-toggle="tab">宴会厅</a></li>
                          </ul>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="visit">
                <h4>回访列表</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>回放者</th>
                            <th>回访次数</th>
                            <th>获取时间</th>
                            <th>回访状态</th>
                            <th>下次回访时间</th>
                            <th>最新跟进时间</th>
                        </tr>
                    </thead>
                </table>
                <h4>回访历史</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>回放者</th>
                            <th>回访时间</th>
                            <th>回访状态</th>
                            <th>跟踪记录</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="intostore">
                <table class="table">
                    <tr>
                        <td width="15%">预约到店时间</td>
                        <td width="35%">
                            <input type="text" name="subscribe_into_time" class="form-control date">
                        </td>
                        <td width="15%">预约门店</td>
                        <td width="35%">
                            <select name="store_id" class="form-control">
                                <option value="0">--选择门店--</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>接收预约人员</td>
                        <td>
                            <select name="sales" class="form-control">
                                <option value="0">--选择接收人--</option>
                            </select>
                        </td>
                        <td>备注</td>
                        <td>
                            <textarea name="textarea" class="form-control"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-left">
                            <button type="submit" class="btn btn-success">添加跟进</button>
                            <button type="button" class="btn btn-warning btn-close">关闭</button>
                        </td>
                    </tr>
                </table>
                <h4>预约历史</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>日期</th>
                            <th>操作人</th>
                            <th>预约酒店</th>
                            <th>接收月月人</th>
                            <th>备注</th>
                            <th>是否到店</th>
                        </tr>
                    </thead>
                    
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="record">
                <br>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>日期</th>
                            <th>部门</th>
                            <th>操作者</th>
                            <th>接通状态</th>
                            <th>接通时间</th>
                            <th>挂断时间</th>
                            <th>持续时间</th>
                            <th>录音</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
      
    </div>
</body>
</html>