USE [Wedding]
GO
/****** Object:  Table [dbo].[DeviceToken]    Script Date: 2019/7/24 16:01:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DeviceToken](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[field_1] [varchar](50) NULL,
	[field_2] [int] NULL,
	[field_3] [varchar](100) NULL,
	[field_4] [varchar](50) NULL,
	[field_5] [varchar](50) NULL,
	[field_6] [varchar](500) NULL,
	[field_7] [varchar](200) NULL,
	[field_8] [varchar](50) NULL,
	[field_9] [datetime] NULL,
	[field_10] [varchar](50) NULL,
	[field_11] [varchar](100) NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_DeviceToken] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DeviceToken] ON 

INSERT [dbo].[DeviceToken] ([id], [field_1], [field_2], [field_3], [field_4], [field_5], [field_6], [field_7], [field_8], [field_9], [field_10], [field_11], [CreateDate]) VALUES (1, N'iPhone', 0, N'a00ff84954c1a9dd7daa97495e0ca7ab79ac36dba7bd3540b8560f1a753efb63', N'devicetoken_60107abcdf2e4989beae88e8420469bf', N'hunjiayun', N'', N'', N'180.164.153.73', CAST(0x0000A8CB00B6D5DC AS DateTime), N'10.3.3', N'', CAST(0x0000A8CB00B6C8F8 AS DateTime))
INSERT [dbo].[DeviceToken] ([id], [field_1], [field_2], [field_3], [field_4], [field_5], [field_6], [field_7], [field_8], [field_9], [field_10], [field_11], [CreateDate]) VALUES (2, N'iPhone', 0, N'774344ad367b40e2064924a3262a4e81196cf950f5ab4bbd94d75d09c5da3438', N'devicetoken_ce4a9d3c52344de0bb6ea0cec93a6326', N'hunjiayun', N'', N'', N'180.164.153.73', CAST(0x0000A8CB00F54AEC AS DateTime), N'11.3', N'', CAST(0x0000A8CB00EC1198 AS DateTime))
INSERT [dbo].[DeviceToken] ([id], [field_1], [field_2], [field_3], [field_4], [field_5], [field_6], [field_7], [field_8], [field_9], [field_10], [field_11], [CreateDate]) VALUES (3, N'iPhone', 0, N'c3f0c5f798e05f5fc0efb652a69671a0eb3da54a66716c3f75204995ee00e500', N'devicetoken_60260009d7d04863bd6acd021846fe90', N'hunjiayun', N'', N'', N'180.164.153.73', CAST(0x0000A8CB00F5BEF0 AS DateTime), N'10.3.3', N'', CAST(0x0000A8CB00F5BDC4 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[DeviceToken] OFF
