USE [Wedding]
GO
/****** Object:  Table [dbo].[GAddress]    Script Date: 2019/7/24 16:01:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GAddress](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[field_1] [varchar](100) NULL,
	[field_2] [int] NULL,
	[field_3] [varchar](50) NULL,
	[field_4] [varchar](50) NULL,
	[field_5] [varchar](50) NULL,
	[field_6] [varchar](100) NULL,
	[field_7] [int] NULL,
	[field_8] [varchar](500) NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_GAddress] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[GAddress] ON 

INSERT [dbo].[GAddress] ([id], [field_1], [field_2], [field_3], [field_4], [field_5], [field_6], [field_7], [field_8], [CreateDate]) VALUES (1, N'中国', 0, N'', N'gaddress_7ba6572cbd4d40139fc71d4823d2448e', N'0', N'China', 444, N'|End0|', CAST(0x0000A2A1010AF1E4 AS DateTime))
INSERT [dbo].[GAddress] ([id], [field_1], [field_2], [field_3], [field_4], [field_5], [field_6], [field_7], [field_8], [CreateDate]) VALUES (6, N'北京市', 0, N'', N'gaddress_c26112b9384f4568b886bc1d352ccd43', N'gaddress_7ba6572cbd4d40139fc71d4823d2448e', N'beijing', 0, N'|End0||gaddress_7ba6572cbd4d40139fc71d4823d2448e|', CAST(0x0000A2A1010C2AC8 AS DateTime))
INSERT [dbo].[GAddress] ([id], [field_1], [field_2], [field_3], [field_4], [field_5], [field_6], [field_7], [field_8], [CreateDate]) VALUES (14, N'上海市', 0, N'', N'gaddress_f1adbde5a3724a7fbed2bd1e1b711cac', N'gaddress_7ba6572cbd4d40139fc71d4823d2448e', N'shanghai', 0, N'|End0||gaddress_7ba6572cbd4d40139fc71d4823d2448e|', CAST(0x0000A2A1010C9314 AS DateTime))
SET IDENTITY_INSERT [dbo].[GAddress] OFF
