USE [Wedding]
GO
/****** Object:  Table [dbo].[Clienter]    Script Date: 2019/7/24 16:01:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Clienter](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[field_1] [varchar](100) NULL,
	[field_2] [int] NULL,
	[field_3] [varchar](200) NULL,
	[field_4] [varchar](50) NULL,
	[field_5] [varchar](50) NULL,
	[field_6] [int] NULL,
	[field_7] [int] NULL,
	[field_8] [int] NULL,
	[field_9] [datetime] NULL,
	[field_10] [datetime] NULL,
	[field_11] [varchar](50) NULL,
	[field_12] [varchar](500) NULL,
	[field_13] [varchar](100) NULL,
	[field_14] [varchar](100) NULL,
	[field_15] [varchar](50) NULL,
	[field_16] [int] NULL,
	[field_17] [varchar](500) NULL,
	[field_18] [varchar](50) NULL,
	[field_19] [varchar](100) NULL,
	[field_20] [varchar](1000) NULL,
	[field_21] [varchar](100) NULL,
	[field_22] [datetime] NULL,
	[field_23] [varchar](50) NULL,
	[field_24] [float] NULL,
	[field_25] [int] NULL,
	[field_26] [varchar](100) NULL,
	[field_27] [varchar](1000) NULL,
	[field_28] [varchar](500) NULL,
	[field_29] [varchar](50) NULL,
	[field_30] [varchar](200) NULL,
	[field_31] [varchar](200) NULL,
	[field_32] [varchar](500) NULL,
	[field_33] [int] NULL,
	[field_34] [int] NULL,
	[field_35] [int] NULL,
	[field_36] [varchar](200) NULL,
	[field_37] [varchar](100) NULL,
	[field_38] [float] NULL,
	[field_39] [int] NULL,
	[field_40] [varchar](50) NULL,
	[field_41] [varchar](50) NULL,
	[field_42] [varchar](200) NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_Clienter] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Clienter] ON 

GO
SET IDENTITY_INSERT [dbo].[Clienter] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Clienter_F4]    Script Date: 2019/7/24 16:02:26 ******/
ALTER TABLE [dbo].[Clienter] ADD  CONSTRAINT [IX_Clienter_F4] UNIQUE NONCLUSTERED 
(
	[field_4] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
