USE [Wedding]
GO
/****** Object:  Table [dbo].[Gorgres]    Script Date: 2019/7/24 16:01:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Gorgres](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[field_1] [varchar](100) NULL,
	[field_2] [int] NULL,
	[field_3] [varchar](100) NULL,
	[field_4] [varchar](50) NULL,
	[field_5] [varchar](50) NULL,
	[field_6] [float] NULL,
	[field_7] [float] NULL,
	[field_8] [varchar](200) NULL,
	[field_9] [float] NULL,
	[field_10] [float] NULL,
	[field_11] [float] NULL,
	[field_12] [int] NULL,
	[field_13] [varchar](50) NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_Gorgres] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Gorgres] ON 

INSERT [dbo].[Gorgres] ([id], [field_1], [field_2], [field_3], [field_4], [field_5], [field_6], [field_7], [field_8], [field_9], [field_10], [field_11], [field_12], [field_13], [CreateDate]) VALUES (11, N'皇家宴会厅', 0, N'', N'gorgres_4ee45ced52e549b8acc64e7bccb303c1', N'grogshop_b900b2917ea14b44a9bd8a966bf1cdc6', 7888, 10888, N'全场水晶灯 无柱 富丽堂皇 美轮美奂', 5.5, 20, 40, 0, NULL, CAST(0x0000A76E00CA54E0 AS DateTime))
INSERT [dbo].[Gorgres] ([id], [field_1], [field_2], [field_3], [field_4], [field_5], [field_6], [field_7], [field_8], [field_9], [field_10], [field_11], [field_12], [field_13], [CreateDate]) VALUES (12, N'巴黎厅', 0, N'', N'gorgres_8a47291cc9b5492582e9cdb240a9c693', N'grogshop_b900b2917ea14b44a9bd8a966bf1cdc6', 7888, 10888, N'适合小桌数婚礼  独立迎宾区 温馨浪漫', 5.5, 6, 12, 0, NULL, CAST(0x0000A76E00CC7BA8 AS DateTime))
INSERT [dbo].[Gorgres] ([id], [field_1], [field_2], [field_3], [field_4], [field_5], [field_6], [field_7], [field_8], [field_9], [field_10], [field_11], [field_12], [field_13], [CreateDate]) VALUES (13, N'宴会厅', 0, N'', N'gorgres_ebc00bc75a6e407e8812c014e229b4d0', N'grogshop_616d3290a90b4b57b6edf54e210ceb34', 7999, 11118, N'层高7米的1100㎡无柱大厅 设计灵活多变 气势磅礴', 7, 10, 100, 0, NULL, CAST(0x0000A76F00020D00 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Gorgres] OFF
