USE [Wedding]
GO
/****** Object:  Table [dbo].[KillIPTemp]    Script Date: 2019/7/24 16:01:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KillIPTemp](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[field_1] [varchar](15) NULL,
	[field_2] [nvarchar](50) NULL,
	[field_3] [int] NULL,
	[field_4] [datetime] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_KillIPTemp] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[KillIPTemp] ON 

INSERT [dbo].[KillIPTemp] ([id], [field_1], [field_2], [field_3], [field_4], [CreateDate]) VALUES (1, NULL, NULL, NULL, NULL, CAST(0x0000A07F00A38B94 AS DateTime))
INSERT [dbo].[KillIPTemp] ([id], [field_1], [field_2], [field_3], [field_4], [CreateDate]) VALUES (2, NULL, NULL, NULL, NULL, CAST(0x0000A07F00A4A024 AS DateTime))
INSERT [dbo].[KillIPTemp] ([id], [field_1], [field_2], [field_3], [field_4], [CreateDate]) VALUES (3, N'127.0.0.1', N'/admin/SysLogin.aspx', 0, CAST(0x0000A25F008E4004 AS DateTime), CAST(0x0000A07F00A4E7A0 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[KillIPTemp] OFF
