USE [Wedding]
GO
/****** Object:  Table [dbo].[InSdMsg]    Script Date: 2019/7/24 16:01:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[InSdMsg](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[field_1] [varchar](100) NULL,
	[field_2] [int] NULL,
	[field_3] [varchar](100) NULL,
	[field_4] [varchar](100) NULL,
	[field_5] [varchar](100) NULL,
	[field_6] [varchar](1000) NULL,
	[field_7] [varchar](100) NULL,
	[field_8] [varchar](500) NULL,
	[field_9] [varchar](100) NULL,
	[field_10] [datetime] NULL,
	[field_11] [varchar](200) NULL,
	[field_12] [int] NULL,
	[field_13] [int] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_InSdMsg] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[InSdMsg] ON 

GO
SET IDENTITY_INSERT [dbo].[InSdMsg] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__InSdMsg__F093913E9CA8A4EF]    Script Date: 2019/7/24 16:02:26 ******/
ALTER TABLE [dbo].[InSdMsg] ADD UNIQUE NONCLUSTERED 
(
	[field_4] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
