USE [Wedding]
GO
/****** Object:  Table [dbo].[Grogshop]    Script Date: 2019/7/24 16:01:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Grogshop](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[field_1] [varchar](100) NULL,
	[field_2] [int] NULL,
	[field_3] [varchar](100) NULL,
	[field_4] [varchar](50) NULL,
	[field_5] [float] NULL,
	[field_6] [float] NULL,
	[field_7] [int] NULL,
	[field_8] [varchar](200) NULL,
	[field_9] [varchar](100) NULL,
	[field_10] [varchar](100) NULL,
	[field_11] [varchar](100) NULL,
	[field_12] [float] NULL,
	[field_13] [float] NULL,
	[field_14] [int] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_Grogshop] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Grogshop] ON 

INSERT [dbo].[Grogshop] ([id], [field_1], [field_2], [field_3], [field_4], [field_5], [field_6], [field_7], [field_8], [field_9], [field_10], [field_11], [field_12], [field_13], [field_14], [CreateDate]) VALUES (10, N'世贸皇家艾美酒店', 0, N'/upath/2017/5/9/121531293204830ufi.jpg', N'grogshop_b900b2917ea14b44a9bd8a966bf1cdc6', 7888, 10888, 4, N'gaddress_997790e14aa041289f7a05365840496f', N'', N'黄浦区 九江路768号', N'', 6, 40, 1, CAST(0x0000A76E00C98574 AS DateTime))
INSERT [dbo].[Grogshop] ([id], [field_1], [field_2], [field_3], [field_4], [field_5], [field_6], [field_7], [field_8], [field_9], [field_10], [field_11], [field_12], [field_13], [field_14], [CreateDate]) VALUES (11, N'虹桥元一希尔顿酒店', 0, N'/upath/2017/5/9/205524816391504ufi.jpg', N'grogshop_616d3290a90b4b57b6edf54e210ceb34', 7999, 11118, 4, N'gaddress_0013b7c4678e4c188de10c0846e442bf', N'', N'长宁区 红松东路1116号', N'', 10, 100, 1, CAST(0x0000A76E00C988F8 AS DateTime))
INSERT [dbo].[Grogshop] ([id], [field_1], [field_2], [field_3], [field_4], [field_5], [field_6], [field_7], [field_8], [field_9], [field_10], [field_11], [field_12], [field_13], [field_14], [CreateDate]) VALUES (12, N'天禧嘉福璞缇客酒店', 0, N'/upath/2017/5/10/95529870699194ufi.jpg', N'grogshop_5a38322c71224cd39474885692e4f9fd', 6888, 9888, 4, N'gaddress_0013b7c4678e4c188de10c0846e442bf', N'', N'长宁区 虹许路358号', N'', 10, 32, 1, CAST(0x0000A76E0158C298 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Grogshop] OFF
