USE [Wedding]
GO
/****** Object:  Table [dbo].[Partner]    Script Date: 2019/7/24 16:01:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Partner](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[field_1] [varchar](100) NULL,
	[field_2] [int] NULL,
	[field_3] [varchar](50) NULL,
	[field_4] [varchar](50) NULL,
	[field_5] [int] NULL,
	[field_6] [varchar](100) NULL,
	[field_7] [varchar](200) NULL,
	[field_8] [varchar](2000) NULL,
	[field_9] [varchar](100) NULL,
	[field_10] [varchar](200) NULL,
	[field_11] [int] NULL,
	[field_12] [datetime] NULL,
	[field_13] [varchar](50) NULL,
	[field_14] [varchar](50) NULL,
	[field_15] [varchar](50) NULL,
	[field_16] [varchar](100) NULL,
	[field_17] [varchar](50) NULL,
	[field_18] [float] NULL,
	[field_19] [varchar](500) NULL,
	[field_20] [varchar](200) NULL,
	[field_21] [varchar](20) NULL,
	[field_22] [int] NULL,
	[field_23] [int] NULL,
	[field_24] [varchar](50) NULL,
	[field_25] [varchar](50) NULL,
	[field_26] [varchar](500) NULL,
	[field_27] [varchar](100) NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_Partner] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Partner] ON 

GO
SET IDENTITY_INSERT [dbo].[Partner] OFF
ALTER TABLE [dbo].[Partner] ADD  CONSTRAINT [DF_Partner_field_11]  DEFAULT ((0)) FOR [field_11]
GO
