USE [Wedding]
GO
/****** Object:  Table [dbo].[VeriSMS]    Script Date: 2019/7/24 16:01:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VeriSMS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[field_1] [varchar](50) NULL,
	[field_2] [int] NULL,
	[field_3] [varchar](50) NULL,
	[field_4] [varchar](50) NULL,
	[field_5] [varchar](200) NULL,
	[field_6] [int] NULL,
	[field_7] [varchar](50) NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_VeriSMS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[VeriSMS] ON 

INSERT [dbo].[VeriSMS] ([id], [field_1], [field_2], [field_3], [field_4], [field_5], [field_6], [field_7], [CreateDate]) VALUES (1, N'18747177166', 0, N'374', N'verisms_a813951ddd0e4dfd8f36793eaeff6809', N'【婚嫁云】您的验证码：374(工作人员不会向您索取，请勿泄露)【婚嫁云】', 1, N'123.178.250.118', CAST(0x0000A8CA00C137AC AS DateTime))
INSERT [dbo].[VeriSMS] ([id], [field_1], [field_2], [field_3], [field_4], [field_5], [field_6], [field_7], [CreateDate]) VALUES (2, N'13736476352', 0, N'257', N'verisms_f8f9245913df49b782972ea14134eff4', N'【婚嫁云】您的验证码：257(工作人员不会向您索取，请勿泄露)【婚嫁云】', 1, N'113.57.245.44', CAST(0x0000A8CA00C137AC AS DateTime))
INSERT [dbo].[VeriSMS] ([id], [field_1], [field_2], [field_3], [field_4], [field_5], [field_6], [field_7], [CreateDate]) VALUES (3, N'13375224568', 0, N'445', N'verisms_dfa0791811f54cdfbea9d79edaa3a2f3', N'【婚嫁云】您的验证码：445(工作人员不会向您索取，请勿泄露)【婚嫁云】', 1, N'27.217.60.16', CAST(0x0000A8CA00C137AC AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[VeriSMS] OFF
