<!-- 面包屑 -->
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>首页</li>
        <li>考试试题</li>
        <li>试题管理</li>
        <li>{$_GET['id']?'编辑':'添加'}试题信息</li>
    </ul>
    <span class="widget-toolbar">
        <a href="javascript:history.go(-1);">
            <span class="glyphicon glyphicon-share-alt"></span>
            <span class="text">返回</span>
        </a>
    </span>
</div>
<div class="page-content">
    <div class="page-header header-title">
        <h3 class="blue">{$_GET['id']?'编辑':'添加'}试题信息</h3>
    </div>

    <div class="page-body">
        <form class="form ajax-form" method="post" data-action="{:url('doExamQuestion')}">
            <div class="form-container">
                <div class="form-body">
                    <div class="form-groups">
                        <div class="form-group">
                            <label class="flex-control-label">试题类型</label>
                            <div class="flex-control-input">
                                <select name="category_id" id="category_id" class="form-control">
                                    <option {$data['category_id']==1?'selected':''} value="1">单选题</option>
                                    <option {$data['category_id']==2?'selected':''} value="2">多选题</option>
                                    <option {$data['category_id']==3?'selected':''} value="3">填空题</option>
                                    <option {$data['category_id']==4?'selected':''} value="4">问答题</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="flex-control-label ">试题题干</label>
                            <div class="flex-control-input">
                                <div class="btn-group">
                                    <div class="btn btn-default btn-normal">文本</div>
                                    <div class="btn btn-default btn-normal">图片</div>
                                    <div class="btn btn-default btn-normal">视频</div>
                                    <div class="btn btn-default btn-normal">音频</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="flex-control-label ">试题题目</label>
                            <div class="flex-control-input exam-options-container">
                                <div class="btn-group">
                                    <div class="btn btn-default btn-normal add-text-option">文本</div>
                                    <div class="btn btn-default btn-normal add-image-option">图片</div>
                                    <div class="btn btn-default btn-normal add-video-option">视频</div>
                                    <div class="btn btn-default btn-normal add-audio-option">音频</div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="flex-control-label">是否上线</label>
                            <div class="flex-control-input">
                                <select name="is_online" id="is_online" class="form-control" valid-selected="1">
                                    <option {$data['is_online']?'selected':''}  value="1">上线</option>
                                    <option {$data['is_online']?'':'selected'} value="0">下线</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="flex-control-label">排序</label>
                            <div class="flex-control-input">
                                <input type="text" name="sort" id="sort" value="{$data['sort']}" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="flex-control-label"><!-- 操作 --></label>
                            <div class="flex-control-input">
                                <input type="hidden" name="referer" value="{$_SERVER['HTTP_REFERER']}"/>
                                <input type="hidden" name="id" value="{$_GET['id']}" id="id"/>
                                <input type="submit" value="保存" class="btn btn-save-blue">
                                <a class="btn btn-save-gray" href="javascript:history.go(-1)">返回</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--表单页面帮助说明-->
                <div class="form-aside">
                    <dl class="helper">
                        <dt>帮助说明</dt>
                        <dd>
                            <i class="icon-angle-right"></i>
                            <div class="text">默认情况不发布,如需发布请选择"上线",默认情况不发布,如需发布请选择"上线"</div>
                        </dd>
                        <dd>
                            <i class="icon-angle-right"></i>
                            <div class="text">排序越小越靠前</div>
                        </dd>
                    </dl>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
$(function () {
    $("#category_id").change(function(event){
        console.log(event);
        var category_id = $(this).val();
        console.log('category_id', category_id);
        var options = $(".exam-options-group");

        if(options.length > 0) {
            if(confirm("选项中已有数据,强行切换不保存已编辑选项数据")) {
                options.remove();
            } else {
                $(this).val(category_id);
            }
        }
    });

    $('.add-text-option').click(function(){
        var category_id = $("#category_id").val();
        if(category_id == 0 || category_id == undefined) {
            layer.msg("请选择题目类型");
            return false;
        }

        var parentBox = $(this).parent(".btn-group");
        var options = parentBox.siblings(".exam-options-group");
        if(options.length == 0) {
            $(this).parents(".exam-options-container").append('<div class="exam-options-group"></div>');
            options = parentBox.siblings(".exam-options-group");
        }

        if(options.find(".exam-option").length >= 7) {
            layer.msg("选项最多设置7个");
            return false;
        }

        console.log("options", options)

        var html = '';
        console.log(category_id);
        switch(category_id) {
            case '1':
                // 单选题模板
                html = '<div class="exam-option">' +
                        '<input type="radio" value="" name="option[]" class="exam-answer-item"/>' +
                        '<input type="text" name="radio_option_text[]" class="exam-option-text"/>' +
                        '<div class="exam-option-delete"><i class="icon icon-remove"></i></div>' +
                        '</div>';
                break;

            case '2':
                // 福选题模板
                html = '<div class="exam-option">' +
                        '<input type="checkbox" value="" name="option[]" class="exam-answer-item"/>' +
                        '<input type="text" name="radio_option_text[]" class="exam-option-text"/>' +
                        '<div class="exam-option-delete"><i class="icon icon-remove"></i></div>' +
                        '</div>';
                break;

            default:
                // 单选题模板
                html = '<div class="exam-option">' +
                        '<input type="radio" value="0" name="option[]" class="exam-answer-item"/>' +
                        '<input type="text" name="radio_option_text[]" class="exam-option-text"/>' +
                        '<div class="exam-option-delete"><i class="icon icon-remove"></i></div>' +
                        '</div>';
        }

        options.append(html);

        // 设置option的索引值
        var examOptions = options.find(".exam-option");
        examOptions.each(function(i, item){
            $(item).find(".exam-answer-item").val(i);
        })
    });

    $(document).on("click", ".exam-option-delete", function () {
        if(!confirm('确定删除此选项么?')) {
            return false;
        }

        $(this).parent(".exam-option").remove();
    });
});
</script>
