<div class="layui-card">
    <div class="layui-card-header">
        婚宴基本信息
    </div>
    <div class="layui-card-body">
        <table class="layui-table">
            <colgroup>
                <col width="120">
                <col width="120">
                <col width="120">
                <col width="120">
                <col width="120">
                <col width="120">
                <col width="120">
                <col width="120">
                <col width="120">
                <col width="120">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>婚宴总金额</th>
                    <th>桌数</th>
                    <th>餐标</th>
                    <th>酒水费用</th>
                    <th>加菜换菜</th>
                    <th>优惠金额</th>
                    <th>服务费总计</th>
                    <th>婚礼堂</th>
                    <th>婚礼堂价格</th>
                    <th>其他</th>
                    <th>备注</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{$data.banquet_totals}</td>
                    <td>{$data.table_amount}</td>
                    <td>{$data.table_price}</td>
                    <td>{$data.wine_fee}</td>
                    <td>{$data.banquet_update_table}</td>
                    <td>{$data.banquet_discount}</td>
                    <td>{$data.service_fee}</td>
                    <td>{$data.banquet_ritual_id}</td>
                    <td>{$data.banquet_ritual_hall|default="-"}</td>
                    <td>{$data.banquet_other}</td>
                    <td>{$data.banquet_remark}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<{if !$banquetOrders->isEmpty()}>
    <div class="layui-card">
        <div class="layui-card-header">
            婚宴二销信息
        </div>
        <div class="layui-card-body no-padding no-margin">
            <table class="layui-table no-padding no-margin">
                <colgroup>
                    <col width="150">
                    <col width="150">
                    <col width="150">
                    <col width="150">
                    <col width="150">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>订单号</th>
                    <th>桌数</th>
                    <th>餐标</th>
                    <th>订单金额</th>
                    <th>审核状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <{foreach name="banquetOrders" item="row"}>
                <tr>
                    <td>{$row['banquet_order_no']}</td>
                    <td>{$row['table_amount']}</td>
                    <td>{$row['table_price']}</td>
                    <td>{$row['banquet_totals']}</td>
                    <td>{$confirmStatusList[$row['check_banquet_suborder_status']]}</td>
                    <td>
                        <div class="layui-btn-group">
                            <a href="javascript:void(0);" class="{:auth('order/editBanquetSuborder')} layui-btn layui-btn-xs lay-right" data-title="编辑婚宴二销信息" data-action="{:url('order/editBanquetSuborder', ['id'=>$row['id']])}">编辑</a>
                            <a href="javascript:void(0);" class="{:auth('order/delBanquetSuborder')} layui-btn layui-btn-danger layui-btn-xs lay-delete-api">删除</a>
                            <a href="javascript:void(0);" class="{:auth('order/confirmBanquetSuborder')} layui-btn layui-btn-xs lay-right" data-title="审核婚宴二销信息" data-action="{:url('order/confirmBanquetSuborder', ['id'=>$row['id']])}">审核</a>
                        </div>
                    </td>
                </tr>
                <{/foreach}>
                </tbody>
            </table>
        </div>
    </div>
<{/if}>