<{if !empty($banquet)}>
<div class="layui-card">
    <div class="layui-card-header">
        <div class="layui-card-header-left">
            婚宴基本信息
        </div>
    </div>
    <div class="layui-card-body no-padding no-margin">
        <table class="layui-table no-padding no-margin">
            <thead>
                <tr>
                    <th class="text-center">承办公司</th>
                    <th class="text-center">婚宴总金额</th>
                    <th class="text-center">桌数</th>
                    <th class="text-center">餐标</th>
                    <th class="text-center">酒水费用</th>
                    <th class="text-center">加菜换菜</th>
                    <th class="text-center">优惠金额</th>
                    <th class="text-center">服务费总计</th>
                    <th class="text-center">仪式堂</th>
                    <th class="text-center">仪式堂价格</th>
                    <th class="text-center">其他金额</th>
                    <th class="text-center">审核状态</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">{brands[$banquet.company_id]['title']}</td>
                    <td class="text-center">{$banquet.banquet_totals}</td>
                    <td class="text-center">{$banquet.table_amount}</td>
                    <td class="text-center">{$banquet.table_price}</td>
                    <td class="text-center">{$banquet.wine_fee}</td>
                    <td class="text-center">{$banquet.banquet_update_table}</td>
                    <td class="text-center">{$banquet.banquet_discount}</td>
                    <td class="text-center">{$banquet.service_fee}</td>
                    <td class="text-center">{$rituals[$banquet.banquet_ritual_id]['title']}</td>
                    <td class="text-center">{$banquet.banquet_ritual_hall|default="-"}</td>
                    <td class="text-center">{$banquet.banquet_other}</td>
                    <td class="text-center">{$confirmProjectStatusList[$banquet['item_check_status']]}</td>
                </tr>
                <tr>
                    <td colspan="11">
                        <div class="remark">备注:{$banquet.banquet_remark}</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<{/if}>

<{if !empty($hotelItem)}>
<div class="layui-card">
    <div class="layui-card-body no-margin no-padding">
        <table class="layui-table no-padding no-margin">
            <thead>
            <tr class="no-border">
                <td colspan="9">酒店服务项目</td>
                <td class="text-right">

                </td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="tb-field">婚房</td>
                <td class="tb-value">{$hotelItem.wedding_room}</td>
                <td class="tb-field">婚房数量</td>
                <td class="tb-value">{$hotelItem.wedding_room_amount}</td>
                <td class="tb-field">停车位</td>
                <td class="tb-value">{$hotelItem.part}</td>
                <td class="tb-field">停车位数量</td>
                <td class="tb-value">{$hotelItem.part_amount}</td>
                <td class="tb-field">香槟</td>
                <td class="tb-value">{$hotelItem.champagne}</td>
                <td class="tb-field">香槟数量</td>
                <td class="tb-value">{$hotelItem.champagne_amount}</td>
                <td class="tb-field">茶歇</td>
                <td class="tb-value">{$hotelItem.tea}</td>
                <td class="tb-field">茶歇数量</td>
                <td class="tb-value">{$hotelItem.tea_amount}</td>
                <td class="tb-field">蛋糕</td>
                <td class="tb-value">{$hotelItem.cake}</td>
                <td class="tb-field">蛋糕数量</td>
                <td class="tb-value">{$hotelItem.cake_amount}</td>
                <td class="tb-field">审核状态</td>
                <td class="tb-value">{$confirmProjectStatusList[$hotelItem['item_check_status']]}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<{/if}>

<!--婚宴二销信息-->
<{if !$banquetOrders->isEmpty()}>
    <div class="layui-card layui-card">
        <div class="layui-card-body no-padding no-margin">
            <table class="layui-table no-padding no-margin">
                <colgroup>
                    <col width="150">
                    <col width="150">
                    <col width="150">
                    <col width="150">
                    <col width="150">
                    <col>
                    <col width="150">
                </colgroup>
                <thead>
                    <tr class="no-border">
                        <td colspan="4">婚宴二销信息</td>
                    </tr>
                    <tr>
                        <th class="text-left">订单号</th>
                        <th class="text-left">桌数</th>
                        <th class="text-left">餐标</th>
                        <th class="text-left">订单金额</th>
                    </tr>
                </thead>
                <tbody>
                    <{foreach name="banquetOrders" item="row"}>
                    <tr>
                        <td class="text-left">{$row.banquet_order_no}</td>
                        <td class="text-left">{$row.table_amount}</td>
                        <td class="text-left">{$row.table_price}</td>
                        <td class="text-left">{$row.banquet_totals}</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-left">
                            <div class="remark">备注:{$row.sub_banquet_remark}</div>
                        </td>
                    </tr>
                    <{/foreach}>
                </tbody>
            </table>
        </div>
    </div>
<{/if}>

<!--婚宴酒店协议信息-->
<{if !$hotelProtocol->isEmpty()}>
<div class="layui-card layui-card">
    <div class="layui-card-body no-padding no-margin">
        <table class="layui-table no-padding no-margin">
            <colgroup>
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <col>
                <col width="150">
            </colgroup>
            <thead>
            <tr class="no-border">
                <td colspan="7">酒店协议信息</td>
            </tr>
            <tr>
                <th class="text-center">餐标</th>
                <th class="text-center">桌数</th>
                <th class="text-center">定金付款金额</th>
                <th class="text-center">定金付款日期</th>
                <th class="text-center">中款付款金额</th>
                <th class="text-center">中款付款日期</th>
                <th class="text-center">尾款付款金额</th>
                <th class="text-center">尾款付款日期</th>
            </tr>
            </thead>
            <tbody>
            <{foreach name="hotelProtocol" item="row"}>
            <tr>
                <td class="text-center">{$row.table_price}</td>
                <td class="text-center">{$row.table_amount}</td>
                <td class="text-center">{$row.earnest_money}</td>
                <td class="text-center">{$row.earnest_money_date}</td>
                <td class="text-center">{$row.middle_money}</td>
                <td class="text-center">{$row.middle_money_date}</td>
                <td class="text-center">{$row.tail_money}</td>
                <td class="text-center">{$row.tail_money_date}</td>
            </tr>
            <{/foreach}>
            </tbody>
        </table>
    </div>
</div>
<{/if}>
