<{if !$car->isEmpty()}>
<div class="layui-card">
    <div class="layui-card-header">
        <div class="layui-card-header-left">
            婚车业务
        </div>
    </div>
    <div class="layui-card-body">
        <table class="layui-table no-padding no-margin">
            <colgroup>
                <col width="100">
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="240">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th class="text-center">承办公司</th>
                <th class="text-center">是否二销</th>
                <th class="text-center">是否主车</th>
                <th class="text-center">型号</th>
                <th class="text-center">数量</th>
                <th class="text-center">价格</th>
                <th class="text-center">服务时间</th>
                <th class="text-center">服务距离</th>
                <th class="text-center">备注</th>
                <th class="text-center">审核状态</th>
            </tr>
            </thead>
            <{foreach name="car" item="row"}>
            <tbody class="<{if isset($checkItems['car']) && in_array($row['id'], $checkItems['car'])}>layui-bg-blue<{/if}>">
                <tr>
                    <td class="text-center">{$brands[$row.company_id]['title']}</td>
                    <td class="text-center">{$suborderTypes[$row.is_suborder]}</td>
                    <td class="text-center">{$row.is_master?'主车':'跟车'}</td>
                    <td class="text-center">{$carList[$row['car_id']]['title']}-{$carList[$row['car_id']]['color']}</td>
                    <td class="text-center">{$row['car_amount']}</td>
                    <td class="text-center">{$row['car_price']}</td>
                    <td class="text-center">{$row['service_hour']}</td>
                    <td class="text-center">{$row['service_distance']}</td>
                    <td class="text-center">{$row['car_remark']}</td>
                    <td class="text-center">{$confirmProjectStatusList[$row['item_check_status']]}</td>
                </tr>
            </tbody>
            <{/foreach}>
        </table>
    </div>
</div>
<{/if}>