<div class="layui-card">
    <div class="layui-card-header">客户基本信息</div>
    <div class="layui-card-body">
        <table class="layui-table">
            <colgroup>
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>客户姓名</th>
                    <th>客户手机号</th>
                    <th>来源渠道</th>
                    <th>积点</th>
                    <th>是否引流销售</th>
                    <th>引流销售</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{$member.realname|default='-'}</td>
                    <td>{$member.mobile|default='-'}</td>
                    <td>{$data.source_text}</td>
                    <td>{$data.point|default='-'}</td>
                    <td>{$data.is_recommend_salesman ? '是' : '否'}</td>
                    <td>{$data.recommend_salesman|default='-'}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>