<{if !$dessert->isEmpty()}>
<div class="layui-card">
    <div class="layui-card-header">
        <div class="layui-card-header-left">点心业务</div>
    </div>
    <div class="layui-card-body">
        <table class="layui-table no-padding no-margin">
            <colgroup>
                <col width="100">
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="240">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th class="text-center">承办公司</th>
                <th class="text-center">是否二销</th>
                <th class="text-center">点心类型</th>
                <th class="text-center">点心数量</th>
                <th class="text-center">价格小计</th>
                <th class="text-left">备注</th>
                <th class="text-center">审核状态</th>
            </tr>
            </thead>
            <tbody>
            <{foreach name="dessert" item="row"}>
            <tr>
                <td class="text-center">{$brands[$row.company_id]['title']}</td>
                <td class="text-center">{$suborderTypes[$row.is_suborder]}</td>
                <td class="text-center">{$dessertList[$row.dessert_id]['title']}</td>
                <td class="text-center">{$row['dessert_amount']}</td>
                <td class="text-center">{$row['dessert_price']}</td>
                <td class="text-left">{$row['dessert_remark']}</td>
                <td class="text-center">{$confirmProjectStatusList[$row['item_check_status']]}</td>
            </tr>
            <{/foreach}>
            </tbody>
        </table>
    </div>
</div>
<{/if}>