<{if !$light->isEmpty()}>
<div class="layui-card">
    <div class="layui-card-header">
        <div class="layui-card-header-left">
            灯光业务
        </div>
    </div>
    <div class="layui-card-body">
        <table class="layui-table no-padding no-margin">
            <colgroup>
                <col width="100">
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <col>
                <col width="240">
            </colgroup>
            <thead>
            <tr>
                <th class="text-center">承办公司</th>
                <th class="text-center">是否二销</th>
                <th class="text-center">灯光类型</th>
                <th class="text-center">灯光数量</th>
                <th class="text-center">价格小计</th>
                <th class="text-left">备注</th>
                <th class="text-center">审核状态</th>
            </tr>
            </thead>
            <{foreach name="light" item="row"}>
            <tbody class="<{if isset($checkItems['light']) && in_array($row['id'], $checkItems['light'])}>layui-bg-blue<{/if}>">
                <tr>
                    <td class="text-center">{$brands[$row.company_id]['title']}</td>
                    <td class="text-center">{$suborderTypes[$row.is_suborder]}</td>
                    <td class="text-center">{$lightList[$row['light_id']]['title']}</td>
                    <td class="text-center">{$row['light_amount']}</td>
                    <td class="text-center">{$row['light_price']}</td>
                    <td class="text-left">{$row['light_remark']}</td>
                    <td class="text-center">{$confirmProjectStatusList[$row['item_check_status']]}</td>
                </tr>
            </tbody>
            <{/foreach}>
        </table>
    </div>
</div>
<{/if}>