<{if $data.cooperation_mode == '1'}>
<!--返佣单-->
<div class="layui-card">
    <div class="layui-card-header">
        <div class="layui-card-header-left">合同金额</div>
    </div>
    <div class="layui-card-body input-no-border">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">桌数</label>
                <div class="layui-input-inline">
                    <input type="text" value="{$data['table_amount']}" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">餐标</label>
                <div class="layui-input-inline">
                    <input type="text" value="{$data['table_price']}" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">订单金额</label>
                <div class="layui-input-inline">
                    <input type="text" value="{$data['settle_totals']}" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">税额度</label>
                <div class="layui-input-inline">
                    <input type="text" value="{$data['tax']}" class="layui-input" readonly>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label ">结算比例</label>
                <div class="layui-input-inline">
                    <input type="text" value="{$data['settle_percent']}" class="layui-input layui-date" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">结算时间</label>
                <div class="layui-input-inline">
                    <input type="text" value="{$data['settle_time']}" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label ">实际应收结算金额</label>
                <div class="layui-input-inline">
                    <input type="text" value="{$data['settle_real_total']}" class="layui-input layui-date" readonly>
                </div>
            </div>
        </div>
    </div>
</div>
<{else /}>
<div class="layui-card">
    <div class="layui-card-header">
        <div class="layui-card-header-left">合同金额</div>
    </div>
    <div class="layui-card-body input-no-border">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">合同总金额</label>
                <div class="layui-input-inline">
                    <input type="text" value="{$data['totals']}" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">定金收款日期</label>
                <div class="layui-input-inline">
                    <input type="text" value="{$data['earnest_money_date']}" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">定金收款金额</label>
                <div class="layui-input-inline">
                    <input type="text" value="{$data['earnest_money']}" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">意向金</label>
                <div class="layui-input-inline">
                    <input type="text" value="{$data['prepay_money']}" class="layui-input" readonly>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label ">中款收款日期</label>
                <div class="layui-input-inline">
                    <input type="text" value="{$data['middle_money_date']}" class="layui-input layui-date" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">中款收款金额</label>
                <div class="layui-input-inline">
                    <input type="text" value="{$data['middle_money']}" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label ">尾款收款日期</label>
                <div class="layui-input-inline">
                    <input type="text" value="{$data['tail_money_date']}" class="layui-input layui-date" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">尾款收款金额</label>
                <div class="layui-input-inline">
                    <input type="text" value="{$data['tail_money']}" class="layui-input" readonly>
                </div>
            </div>

        </div>
    </div>
</div>
<{/if}>

<{if !$banquetReceivables->isEmpty() || !$weddingReceivables->isEmpty()}>
<div class="layui-card">
    <div class="layui-card-body no-padding no-margin">
        <table class="layui-table no-padding no-margin">
            <thead>
                <tr class="no-border">
                    <td colspan="8">收款信息</td>
                </tr>
                <tr>
                    <th class="text-left">收款项目</th>
                    <th class="text-left">收款编号</th>
                    <th class="text-left">收款日期</th>
                    <th class="text-left">实际收款日期</th>
                    <th class="text-left">收款方式</th>
                    <th class="text-left">款项性质</th>
                    <th class="text-left">收款金额</th>
                    <th class="text-center">审核状态</th>
                    <th class="text-center">操作</th>
                </tr>
            </thead>
            <tbody>
            <{foreach name="banquetReceivables" item="row"}>
                <tr>
                    <td class="text-left">婚宴</td>
                    <td class="text-left">{$row['banquet_receivable_no']}</td>
                    <td class="text-left">{$row['banquet_income_date']}</td>
                    <td class="text-left">{$row['banquet_income_real_date']}</td>
                    <td class="text-left">{$payments[$row['banquet_income_payment']]}</td>
                    <td class="text-left">{$paymentTypes[$row['banquet_income_type']]}</td>
                    <td class="text-left">{$row['banquet_income_item_price']}</td>
                    <th class="text-center">{$confirmProjectStatusList[$row['item_check_status']]}</th>
                    <th class="text-center">
                        <a href="javascript:void(0);" class="show-image" data-image='{:json_encode($row["images"])}'>查看</a>
                    </th>
                </tr>
                <tr>
                    <td class="text-left" colspan="8">
                        <div class="remark">备注:{$row.remark}</div>
                    </td>
                </tr>
            <{/foreach}>

            <{foreach name="weddingReceivables" item="row"}>
                <tr>
                    <td class="text-left">婚庆</td>
                    <td class="text-left">{$row.wedding_receivable_no}</td>
                    <td class="text-left">{$row.wedding_income_date}</td>
                    <td class="text-left">{$row.wedding_income_real_date}</td>
                    <td class="text-left">{$payments[$row['wedding_income_payment']]}</td>
                    <td class="text-left">{$paymentTypes[$row.wedding_income_type]}</td>
                    <td class="text-left">{$row.wedding_income_item_price}</td>
                    <th class="text-center">{$confirmProjectStatusList[$row['item_check_status']]}</th>
                    <th class="text-center">
                        <a href="javascript:void(0);" class="show-image" data-image='{:json_encode($row["images"])}'>查看</a>
                    </th>
                </tr>
                <tr>
                    <td class="text-left" colspan="8">
                        <div class="remark">备注:{$row.remark}</div>
                    </td>
                </tr>
            <{/foreach}>
            </tbody>
        </table>
    </div>
</div>
<{/if}>

<!--婚宴付款单-->
<{if !$banquetPayments->isEmpty()}>
<div class="layui-card">
    <div class="layui-card-body no-margin no-padding">
        <table class="layui-table no-padding no-margin">
            <thead>
            <tr class="no-border">
                <td colspan="8">付款信息</td>
            </tr>
            <tr>
                <th class="text-left">收款项目</th>
                <th class="text-left">付款编号</th>
                <th class="text-left">申请日期</th>
                <th class="text-left">款项性质</th>
                <th class="text-left">付款金额</th>
                <th class="text-center">收款名称</th>
                <th class="text-center">收款账号</th>
                <th class="text-center">收款卡户行</th>
                <th class="text-center">审核状态</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <{foreach name="banquetPayments" item="row"}>
            <tr>
                <th class="text-left">婚宴</th>
                <th class="text-left">{$row['banquet_payment_no']}</th>
                <th class="text-left">{$row['banquet_apply_pay_date']}</th>
                <th class="text-left">{$paymentTypes[$row['banquet_pay_type']]}</th>
                <th class="text-left">{$row['banquet_pay_item_price']}</th>
                <th class="text-left">{$row['banquet_pay_to_company']}</th>
                <th class="text-left">{$row['banquet_pay_to_account']}</th>
                <th class="text-left">{$row['banquet_pay_to_bank']}</th>
                <th class="text-center">{$confirmProjectStatusList[$row['item_check_status']]}</th>
                <th class="text-center">
                    <a href="javascript:void(0);" class="show-image" data-image='{:json_encode($row["images"])}'>查看</a>
                </th>
            </tr>
            <tr>
                <th class="text-left" colspan="10">
                    <div class="remark">备注：{$row.banquet_payment_remark}</div>
                </th>
            </tr>
            <{/foreach}>
            </tbody>
        </table>
    </div>
</div>
<{/if}>

<{if !$weddingPayments->isEmpty()}>
<div class="layui-card">
    <div class="layui-card-body no-margin no-padding">
        <table class="layui-table no-padding no-margin">
            <thead>
            <tr class="no-border">
                <td colspan="7">婚庆付款信息</td>
            </tr>
            <tr>
                <th class="text-left">付款编号</th>
                <th class="text-left">申请日期</th>
                <th class="text-left">款项性质</th>
                <th class="text-left">付款金额</th>
                <th class="text-left">收款名称</th>
                <th class="text-left">收款账号</th>
                <th class="text-left">开户行</th>
                <th class="text-left">审核状态</th>
                <th class="text-left">操作</th>
            </tr>
            </thead>
            <tbody>
            <{foreach name="weddingPayments" item="row"}>
            <tr>
                <th class="text-left">{$row['wedding_payment_no']}</th>
                <th class="text-left">{$row['wedding_apply_pay_date']}</th>
                <th class="text-left">{$paymentTypes[$row['wedding_pay_type']]}</th>
                <th class="text-left">{$row['wedding_pay_item_price']}</th>
                <th class="text-left">{$row['wedding_pay_to_company']}</th>
                <th class="text-left">{$row['wedding_pay_to_account']}</th>
                <th class="text-left">{$row['wedding_pay_to_bank']}</th>
                <th class="text-center">{$confirmProjectStatusList[$row['item_check_status']]}</th>
                <th>
                    <a href="javascript:void(0);" class="show-image" data-image='{:json_encode($row["images"])}'>查看</a>
                </th>
            </tr>
            <tr>
                <th class="text-left" colspan="10">
                    <div class="remark">备注:{$row.wedding_payment_remark}</div>
                </th>
            </tr>
            <{/foreach}>
            </tbody>
        </table>
    </div>
</div>
<{/if}>

<div class="layui-card">
    <div class="layui-card-header">
        <div class="layui-card-header-left">合同总计</div>
    </div>
    <div class="layui-card-body input-no-border">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">客户总消费</label>
                <div class="layui-input-inline">
                    <input type="text" value="{$count['customer_totals']}" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">合同总金额</label>
                <div class="layui-input-inline">
                    <input type="text" value="{$count['totals']}" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">婚宴二销金额</label>
                <div class="layui-input-inline">
                    <input type="text" value="{$count['banquet_totals']}" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">婚庆二销金额</label>
                <div class="layui-input-inline">
                    <input type="text" value="{$count['wedding_totals']}" class="layui-input" readonly>
                </div>
            </div>
        </div>
    </div>
</div>