<{if !$sugar->isEmpty()}>
<div class="layui-card">
    <div class="layui-card-header">
        <div class="layui-card-header-left">
            喜糖业务
        </div>
    </div>
    <div class="layui-card-body">
        <table class="layui-table no-padding no-margin">
            <colgroup>
                <col width="100">
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <col>
                <col width="240">
            </colgroup>
            <thead>
            <tr>
                <th class="text-center">是否二销</th>
                <th class="text-center">喜糖类型</th>
                <th class="text-center">喜糖数量</th>
                <th class="text-center">价格小计</th>
                <th class="text-left">备注</th>
                <th class="text-center">审核状态</th>
            </tr>
            </thead>
            <tbody>
            <{foreach name="sugar" item="row"}>
            <tr>
                <th class="text-center">{$suborderTypes[$row.is_suborder]}</th>
                <th class="text-center">{$sugarList[$row['sugar_id']]['title']}</th>
                <th class="text-center">{$row['sugar_amount']}</th>
                <th class="text-center">{$row['sugar_price']}</th>
                <th class="text-left">{$row['sugar_remark']}</th>
                <th class="text-center">{$confirmProjectStatusList[$row['item_check_status']]}</th>
            </tr>
            <{/foreach}>
            </tbody>
        </table>
    </div>
</div>
<{/if}>