<div class="layui-card">
    <div class="layui-card-header">
        婚庆基本信息
    </div>
    <div class="layui-card-body">
        <table class="layui-table">
            <colgroup>
                <col width="120">
                <col width="120">
                <col width="120">
                <col width="120">
                <col width="120">
                <col width="120">
                <col width="120">
                <col width="120">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>婚庆总金额</th>
                    <th>套餐</th>
                    <th>套餐金额</th>
                    <th>仪式堂</th>
                    <th>仪式堂价格</th>
                    <th>是否研发产品</th>
                    <th>研发产品编号</th>
                    <th>其他</th>
                    <th>备注</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{$data.wedding_total}</td>
                    <td>{$data.wedding_package_id}</td>
                    <td>{$data.wedding_package_price}</td>
                    <td>{$data.wedding_ritual_id}</td>
                    <td>{$data.wedding_ritual_hall}</td>
                    <td>{$data.is_new_product}</td>
                    <td>{$data.new_product_no}</td>
                    <td>{$data.wedding_other}</td>
                    <td>{$data.wedding_remark}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<{if !$weddingOrders->isEmpty()}>
<div class="layui-card">
    <div class="layui-card-header">
        婚庆二销信息
    </div>
    <div class="layui-card-body no-padding no-margin">
        <table class="layui-table no-padding no-margin">
            <colgroup>
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>订单号</th>
                <th>订单金额</th>
                <th>明细</th>
                <th>-</th>
                <th>审核状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <{foreach name="weddingOrders" item="row"}>
                <tr>
                    <td>{$row['wedding_order_no']}</td>
                    <td>{$row['wedding_totals']}</td>
                    <td>
                        <a class="lay-right" href="javascript:void(0);" data-title="查看二销明细" data-action="{:url('order/showWeddingDetails', ['id'=>$row['id']])}">查看</a>
                    </td>
                    <td>-</td>
                    <td>{$confirmStatusList[$row['check_wedding_suborder_status']]}</td>
                    <td>
                        <div class="layui-btn-group">
                            <a href="javascript:void(0);" class="{:auth('order/editWeddingSuborder')} layui-btn layui-btn-xs lay-right" data-title="编辑婚庆二销信息" data-action="{:url('order/editWeddingSuborder', ['id'=>$row['id']])}">编辑</a>
                            <a href="javascript:void(0);" class="{:auth('order/deleteWeddingSuborder')} layui-btn layui-btn-danger layui-btn-xs lay-delete-api" data-action="{:auth('order/deleteWeddingSuborder', ['id'=>$row['id']])}">删除</a>
                            <a href="javascript:void(0);" class="{:auth('order/confirmWeddingSuborder')} layui-btn layui-btn-xs lay-right" data-title="审核婚庆二销信息" data-action="{:url('order/confirmWeddingSuborder', ['id'=>$row['id']])}">审核</a>
                        </div>
                    </td>
                </tr>
            <{/foreach}>
            </tbody>
        </table>
    </div>
</div>
<{/if}>