<{if !empty($wedding)}>
<div class="layui-card">
    <div class="layui-card-header">
        <div class="layui-card-header-left">婚庆基本信息</div>
    </div>

    <div class="layui-card-body no-padding no-margin">
        <table class="layui-table no-padding no-margin">
            <thead>
                <tr>
                    <th class="text-center">婚庆总金额</th>
                    <th class="text-center">套餐</th>
                    <th class="text-center">套餐金额</th>
                    <th class="text-center">仪式堂</th>
                    <th class="text-center">仪式堂价格</th>
                    <th class="text-center">研发产品编号</th>
                    <th class="text-center">其他金额</th>
                    <th class="text-center">审核状态</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">{$wedding.wedding_total}</td>
                    <td class="text-center">{$wedding.wedding_package_id}</td>
                    <td class="text-center">{$wedding.wedding_package_price|default='-'}</td>
                    <td class="text-center">{$rituals[$wedding.wedding_ritual_id]['title']}</td>
                    <td class="text-center">{$wedding.wedding_ritual_hall|default='-'}</td>
                    <td class="text-center">{$wedding.new_product_no|default='-'}</td>
                    <td class="text-center">{$wedding.wedding_other}</td>
                    <th class="text-center">{$confirmProjectStatusList[$wedding['item_check_status']]}</th>
                </tr>
                <tr>
                    <td colspan="8" class="td-remark">备注: {$wedding.wedding_remark|default='-'}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<{/if}>

<{if !$weddingOrders->isEmpty()}>
<div class="layui-card">
    <div class="layui-card-body no-padding no-margin">
        <table class="layui-table no-padding no-margin">
            <thead>
                <tr class="no-border">
                    <td colspan="7">
                        婚庆二销信息
                    </td>
                </tr>
                <tr>
                    <th class="text-center">
                        <a class="lay-right" href="javascript:void(0);" title="查看二销明细" data-action="{:url('order/showWeddingDetails', ['id'=>$row['id']])}">
                        订单号
                        </a>
                    </th>
                    <th class="text-center">订单金额</th>
                </tr>
            </thead>
            <tbody>
                <{foreach name="weddingOrders" item="row"}>
                    <tr>
                        <td class="text-center">{$row['wedding_order_no']}</td>
                        <td class="text-center">{$row['wedding_totals']}</td>
                    </tr>
                    <tr>
                        <td class="text-left" colspan="2">备注:{$row.sub_wedding_remark}</td>
                    </tr>
                <{/foreach}>
            </tbody>
        </table>
    </div>
</div>
<{/if}>