<div class="layui-card">
    <div class="layui-card-header">审核结果</div>
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-label-normal">确认状态</label>
            <div class="layui-input-block">
                <select name="[fieldStatus]" id="[fieldStatus]">
                    <option value="0">--待审核--</option>
                    <option value="1">--通过--</option>
                    <option value="2">--驳回--</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label layui-form-label-normal">备注</label>
            <div class="layui-input-block">
                <textarea name="[fieldRemark]" placeholder="备注" class="layui-textarea"></textarea>
            </div>
        </div>
    </div>
</div>