<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="layui-card-header">
    电子设备
</div>
<div class="layui-row">
    <table class="table-mine">
        <tbody>
        <tr>
            <th>
                <select name="items[device][]" lay-search lay-verify="required">
                    <option value="">请选择电子设备项目</option>
                    <{foreach name="weddingDevices" item="row"}>
                    <option value="{$row['id']}">{$row['title']}</option>
                    <{/foreach}>
                </select>
            </th>
            <th>
                <input type="text" name="items[amount][]" value="{$data['wedding_category_amount']}" lay-verify="required" placeholder="数量" autocomplete="off" class="layui-input">
            </th>
            <th>
                <input type="text" name="items[total][]" value="{$data['wedding_total']}" lay-verify="required" placeholder="金额" autocomplete="off" class="layui-input">
            </th>
            <th>
                <div class="layui-btn-group">
                    <a class="layui-btn layui-btn append_wedding_item" href="javascript:void(0);"><i class="layui-icon"></i></a>
                    <a class="layui-btn layui-btn-danger layui-btn delete_wedding_item" href="javascript:void(0);"><i class="layui-icon"></i></a>
                </div>
            </th>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>