<div class="layui-card">
    <div class="layui-card-header">收款信息</div>
    <div class="layui-card-body">
        <div class="layui-form-item">
            <div class="layui-inline">
                <div class="layui-inline">
                    <label class="layui-form-label">定金收款日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="earnest_money_date" value="{$data['earnest_money_date']}" lay-verify="required" placeholder="定金收款日期" autocomplete="off" class="layui-input layui-date">
                    </div>
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-inline">
                    <label class="layui-form-label">定金收款金额</label>
                    <div class="layui-input-inline">
                        <input type="text" name="earnest_money" value="{$data['earnest_money']}" lay-verify="required" placeholder="定金收款金额" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-inline">
                    <label class="layui-form-label">中款收款日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="middle_money_date" value="{$data['middle_money_date']}" lay-verify="required" placeholder="中款收款日期" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-inline">
                    <label class="layui-form-label">中款收款金额</label>
                    <div class="layui-input-inline">
                        <input type="text" name="middle_money" value="{$data['middle_money']}" lay-verify="required" placeholder="中款收款金额" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <div class="layui-inline">
                    <label class="layui-form-label">尾款收款日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="tail_money" value="{$data['tail_money_date']}" lay-verify="required" placeholder="尾款收款日期" autocomplete="off" class="layui-input layui-date">
                    </div>
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-inline">
                    <label class="layui-form-label">尾款收款金额</label>
                    <div class="layui-input-inline">
                        <input type="text" name="tail_money" value="{$data['tail_money']}" lay-verify="required" placeholder="尾款收款金额" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-inline">
                    <label class="layui-form-label">合同总金额</label>
                    <div class="layui-input-inline">
                        <input type="text" name="discount" value="{$data['contract_totals']}" lay-verify="required" placeholder="合同总金额" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>