<!-- 面包屑 -->
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>首页</li>
        <li>客资管理</li>
        <li>归档客资</li>
    </ul>
    <span class="widget-toolbar">
        <a href="javascript:history.go(-1);">
            <span class="glyphicon glyphicon-share-alt"></span>
            <span class="text">返回</span>
        </a>
    </span>
</div>
<!--页面详情-->
<div class="page-content">
    <include file="Customer/search" />
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="center">
                                <label>
                                    <input type="checkbox" class="ace">
                                    <span class="lbl"></span>
                                </label>
                            </th>
                            <th class="center">客户姓名</th>
                            <th class="center">性别</th>
                            <th class="center">手机号</th>
                            <th class="center">客户来源</th>
                            <th class="center">分配状态</th>
                            <th class="center">有效状态</th>
                            <th class="center">最后回访</th>
                            <th>录入时间</th>
                            <th class="center">操作者</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <php>
                        $CustomerModel = M('Customer');
                    </php>
                    <foreach item="val" name="list">
                        <php>
                            $customer = $CustomerModel->find($val['customer_id']);
                        </php>
                        <tr>
                            <th class="center">
                                <label>
                                    <input type="checkbox" name="id[]" class="ace" value="{$val['id']}">
                                    <span class="lbl"></span>
                                </label>
                            </th>
                            <th class="center">{$customer['customer_name']}</th>
                            <th class="center">
                                <switch name="customer['sex']">
                                    <case value="0">女</case>
                                    <case value="1">男</case>
                                    <default />未知
                                </switch>
                            </th>
                            <th class="center">{$customer['mobile']}</th>
                            <th class="center">客户来源</th>
                            <th class="center">
                                {$customer['sales_id']?'已分配':'未分配'}
                            </th>
                            <th class="center">{$customer['status']|default='有效客户'}</th>
                            <th class="center">
                                2017-10-17 02:46:11
                            </th>
                            <th>{$customer['create_time']}</th>
                            <th class="center">刘存洲</th>
                            <th>
                                <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                                    <a class="btn btn-xs btn-danger action-delete-customer" href="javascript:void(0);" data-action="{:url('rollback', ['id'=>$val['id']])}" data-tip="确认要还原该客资么？">
                                        归档
                                    </a>

                                </div>
                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                    <div class="inline position-relative">
                                        <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
                                            <i class="icon-cog icon-only bigger-110"></i>
                                        </button>

                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                            <li>
                                                <a href="#" class="tooltip-info" data-rel="tooltip" title="" data-original-title="View">
                                                    还原
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </foreach>
                </table>
                {$page}
            </div>
        </div>
    </div>
</div>
<script src="/assets/js/ace.customer.js"></script>