<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>批量导入</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/assets/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/assets/style/admin.css" media="all">
</head>
<body>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>批量导入</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <div class="layui-btn-group">
                        <button class="layui-btn layui-btn-sm" id="upload">上传客资</button>
                        <a class="layui-btn layui-btn-sm" href="{:url('Customer/export')}" target="_blank">导出重复</a>
                        <a class="layui-btn layui-btn-sm" href="/customer_template.csv" target="_blank">下载模版</a>
                    </div>
                </div>
                <div class="layui-card-body">
                    <table class="layui-table">
                        <colgroup>
                            <col width="120">
                            <col>
                        </colgroup>
                        <{if !empty($fileData['file'])}>
                        <tr>
                            <td>友情提示:</td>
                            <td>上次的客资尚未分配</td>
                        </tr>
                        <{/if}>
                        <tr>
                            <td>有效客资:</td>
                            <td><span id="amount">{$fileData.amount}</span></td>
                        </tr>
                        <tr>
                            <td>重复客资:</td>
                            <td><span id="repeat">{$fileData.repeat}</span></td>
                        </tr>

                    </table>

                    <form class="layui-form" method="post" action="{:url('Customer/doAllocate')}" lay-filter="component-form-group">
                        <p>
                            已经分配<span class="assigned_amount">0</span>条,
                            还剩<span class="unassigned_amount">{$fileData['amount']}</span>条未分配
                        </p>
                        <table class="layui-table">
                            <colgroup>
                                <col width="120">
                                <col>
                            </colgroup>
                            <{foreach name="users" item="val"}>
                            <tr>
                                <td>{$val['realname']}</td>
                                <td>
                                    <input type="text" name="user_{$val['id']}" class="layui-input">
                                </td>
                            </tr>
                            <{/foreach}>
                        </table>

                        <div class="layui-form-item layui-layout-admin">
                            <div class="layui-input-block">
                                <div class="layui-footer" style="left: 0;">
                                    <button class="layui-btn" lay-submit="" lay-filter="form-submit">立即分配</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/layui/layui.js"></script>
<script>
    layui.config({
        base: '/assets/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'upload', 'form'], function () {
        var $ = layui.jquery
            ,upload = layui.upload
            ,form = layui.form;

        url = '/index/customer/import.html';
        upload.render({
            elem: '#upload'
            ,url: url
            ,done: function(res, index, upload){ //上传后的回调
                if(res.code == 200) {
                    $("#amount").html(res.data.amount);
                    $("#repeat").html(res.data.repeat);
                    layer.msg(res.msg);
                }
            }
            ,accept: 'file' //允许上传的文件类型
            ,exts: 'csv'
            ,error: function (res) {
                console.log('err:', res);
            }
        });

        form.render(null, 'component-form-group');
        form.on('submit(form-submit)', function (data) {
            var url = data.form.action;
            var params = data.field;
            $.post(url, params, function(result){
                console.log(result);
                alert(result.msg);
                if(result.code == '200') {
                    window.location.reload();
                }
            });
            return false;
        });
    });
</script>
</body>
</html>