<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>批量导入</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/assets/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/assets/style/admin.css" media="all">
</head>
<body>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>批量导入</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <div class="layui-btn-group">
                        <button class="layui-btn layui-btn-sm" id="upload">上传客资</button>
                        <button class="layui-btn layui-btn-sm" id="allocate">导入并分配</button>
                        <a class="layui-btn layui-btn-sm" href="{:url('Customer/export')}" target="_blank">导出重复</a>
                        <a class="layui-btn layui-btn-sm" href="/cutomer_template.csv" target="_blank">下载模版</a>
                    </div>
                </div>
                <div class="layui-card-body">
                    <table class="layui-table">
                        <colgroup>
                            <col width="200">
                            <col>
                        </colgroup>
                        <{if !empty($upload['file'])}>
                        <tr>
                            <td>友情提示:</td>
                            <td>上次的客资尚未分配</td>
                        </tr>
                        <{/if}>
                        <tr>
                            <td>有效客资:</td>
                            <td><span id="amount">{$upload.amount}</span></td>
                        </tr>
                        <tr>
                            <td>重复客资:</td>
                            <td><span id="repeat">{$upload.repeat}</span></td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/layui/layui.js"></script>
<script>
    layui.config({
        base: '/assets/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'upload'], function () {
        var admin = layui.admin,
            table = layui.table,
            $ = layui.jquery,
            upload = layui.upload;

        url = '/index/customer/import.html';
        upload.render({
            elem: '#upload'
            ,url: url
            ,done: function(res, index, upload){ //上传后的回调
                if(res.code == 200) {
                    $("#amount").html(res.data.amount);
                    $("#repeat").html(res.data.repeat);
                    layer.msg(res.msg);
                }
            }
            ,accept: 'file' //允许上传的文件类型
            ,exts: 'csv'
            ,error: function (res) {
                console.log('err:', res);
            }
        });


        var height = window.innerHeight;
        var width = window.innerWidth * 0.6;
        var url = '';
        $("#allocate").click(function () {
            url = '/index/customer/allocate.html';
            layer.open({
                type: 2,
                title: '导入并分配',
                content: url,
                area: [width + 'px', height + 'px'],
                offset: 'rb'
            });
        });

    });
</script>
</body>
</html>