<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>批量导入</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/assets/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/assets/style/admin.css" media="all">
</head>
<body>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>批量导入</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <table class="layui-hide" id="table" lay-filter="table"></table>
                                        <script type="text/html" id="table-toolbar">
                        <div class="layui-btn-container">
                                                    <button class="layui-btn layui-btn-sm" lay-event="upload">上传客资</button>
                                                    <button class="layui-btn layui-btn-sm" lay-event="allocate">导入并分配</button>
                                                    <button class="layui-btn layui-btn-sm" lay-event="export">导出重复</button>
                                                    <button class="layui-btn layui-btn-sm" lay-event="tpl">下载模版</button>
                                                </div>
                    </script>
                                    </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/layui/layui.js"></script>
<script>
    layui.config({
        base: '/assets/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table'], function(){
        var admin = layui.admin
            ,table = layui.table;

        table.render({
            elem: '#table'
            ,url: '/index/customer/import.html'
            ,height: 'full-100'
            ,defaultToolbar: ['filter']
            ,toolbar: '#table-toolbar'
            ,title: '批量导入'
            ,cols: [[{"type":"checkbox","width":80},{"field":"realname","title":"\u5ba2\u6237\u59d3\u540d","width":120},{"field":"mobile","title":"\u8054\u7cfb\u7535\u8bdd","width":120},{"field":"mobile1","title":"\u5176\u5b83\u8054\u7cfb","width":120},{"field":"banquet_size","title":"\u5bb4\u4f1a\u89c4\u6a21","width":120},{"field":"budget","title":"\u9884\u7b97","width":120},{"field":"is_valid","title":"\u53d1\u5e03\u72b6\u6001","width":120},{"field":"wedding_date","title":"\u5a5a\u671f","width":120},{"field":"zone","title":"\u533a\u57df","width":120},{"field":"remark","title":"\u5907\u6ce8","width":120}]]
            ,page: true
        });

        var height = window.innerHeight;
        var width = window.innerWidth * 0.6;
        var url = '';
        //头工具栏事件
        table.on('toolbar(table)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            var url = '';
            switch(obj.event){
                                case 'upload':
                    var data = checkStatus.data;
                    url = '/index/customer/import.html';
                    layer.open({
                        type: 2,
                        title: '上传客资',
                        content: url,
                        area: [width+'px',height+'px'],
                        offset:'rb'
                    });
                    break;
                                case 'allocate':
                    var data = checkStatus.data;
                    url = '/index/customer/allocate.html';
                    layer.open({
                        type: 2,
                        title: '导入并分配',
                        content: url,
                        area: [width+'px',height+'px'],
                        offset:'rb'
                    });
                    break;
                                case 'export':
                    var data = checkStatus.data;
                    url = '/index/customer/export.html';
                    layer.open({
                        type: 2,
                        title: '导出重复',
                        content: url,
                        area: [width+'px',height+'px'],
                        offset:'rb'
                    });
                    break;
                                case 'tpl':
                    var data = checkStatus.data;
                    url = '/index/customer/gettpl.html';
                    layer.open({
                        type: 2,
                        title: '下载模版',
                        content: url,
                        area: [width+'px',height+'px'],
                        offset:'rb'
                    });
                    break;
                            };
        });

        //监听行工具事件
        table.on('tool(table)', function(obj){
            switch(obj.event){
                            };
        });

    });
</script>
</body>
</html>