<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>我的客资</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/assets/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/assets/style/admin.css" media="all">
    <style>
        .toolbar-select {
            width: 80px;
            margin-top:-6px;
            margin-right: 10px;
        }
    </style>
</head>
<body>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>我的客资</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="layui-tab">
                        <ul class="layui-tab-title">

                            <!--<li class="layui-this">-->
                                <!--<a href="{:url('customer/index')}">所有客资</a>-->
                            <!--</li>-->
                            <{foreach name="tabs" item="val"}>
                                <{if $val['checked'] == '1'}>
                                    <li class="layui-this">
                                        <a href="{$val.url}">{$val.text}</a>
                                    </li>
                                <{else /}>
                                    <li>
                                        <a href="{$val.url}">{$val.text}</a>
                                    </li>
                                <{/if}>
                            <{/foreach}>
                        </ul>
                    </div>
                    <table class="layui-hide" id="table" lay-filter="table"></table>
                    <script type="text/html" id="table-toolbar">
                        <div class="layui-btn-container">
                            {:search(["event"=>"searchCustomer", "text"=>"高级搜索"])}
                            {:button(["event"=>"addCustomer", "text"=>"添加客资"])}
                            {:button(["event"=>"assignToWashManager", "text"=>"清洗组主管"])}
                            {:button(["event"=>"assignToWashStaff", "text"=>"清洗组客服"])}
                            {:button(["event"=>"assignToRecommendManager", "text"=>"推荐组主管"])}
                            {:button(["event"=>"assignToRecommendStaff", "text"=>"推荐组客服"])}
                            {:button(["event"=>"assignToStoreStaff", "text"=>"门市客服"])}
                        </div>
                    </script>
                    <script type="text/html" id="table-tool">
                        <div class="layui-btn-container">
                            {:button(["event"=>"visitCustomer", "text"=>"回访", "type"=>"edit"])}
                            {:button(["event"=>"visitLogs", "text"=>"回访记录", "type"=>"edit"])}
                            {:button(["event"=>"editCustomer", "text"=>"编辑", "type"=>"edit"])}
                        </div>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/layui/layui.js"></script>
<script>
    layui.config({
        base: '/assets/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table'], function () {
        var $ = layui.jquery
            , table = layui.table;

        table.render({
            elem: '#table'
            ,
            url: '{$Think.server.REQUEST_URI}'
            ,
            height: 'full-100'
            ,
            defaultToolbar: ['filter']
            ,
            toolbar: '#table-toolbar'
            ,
            title: '我的客资'
            ,
            cols: [[{"type": "checkbox", "width": 60, "fixed": "left"}, {
                "field": "member_no",
                "title": "\u5ba2\u8d44\u7f16\u53f7",
                "width": 120
            }, {"field": "realname", "title": "\u5ba2\u6237\u59d3\u540d", "width": 120}, {
                "field": "mobile",
                "title": "\u8054\u7cfb\u65b9\u5f0f",
                "width": 120
            }, {
                "field": "source_id",
                "title": "客资来源",
                "width": 120
            }, {
                "field": "intention_status",
                "title": "\u610f\u5411\u72b6\u6001",
                "width": 120
            }, {"field": "news_type", "title": "\u4fe1\u606f\u7c7b\u578b", "width": 120}, {
                "field": "hotel_id",
                "title": "\u5165\u4f4f\u9152\u5e97",
                "width": 120
            }, {"field": "banquet_size", "title": "\u5bb4\u4f1a\u89c4\u6a21", "width": 120}, {
                "field": "budget",
                "title": "\u9884\u7b97",
                "width": 120
            },{"field": "wedding_date", "title": "\u5a5a\u793c\u65e5\u671f", "width": 120}, {
                "field": "zone",
                "title": "\u533a\u57df",
                "width": 120
            }, {"field": "remark", "title": "\u5907\u6ce8", "width": 200}, {
                "field": "create_time",
                "title": "\u521b\u5efa\u65e5\u671f",
                "width": 180
            }, {"type": "tool", "title": "\u64cd\u4f5c", "toolbar": "#table-tool", "fixed":"right", "width": 200}]]
            ,
            page: true
        });

        var getSelectedIds = function (jsonArr) {
            var ids = [];
            jsonArr.forEach(function (value, key) {
               ids.push(value.id)
            });

            return ids.join(',');
        }

        var height = window.innerHeight;
        var width = window.innerWidth * 0.6;
        var url = '';
        //头工具栏事件
        table.on('toolbar(table)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            var checkedboxes = checkStatus.data;
            var url = '';
            var ids = '';
            switch (obj.event) {
                case "searchCustomer":
                    url = '/index/search/customer.html';
                    layer.open({
                        type: 2,
                        title: '高级搜索',
                        area: [width + 'px', '330px'],
                        content: url
                    });
                    break;
                case 'addCustomer':
                    url = '/index/customer/addcustomer.html';
                    layer.open({
                        type: 2,
                        title: '添加客服',
                        content: url,
                        area: [width + 'px', height + 'px'],
                        offset: 'rb'
                    });
                    break;
                case 'assignToWashManager':
                    if (checkedboxes.length < 1) {
                        layer.msg("请先选择要分配的客资");
                        return false;
                    }

                    ids = getSelectedIds(checkedboxes);
                    url = '/index/customer/assigntowashmanager.html?ids='+ids;
                    layer.open({
                        type: 2,
                        title: '分发到洗单组主管',
                        content: url,
                        area: [width + 'px', height + 'px'],
                        offset: 'rb'
                    });
                    break;
                case 'assignToWashStaff':
                    if (checkedboxes.length < 1) {
                        layer.msg("请先选择要分配的客资");
                        return false;
                    }

                    ids = getSelectedIds(checkedboxes);
                    url = '/index/customer/assigntowashstaff.html?ids='+ids;
                    layer.open({
                        type: 2,
                        title: '分发到洗单组客服',
                        content: url,
                        area: [width + 'px', height + 'px'],
                        offset: 'rb'
                    });
                    break;
                case 'assignToRecommendManager':
                    if (checkedboxes.length < 1) {
                        layer.msg("请先选择要分配的客资");
                        return false;
                    }

                    ids = getSelectedIds(checkedboxes);
                    url = '/index/customer/assigntorecommendmanager.html?ids='+ids;
                    layer.open({
                        type: 2,
                        title: '分发到推荐组主管',
                        content: url,
                        area: [width + 'px', height + 'px'],
                        offset: 'rb'
                    });
                    break;
                case 'assignToRecommendStaff':
                    if (checkedboxes.length < 1) {
                        layer.msg("请先选择要分配的客资");
                        return false;
                    }

                    ids = getSelectedIds(checkedboxes);
                    url = '/index/customer/assigntorecommendstaff.html?ids='+ids;
                    layer.open({
                        type: 2,
                        title: '分发到推荐组客服',
                        content: url,
                        area: [width + 'px', height + 'px'],
                        offset: 'rb'
                    });
                    break;
                case 'assignToStoreStaff':
                    if(checkedboxes.length < 1) {
                        layer.msg("请县选择要分配的客资");
                        return false;
                    }
                    ids = getSelectedIds(checkedboxes);
                    url = '/index/customer/assigntostorestaff.html?ids='+ids;
                    layer.open({
                        type: 2,
                        title: '分发到门市销售',
                        content: url,
                        area: [width + 'px', height + 'px'],
                        offset: 'rb'
                    });
                    break;
                case 'apply_visit':
                    if(checkedboxes.length < 1) {
                        layer.msg("请选择要申请的客资");
                        return false;
                    }
                    ids = getSelectedIds(checkedboxes);
                    url = '/index/customer/doapply.html';
                    $.post(url, {ids:ids}, function (res) {
                        if(res.code == '200') {
                            alert(res.msg);
                            parent.window.location.reload();
                        } else {
                            layer.msg(res.msg);
                        }
                    });
                    break;
                case 'apply_order':
                    if(checkedboxes.length < 1) {
                        layer.msg("请选择要申请成单的客资");
                        return false;
                    };
                    ids = getSelectedIds(checkedboxes);
                    url = '/index/customer/applyorder.html?ids='+ids;
                    layer.open({
                        type: 2,
                        title: '申请成单',
                        content: url,
                        area: [width + 'px', height + 'px'],
                        offset: 'rb'
                    });
                    break;
            }
            ;
        });

        //监听行工具事件
        table.on('tool(table)', function (obj) {
            var id = obj.data.member_id;
            switch (obj.event) {
                case 'editCustomer':
                    url = '/index/customer/editcustomer.html?id=' + id;
                    layer.open({
                        type: 2,
                        title: '编辑客资信息',
                        content: url,
                        area: [width + 'px', height + 'px'],
                        offset: 'rb'
                    });
                    break;
                case 'visitCustomer':
                    url = '/index/customer/visitcustomer.html?id=' + id;
                    layer.open({
                        type: 2,
                        title: '回访客资',
                        content: url,
                        area: [width + 'px', height + 'px'],
                        offset: 'rb'
                    });
                    break;
                case 'visitLogs':
                    url = '/index/customer/visitlogs.html?id=' + id;
                    layer.open({
                        type: 2,
                        title: '回访记录',
                        content: url,
                        area: [width + 'px', height + 'px'],
                        offset: 'rb'
                    });
                    break;
            };
        });

    });
</script>
</body>
</html>