

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>客资管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/assets/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/assets/style/admin.css" media="all">
</head>
<body>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>酒店管理</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <!--<div class="layui-card-header">酒店管理</div>-->
                <div class="layui-card-body">
                    <table class="layui-hide" id="test-table-toolbar" lay-filter="test-table-toolbar"></table>

                    <script type="text/html" id="test-table-toolbar-toolbarDemo">
                        <div class="layui-btn-container">
                            <button class="layui-btn layui-btn-sm" lay-event="getCheckData">添加客资</button>
                            <button class="layui-btn layui-btn-sm action-modal {$managerBtn}" href="javascript:void(0);" data-action="{:url('Customer/distribute')}">
                                分发到二级客服
                            </button>

                            <button class="layui-btn layui-btn-sm action-modal {$staffBtn}" href="javascript:void(0);" data-action="{:url('Customer/toStore')}">
                                分发到门店
                            </button>

                            <button class="layui-btn layui-btn-sm action-apply {$saleBtn}" href="javascript:void(0);" data-action="{:url('Customer/doApply')}">
                                申请回访
                            </button>

                            <button class="layui-btn layui-btn-sm action-modal {$saleBtn}" href="javascript:void(0);" data-action="{:url('Customer/toOrder')}">
                                申请成单
                            </button>

                            <button class="layui-btn layui-btn-sm {$managerBtn} action-delete-customer" href="javascript:void(0);" data-action="{:url('rollback', ['id'=>$val['id']])}" data-tip="确认要还原该客资么？">
                                归档
                            </button>
                        </div>
                    </script>

                    <script type="text/html" id="test-table-toolbar-barDemo">
                        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/layui/layui.js"></script>
<script>
    layui.config({
        base: '/assets/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table'], function(){
        var admin = layui.admin
                ,table = layui.table;
        table.render({
            elem: '#test-table-toolbar'
            ,url: '{:url("Customer/index")}'
            ,toolbar: '#test-table-toolbar-toolbarDemo'
            ,height: 'full-100'
            ,title: '酒店数据表'
            ,cols: [[
                {type: 'checkbox', fixed: 'left'}
                ,{field:'realname', title:'客户姓名', width:120, edit: 'text'}
                ,{field:'mobile', title:'联系电话', width:120, edit: 'text'}
                ,{field:'mobile1', title:'其他电话', width:120}
                ,{field:'publisher', title:'发布员', width:120}
                ,{field:'sale', title:'跟单员', width:120}
                ,{field:'new_type', title:'信息类型', width:120}
                ,{field:'ordered_staff', title:'成单人', width:120}
                ,{field:'change', title:'转婚庆', width:120}
                ,{field:'banquet_size', title:'宴会规模', width:120}
                ,{field:'budget', title:'预算', width:120}
                ,{field:'wedding_intention', title:'跟进状态', width:120}
                ,{field:'zone', title:'区域', width:120}
                ,{field:'hotel', title:'酒店', width:120}
                ,{field:'source', title:'客户来源', width:120}
                ,{field:'create_time', title:'创建时间', width:180}
                ,{fixed: 'right', title:'操作', toolbar: '#test-table-toolbar-barDemo', width:150}
            ]]
            ,page: true
        });

        //头工具栏事件
        table.on('toolbar(test-table-toolbar)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;

            };
        });

        //监听行工具事件
        table.on('tool(test-table-toolbar)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                layer.prompt({
                    formType: 2
                    ,value: data.email
                }, function(value, index){
                    obj.update({
                        email: value
                    });
                    layer.close(index);
                });
            }
        });

    });
</script>
</body>
</html>