<!-- 面包屑 -->
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>首页</li>
        <li>客资管理</li>
        <li>客户资料</li>
    </ul>
    <div class="widget-toolbar">
        <a href="javascript:history.go(-1);">
            <span class="glyphicon glyphicon-share-alt"></span>
            <span class="text">返回</span>
        </a>
    </div>
    <!--<div class="widget-toolbar">-->
        <!--<a href="javascript:void(0);" class="action-modal" data-action="{:url('Customer/import')}">-->
            <!--<span class="text">批量导入</span>-->
        <!--</a>-->
    <!--</div>-->
    <div class="widget-toolbar">
        <a href="javascript:void(0);" class="action-modal" data-action="{:url('Customer/addCustomer')}">
            <span class="text">添加客户</span>
        </a>
    </div>
    <div class="widget-toolbar">
        <a href="javascript:void(0);" class="search-action-modal">
            <span class="text">高级筛选</span>
        </a>
    </div>
    <div class="widget-toolbar no-border">
        <form>
            <input type="text" name="keywords" placeholder="请输入客户资料"/>
            <a class="icon-search" href="javascript:void(0);"></a>
        </form>
    </div>
</div>
<!--页面详情-->
<div class="page-content">

    <div class="customer-list">
        <div class="customer-item customer-list-header">
            <div class="cell-checkbox">
                <input type="checkbox" class="check_all" value="{$val['id']}"/>
            </div>
            <div class="cell-customerno">回访</div>
            <!--<div class="cell-customerno">客户编号</div>-->
            <div class="cell-realname">客户名</div>
            <div class="cell-phone">联系方式</div>
            <div class="cell-phone1">其他联系</div>
            <div class="cell-publisher">发布业务员</div>
            <div class="cell-sale">跟单员</div>
            <div class="cell-news-type">信息类型</div>
            <div class="cell-ordered-staff">成单人</div>
            <div class="cell-change">转婚庆</div>
            <div class="cell-banquet-size">宴会规模</div>
            <div class="cell-budget">预算</div>
            <div class="cell-valid">发布状态</div>
            <div class="cell-remark-amount">备注</div>
            <div class="cell-remark">客户备注</div>
            <div class="cell-wedding-intention">跟进状态</div>
            <div class="cell-wedding-date">婚期</div>
            <div class="cell-zone">区域</div>
            <div class="cell-hotel">咨询酒店</div>
            <div class="cell-source">客户来源</div>
            <div class="cell-createtime">录入时间</div>
        </div>
        <{foreach name="list" item="val"}>
            <div class="customer-item">
                <div class="cell-checkbox">
                    <input type="checkbox" name="id[]" value="{$val['id']}" class="id"/>
                </div>
                <div class="cell-customerno">
                    <a class="action-modal" href="javascript:void(0);" data-action="{:url('Customer/editCustomer',['id'=>$val['id']])}">
                        [编辑]
                    </a>
                    <a class="action-modal" href="javascript:void(0);" data-action="{:url('Customer/visit',['id'=>$val['id']])}">
                        [回访]
                    </a>
                    <a class="action-modal" href="javascript:void(0);" data-action="{:url('Customer/logs', ['id'=>$val['id']])}">
                        [记录]
                    </a>
                </div>
                <!--<div class="cell-customerno">{$val['member_no']}</div>-->
                <div class="cell-realname">{$val['realname']|default='-'}</div>
                <div class="cell-phone">{:substr_replace($val['mobile'],'****', 3, 4)}</div>
                <div class="cell-phone1">
                    <{if empty($val['mobile1'])}>
                        -
                    <{else}>
                        {:substr_replace($val['mobile1'],'****', 3, 4)}
                    <{/if}>
                </div>
                <div class="cell-publisher">{$users[$val['from_id']]['realname']}</div>
                <div class="cell-sale">跟单员</div>
                <div class="cell-news-type">{$newsTypes[$val['news_type']]}</div>
                <div class="cell-ordered-staff">成单人</div>
                <div class="cell-change">转婚庆</div>
                <div class="cell-banquet-size">{$val['banquet_size']}</div>
                <div class="cell-budget">{$val['budget']}</div>
                <div class="cell-valid">{$publishStatus[$val['is_valid']]}</div>
                <div class="cell-remark-amount">备注</div>
                <div class="cell-remark">{$val['remark']}</div>
                <div class="cell-wedding-intention">{$intentions[$val['intention_status']]['title']|default='未跟进'}</div>
                <div class="cell-wedding-date">{$val['wedding_date']}</div>
                <div class="cell-zone">{$val['zone']}</div>
                <div class="cell-hotel">{$hotels[$val['hotel_id']]['title']}</div>
                <div class="cell-source">{$sources[$val['source_id']]['title']}</div>
                <div class="cell-createtime">{$val['create_time']}</div>
            </div>
        <{/foreach}>

</div>

    <!--<div class="visible-md visible-lg hidden-sm hidden-xs btn-group">-->

        <!--<a class="btn btn-xs btn-purple">-->
            <!--派单-->
        <!--</a>-->

        <!--<a class="btn btn-xs btn-pink">-->
            <!--申请-->
        <!--</a>-->

        <!--<a class="btn btn-xs btn-pink">-->
            <!--回访记录-->
        <!--</a>-->

        <!--<a class="btn btn-xs btn-pink action-delete" data-action="{:url('Customer/delete',['id'=>$val['id']])}">-->
            <!--删除-->
        <!--</a>-->
    <!--</div>-->
</div>
<div class="fixed-bottom">
    <div class="toolbar-bottom pull-left">
        <label class="label-checkbox-bottom">
            <input type="checkbox" class="check_all">
            <span>全选</span>
        </label>
        <a class="btn btn-xs btn-info action-modal {$managerBtn}" href="javascript:void(0);" data-action="{:url('Customer/distribute')}">
            分发到二级客服
        </a>

        <a class="btn btn-xs btn-success action-modal {$staffBtn}" href="javascript:void(0);" data-action="{:url('Customer/toStore')}">
            分发到门店
        </a>

        <a class="btn btn-xs btn-danger action-apply {$saleBtn}" href="javascript:void(0);" data-action="{:url('Customer/doApply')}">
            申请回访
        </a>

        <a class="btn btn-xs btn-danger action-modal {$saleBtn}" href="javascript:void(0);" data-action="{:url('Customer/toOrder')}">
            申请成单
        </a>

        <a class="btn btn-xs btn-danger {$managerBtn} action-delete-customer" href="javascript:void(0);" data-action="{:url('rollback', ['id'=>$val['id']])}" data-tip="确认要还原该客资么？">
            归档
        </a>
    </div>
    <div class="pull-right">
        <{include file="common/page" /}>
    </div>
</div>
<{include file="customer/search" /}>