<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>客资公海</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/assets/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/assets/style/admin.css" media="all">
</head>
<body>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>客资公海</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <!--<div class="layui-card-header">酒店管理</div>-->
                <div class="layui-card-body">
                    <table class="layui-hide" id="table" lay-filter="table"></table>

                    <script type="text/html" id="toolbar">
                        <div class="layui-btn-container">
                            {:button(["event"=>"doApply", "text"=>"申请回访"])}
                        </div>
                    </script>

                    <script type="text/html" id="tool">
                        <a class="layui-btn layui-btn-xs" lay-event="edit">回访记录</a>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/layui/layui.js"></script>
<script>
    layui.config({
        base: '/assets/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table'], function(){
        var $ = layui.jquery
            ,table = layui.table;
        table.render({
            elem: 'table'
            ,url: '{$Think.server.REQUEST_URI}'
            ,toolbar: '#toolbar'
            ,height: 'full-100'
            ,title: '酒店数据表'
            ,defaultToolbar: ['filter']
            ,cols: [[
                {type: 'checkbox', fixed: 'left'}
                ,{field:'realname', title:'客户姓名', width:120, edit: 'text'}
                ,{field:'mobile', title:'联系电话', width:120, edit: 'text'}
                ,{field:'mobile1', title:'其他电话', width:120}
                ,{field:'publisher', title:'发布员', width:120}
                ,{field:'sale', title:'跟单员', width:120}
                ,{field:'new_type', title:'信息类型', width:120}
                ,{field:'ordered_staff', title:'成单人', width:120}
                ,{field:'change', title:'转婚庆', width:120}
                ,{field:'banquet_size', title:'宴会规模', width:120}
                ,{field:'budget', title:'预算', width:120}
                ,{field:'wedding_intention', title:'跟进状态', width:120}
                ,{field:'zone', title:'区域', width:120}
                ,{field:'hotel', title:'酒店', width:120}
                ,{field:'source', title:'客户来源', width:120}
                ,{field:'create_time', title:'创建时间', width:180}
                ,{fixed: 'right', title:'操作', toolbar: '#tool', width:150}
            ]]
            ,page: true
        });

        var getSelectedIds = function (jsonArr) {
            var ids = [];
            jsonArr.forEach(function (value, key) {
                ids.push(value.id)
            });

            return ids.join(',');
        }

        //头工具栏事件
        table.on('toolbar(table)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            var checkedboxes = checkStatus.data;
            var ids = '';
            var url = '';
            switch(obj.event){
                case 'doApply':
                    if (checkedboxes.length < 1) {
                        layer.msg("请先选择要分配的客资");
                        return false;
                    }

                    ids = getSelectedIds(checkedboxes);
                    url = '/index/customer/doapply.html';
                    $.post(url,{ids:ids}, function(res){
                        if(res.code == '200') {
                            layer.msg(res.msg);
                            table.reload("table")
                        } else {
                            layer.msg(res.msg);
                        }
                    });
                    break;

            };
        });

        //监听行工具事件
        table.on('tool(table)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('确定删除本行么', function(index){
                    obj.del();
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                layer.prompt({
                    formType: 2
                    ,value: data.email
                }, function(value, index){
                    obj.update({
                        email: value
                    });
                    layer.close(index);
                });
            }
        });



    });
</script>
</body>
</html>