<div class="modal-box">
    <form class="modal-form" data-action="{:url('Customer/doVisit')}">
        <div class="side-modal-box">
            <div class="page-header header_title">
                <h4 class="blue">跟进用户</h4>
            </div>
            <div class="form-block">
                <div class="form-group">
                    <label>
                        <span class="tis_import">*</span>
                        <span>跟进状态</span>
                    </label>
                    <div class="input-box">
                        <select name="status" id="status" class="input-field">
                            <option value="1">无效客户</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        <span>申请状态</span>
                    </label>
                    <div class="input-box">
                        <select name="apply_status" id="apply_status" class="input-field">
                            <option value="0">审核中</option>
                            <option value="1">审核成功</option>
                            <option value="2">审核失败</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        <span>成单请求</span>
                    </label>
                    <div class="input-box">
                        <select name="apply_order_status" id="apply_order_status" class="input-field">
                            <option value="0">未请求</option>
                            <option value="1">请求中</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        <span>失效申请</span>
                    </label>
                    <div class="input-box">
                        <select name="cause" id="cause" class="input-field">
                            <option value="0">未请求</option>
                            <option value="1">失效跟进</option>
                            <option value="2">请求中</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label>
                        <span>下次跟进</span>
                    </label>
                    <div class="input-box">
                        <input type="text" name="next_visit_time" value="{$data['next_visit_time']}" class="input-field date">
                    </div>
                </div>

                <div class="form-group">
                    <label>
                        <span>备注</span>
                    </label>
                    <div class="input-box">
                        <textarea name="content" class="input-field" style="height: 100px;"></textarea>
                    </div>
                </div>
            </div>

            <div class="vist-list">
                <h4 class="blue">
                    <span>回访历史</span>
                    <small>(已回访{:count($visits)}次)</small>
                </h4>

                <table class="table table-bordered">
                    <tr class="table-header">
                        <th class="field-13em">回访时间</th>
                        <th class="field-8em">回访状态</th>
                        <th>备注</th>
                    </tr>
                    <{foreach item="val" name="visits"}>
                        <tr>
                            <td>{$val['create_time']}</td>
                            <td>{$val['status']}</td>
                            <td>{$val['content']}</td>
                        </tr>
                    <{/foreach}>
                </table>
            </div>

            <div class="side-modal-foot">
                <input type="hidden" name="allocation_id" id="allocation_id" value="{$Request.param.allocation_id}">
                <input type="hidden" name="member_id" id="member" value="{$Request.param.id}">
                <div class="btn btn-sm btn-info form-side-submit">保存</div>
                <div class="btn btn-sm form-side-cancel">取消</div>
            </div>
        </div>
    </form>
</div>