<div class="modal-box">
    <div class="side-modal-box">
        <div class="page-header header_title">
            <h4 class="blue">跟进记录</h4>
        </div>

        <div class="vist-list">
            <h4 class="blue">
                <span>回访历史</span>
                <small>(已回访0次)</small>
            </h4>

            <table class="table table-bordered">
                <tr class="table-header">
                    <th class="field-13em">回访时间</th>
                    <th class="field-8em">回访状态</th>
                    <th>备注</th>
                </tr>
                <{foreach item="val" name="visits"}>
                    <tr>
                        <td>{$val['create_time']}</td>
                        <td>{$val['status']}</td>
                        <td>{$val['content']}</td>
                    </tr>
                <{/foreach}>
            </table>
        </div>

        <div class="side-modal-foot">
            <div class="btn btn-sm form-side-cancel">关闭</div>
        </div>
    </div>
</div>