<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑婚宴基本信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/assets/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/assets/style/admin.css?2" media="all">
    <link rel="stylesheet" href="/assets/style/order.css?2" media="all">
    <script src="/assets/layui/layui.js"></script>
    <script src="/assets/lib/order.edit.js"></script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px;">
            <form class="layui-form" method="post" action="{:url('/index/order.car/doEdit')}" lay-filter="component-form-group">
                <div class="layui-form-item">
                    <div class="layui-form-label">承办公司</div>
                    <div class="layui-input-block">
                        <select name="company_id" class="layui-select">
                            <option value="">--请选择公司--</option>
                            <{foreach name="brands" item="val"}>
                            <option value="{$val.id}" <{if $data['company_id'] == $val['id']}>selected<{/if}>>{$val.title}</option>
                            <{/foreach}>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label ">主婚车型号</label>
                    <div class="layui-input-block">
                        <select name="master_car_id" class="layui-select" lay-search>
                            <option value=""></option>
                            <{foreach name="carList" item="val"}>
                            <option value="{$val.id}" {$data.master_car_id==$val.id?'selected':''}>{$val.title}</option>
                            <{/foreach}>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label ">主婚车数量</label>
                    <div class="layui-input-block">
                        <input type="number" name="master_car_amount" value="{$data['master_car_amount']}" lay-verify="" placeholder="餐标" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">跟车型号</label>
                    <div class="layui-input-block">
                        <select name="slave_car_id" class="layui-select" lay-search>
                            <option value=""></option>
                            <{foreach name="carList" item="val"}>
                            <option value="{$val.id}" {$data.master_car_id==$val.id?'selected':''}>{$val.title}</option>
                            <{/foreach}>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">跟车数量</label>
                    <div class="layui-input-block">
                        <input type="number" name="slave_car_amount" value="{$data['slave_car_amount']}" lay-verify="" placeholder="跟车数量" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">婚车费用</label>
                    <div class="layui-input-block">
                        <input type="number" name="car_totals" value="{$data['car_totals']}" lay-verify="" placeholder="婚车费用" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">婚车服务时长</label>
                    <div class="layui-input-block">
                        <input type="number" name="service_hour" value="{$data['service_hour']}" lay-verify="" placeholder="婚车服务时长" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">婚车服务距离</label>
                    <div class="layui-input-block">
                        <input type="number" name="service_distance" value="{$data['service_distance']}" lay-verify="" placeholder="婚车服务距离" autocomplete="off" class="layui-input">
                    </div>
                </div>


                <div class="layui-form-item">
                    <label class="layui-form-label">联系人</label>
                    <div class="layui-input-block">
                        <input type="text" name="contact_name" value="{$data['contact_name']}" lay-verify="" placeholder="联系人" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">联系电话</label>
                    <div class="layui-input-block">
                        <input type="text" name="contact_mobile" value="{$data['contact_mobile']}" lay-verify="" placeholder="联系电话" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">到达时间</label>
                    <div class="layui-input-block">
                        <input type="text" name="arrive_time" value="{$data['arrive_time']}" lay-verify="" placeholder="到达时间" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">到达地点</label>
                    <div class="layui-input-block">
                        <input type="text" name="arrive_address" value="{$data['arrive_address']}" lay-verify="" placeholder="到达地点" autocomplete="off" class="layui-input">
                    </div>
                </div>


                <div class="layui-form-item">
                    <div class="layui-form-label">备注</div>
                    <div class="layui-input-block">
                        <textarea name="car_remark" class="layui-textarea" placeholder="备注信息">{$data['car_remark']}</textarea>
                    </div>
                </div>

                <div class="layui-form-item layui-layout-admin">
                    <div class="layui-input-inline">
                        <input type="hidden" name="order_id" value="{$data.order_id}"/>
                        <input type="hidden" name="id" value="{$data.id}">
                        <div class="layui-footer" style="left: 0;">
                            <button class="layui-btn" lay-submit="" lay-filter="form-submit">保存</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>