<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>嘉豪集团CRM管理系统</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- basic styles -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/css/ace.min.css" />
    <link rel="stylesheet" href="/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="/assets/css/ace.extend.css" />
    <link rel="stylesheet" href="/assets/css/ace-ie.min.css" />
    <script src="/assets/js/jquery-1.11.3.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/ace-extra.min.js"></script>
    <script src="/assets/js/ace.min.js"></script>
    <script src="/assets/js/ace-elements.min.js"></script>
    <script src="/assets/layer/layer.js"></script>
    <script src="/static/js/ace.customer.js"></script>
</head>

<body>
{__CONTENT__}
</body>
</html>