<!-- 面包屑 -->
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>首页</li>
        <li>部门权限</li>
        <li>用户管理</li>
        <li>修改密码</li>
    </ul>
    <div class="widget-toolbar">
        <a href="javascript:history.go(-1);">
            <span class="glyphicon glyphicon-share-alt"></span>
            <span class="text">返回</span>
        </a>
    </div>
</div>
<div class="page-content">
    <div class="page-header header_title">
        <h3 class="blue">修改密码</h3>
    </div>
    <div class="page-body">
        <form class="form ajax-form" method="post" data-action="{:url('doEditUser')}" role="form">
            <div class="form-container">
                <div class="form-body">
                    <div class="form-groups">

                        <div class="form-group">
                            <label class="flex-control-label">原始密码</label>
                            <div class="flex-control-input">
                                <input type="text" name="password" id="password" class="form-control">
                                <div class="form-tips"><span class="tis_import">*</span></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="flex-control-label">新密码</label>
                            <div class="flex-control-input">
                                <input type="text" name="newpassword" id="newpassword" class="form-control">
                                <div class="form-tips"><span class="tis_import">*</span></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="flex-control-label">确认密码</label>
                            <div class="flex-control-input">
                                <input type="text" name="renewpassword" id="renewpassword" class="form-control">
                                <div class="form-tips"><span class="tis_import">*</span></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="flex-control-input">
                                <div class="footer-fixed-bottom text-left">
                                    <input type="hidden" name="id" value="{$_GET['id']}" id="id"/>
                                    <input type="submit" value="保存" class="btn btn-save-blue">
                                    <a class="btn btn-save-gray" href="javascript:history.go(-1)">返回</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--表单页面帮助说明-->
                <div class="form-aside">
                    <dl class="helper">
                        <dt>帮助说明</dt>
                        <dd>
                            <i class="icon-angle-right bigger-110"></i>
                            <div class="text">说明</div>
                        </dd>
                    </dl>
                </div>
            </div>
        </form>
    </div>
</div>