<{if !$d3->isEmpty()}>
<div class="layui-card">
    <div class="layui-card-header">
        <div class="layui-card-header-left">
            3D业务
        </div>

        <div class="layui-card-header-right">
            <a title="添加3D信息"
               class="layui-right-side btn-edit"
               href="javascript:void(0);"
               data-action="{:url('/index/order.d3/create', ['id'=>$data['id']])}">添加</a>
        </div>

    </div>
    <div class="layui-card-body">
        <table class="layui-table no-padding no-margin">
            <colgroup>
                <col width="100">
                <col width="150">
                <col width="150">
                <col width="150">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th class="text-center">是否二销</th>
                <th class="text-center">3D类型</th>
                <th class="text-center">3D数量</th>
                <th class="text-center">价格小计</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <{foreach name="d3" item="row"}>
            <tr>
                <th class="text-center">{$suborderTypes[$row.is_suborder]}</th>
                <th class="text-center">{$d3List[$row['d3_id']]['title']}</th>
                <th class="text-center">{$row['d3_amount']}</th>
                <th class="text-center">{$row['d3_price']}</th>
                <th class="text-right">
                    <div>
                        <a href="javascript:void(0);"
                           class="btn-edit-solid layui-right-side"
                           data-action="{:url('/index/order.d3/edit', ['id'=>$row['id']])}">编辑</a>
                        <a href="javascript:void(0);"
                           class="btn-delete-solid lay-delete-api"
                           data-action="{:url('/index/order.d3/delete', ['id'=>$row['id']])}">删除</a>
                    </div>
                </th>
            </tr>
            <tr>
                <th colspan="5" class="text-left">备注:{$row['d3_remark']}</th></td>
            </tr>
            <{/foreach}>
            </tbody>
        </table>
    </div>
</div>
<{/if}>