<{if !$car->isEmpty()}>
<div class="layui-card">
    <div class="layui-card-header">
        <div class="layui-card-header-left">
            婚车业务
        </div>

        <div class="layui-card-header-right">
            <a title="编辑婚车信息"
               class="layui-right-side btn-edit"
               href="javascript:void(0);"
               data-action="{:url('/index/order.car/create', ['id'=>$data['id']])}">添加</a>
        </div>

    </div>
    <div class="layui-card-body">
        <table class="layui-table no-padding no-margin">
            <colgroup>
                <col width="100">
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th class="text-center">是否二销</th>
                <th class="text-center">是否主车</th>
                <th class="text-center">型号</th>
                <th class="text-center">数量</th>
                <th class="text-center">价格</th>
                <th class="text-center">服务时间</th>
                <th class="text-center">服务距离</th>
                <th class="text-center">联系人</th>
                <th class="text-center">电话</th>
                <th class="text-center">接车时间</th>
                <th class="text-center">接车地点</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <{foreach name="car" item="row"}>
            <tr>
                <th class="text-center">{$suborderTypes[$row.is_suborder]}</th>
                <th class="text-center">{$row.is_master?'主车':'跟车'}</th>
                <th class="text-center">{$carList[$row['car_id']]['title']}-{$carList[$row['car_id']]['color']}</th>
                <th class="text-center">{$row['car_amount']}</th>
                <th class="text-center">{$row['car_price']}</th>
                <th class="text-center">{$row['service_hour']}</th>
                <th class="text-center">{$row['service_distance']}</th>
                <th class="text-center">{$row['car_contact']}</th>
                <th class="text-center">{$row['car_mobile']}</th>
                <th class="text-center">{$row['arrive_time']}</th>
                <th class="text-center">{$row['arrive_address']}</th>
                <th class="text-right">
                    <div>
                        <a href="javascript:void(0);"
                           class="btn-edit-solid layui-right-side"
                           data-action="{:url('/index/order.car/edit', ['id'=>$row['id']])}">编辑</a>
                        <a href="javascript:void(0);"
                           class="btn-delete-solid lay-delete-api"
                           data-action="{:url('/index/order.car/delete', ['id'=>$row['id']])}">删除</a>
                    </div>
                </th>
            </tr>
            <{/foreach}>
            </tbody>
        </table>
    </div>
</div>
<{/if}>