<div class="layui-card layui-card-top">
    <div class="layui-card-header">
        <div class="layui-card-header-left">合同信息</div>
        <div class="layui-card-header-right">
            <a title="编辑合同信息"
               class="btn-edit layui-right-side"
               href="javascript:void(0);"
               data-action="{:url('/index/order.Contract/edit', ['id'=>$data['id']])}">编辑</a>
        </div>
    </div>
    <div class="layui-card-body no-margin">
        <table class="table-form">
            <tr>
                <td class="tb-field">签约公司</td>
                <td class="tb-value">{$brands[$data.company_id]['title']}</td>
                <td class="tb-field">订单类型</td>
                <td class="tb-value">{$newsTypes[$data.news_type]}</td>
                <td class="tb-field">合同号</td>
                <td class="tb-value">{$data.contract_no|default=''}</td>
                <td class="tb-field">签约日期</td>
                <td class="tb-value">{$data.sign_date}</td>
                <td class="tb-field">举办日期</td>
                <td class="tb-value">{$data.event_date}</td>
            </tr>

            <tr>
                <td class="tb-field">酒店名称</td>
                <td class="tb-value">{$data.hotel_text|default='-'}</td>
                <td class="tb-field">宴会厅</td>
                <td class="tb-value">{$data.banquet_hall_name|default='-'}</td>
                <td class="tb-field">合作模式</td>
                <td class="tb-value">{$cooperationModes[$data.cooperation_mode]}</td>
                <td class="tb-field">积分</td>
                <td class="tb-value">{$data.score|default='-'}</td>
                <td class="tb-field">引流销售</td>
                <td class="tb-value">{$data.recommend_salesman|default='-'}</td>
            </tr>
            <tr>
                <td class="tb-field">签约销售</td>
                <td class="tb-value">{$data.sale|default='-'}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="10" class="td-title">新人信息</td>
            </tr>
            <tr>
                <td class="tb-field">新郎姓名</td>
                <td class="tb-value">{$data.bridegroom|default='-'}</td>
                <td class="tb-field">新郎手机</td>
                <td class="tb-value">{$data.bridegroom_mobile|default='-'}</td>
                <td class="tb-field">新郎微信</td>
                <td class="tb-value">{$data.bridegroom_wechat|default='-'}</td>
                <td></td>
                <td></td>
                <td colspan="2" rowspan="6">
                    <div class="contract-img upload" id="upload" data-action="{:url('/index/order.order/upload', ['id'=>$data.id])}">
                        <div class="title">合同(点击查看大图)</div>
                        <div class="img-box">
                            <{if !empty($data.image)}>
                                <img src="/{$data.image}" alt="">
                            <{/if}>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td class="tb-field">新娘姓名</td>
                <td class="tb-value">{$data.bride|default='-'}</td>
                <td class="tb-field">新娘手机</td>
                <td class="tb-value">{$data.bride_mobile|default='-'}</td>
                <td class="tb-field">新娘微信</td>
                <td class="tb-value">{$data.bride_wechat|default='-'}</td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="tb-field">身份证号</td>
                <td class="tb-value" colspan="7">{$data.idcard|default='-'}</td>
            </tr>

            <tr>
                <td class="tb-field">家庭住址</td>
                <td class="tb-value" colspan="7">{$data.address|default='-'}</td>
            </tr>

            <tr>
                <td colspan="10" class="td-title">客户信息</td>
            </tr>
            <tr>
                <td class="tb-field">客户姓名</td>
                <td class="tb-value">{$customer.realname}</td>
                <td class="tb-field">客户手机</td>
                <td class="tb-value">{$customer.mobile}</td>
                <td class="tb-field">客资来源</td>
                <td class="tb-value">{$data.source_text}</td>
                <td class="tb-field">积点</td>
                <td class="tb-value">{$data.point}</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td class="tb-field">备注</td>
                <td class="tb-value" colspan="8">{$data.remark}</td>
            </tr>
            <tr>
                <td colspan="10" class="text-right">
                    <{if empty($banquet)}>
                        <a href="javascript:void(0);"
                           class="layui-right-side btn-edit-solid"
                           title="添加婚宴信息"
                           data-action="{:url('/index/order.banquet/create', ['id'=>$data.id])}">添加婚宴信息</a>
                    <{/if}>

                    <{if empty($hoteItem)}>
                    <a href="javascript:void(0);"
                       class="layui-right-side btn-edit-solid"
                       title="添加酒店服务项目"
                       data-action="{:url('/index/order.hotel_item/create', ['id'=>$data.id])}">添加酒店服务项目</a>
                    <{/if}>

                    <{if empty($wedding)}>
                        <a href="javascript:void(0);"
                           class="layui-right-side btn-edit-solid"
                           title="添加婚庆信息"
                           data-action="{:url('/index/order.wedding/create', ['id'=>$data.id])}">添加婚庆信息</a>
                    <{/if}>

                    <{if empty($car)}>
                        <a href="javascript:void(0);"
                           class="layui-right-side btn-edit-solid"
                           title="添加婚车信息"
                           data-action="{:url('/index/order.car/create', ['id'=>$data.id])}">添加婚车信息</a>
                    <{/if}>

                    <{if $sugar->isEmpty()}>
                        <a href="javascript:void(0);"
                           class="layui-right-side btn-edit-solid"
                           title="添加喜糖信息"
                           data-action="{:url('/index/order.sugar/create', ['id'=>$data.id])}">添加喜糖信息</a>
                    <{/if}>

                    <{if $wine->isEmpty()}>
                        <a href="javascript:void(0);"
                           class="layui-right-side btn-edit-solid"
                           title="添加酒水信息"
                           data-action="{:url('/index/order.wine/create', ['id'=>$data.id])}">添加酒水信息</a>
                    <{/if}>

                    <{if $light->isEmpty()}>
                        <a href="javascript:void(0);"
                           class="layui-right-side btn-edit-solid"
                           title="添加灯光信息"
                           data-action="{:url('/index/order.light/create', ['id'=>$data.id])}">添加灯光信息</a>
                    <{/if}>

                    <{if $dessert->isEmpty()}>
                        <a href="javascript:void(0);"
                           class="layui-right-side btn-edit-solid"
                           title="添加点心信息"
                           data-action="{:url('/index/order.dessert/create', ['id'=>$data.id])}">添加点心信息</a>
                    <{/if}>
                </td>
            </tr>
        </table>
    </div>
</div>