<{if !$led->isEmpty()}>
<div class="layui-card">
    <div class="layui-card-header">
        <div class="layui-card-header-left">
            Led业务
        </div>

        <div class="layui-card-header-right">
            <a title="添加Led信息"
               class="layui-right-side btn-edit"
               href="javascript:void(0);"
               data-action="{:url('/index/order.led/create', ['id'=>$data['id']])}">添加</a>
        </div>

    </div>
    <div class="layui-card-body">
        <table class="layui-table no-padding no-margin">
            <thead>
            <tr>
                <th class="text-left">承办公司</th>
                <th class="text-left">是否二销</th>
                <th class="text-left">Led类型</th>
                <th class="text-left">Led数量</th>
                <th class="text-left">价格小计</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <{foreach name="led" item="row"}>
            <tr>
                <th class="text-left">{$brands[$row.company_id]['title']}</th>
                <th class="text-left">{$suborderTypes[$row.is_suborder]}</th>
                <th class="text-left">{$ledList[$row['led_id']]['title']}</th>
                <th class="text-left">{$row['led_amount']}</th>
                <th class="text-left">{$row['led_price']}</th>
                <th class="text-right">
                    <div>
                        <a href="javascript:void(0);"
                           class="btn-edit-solid layui-right-side"
                           data-action="{:url('/index/order.led/edit', ['id'=>$row['id']])}">编辑</a>
                        <a href="javascript:void(0);"
                           class="btn-delete-solid lay-delete-api"
                           data-action="{:url('/index/order.led/delete', ['id'=>$row['id']])}">删除</a>
                    </div>
                </th>
            </tr>
            <tr>
                <!--<td class="text-center">备注:</td>-->
                <td colspan="5" class="text-left">备注:{$row['led_remark']}</td>
            </tr>
            <{/foreach}>
            </tbody>
        </table>
    </div>
</div>
<{/if}>