<{if !$light->isEmpty()}>
<div class="layui-card">
    <div class="layui-card-header">
        <div class="layui-card-header-left">
            灯光业务
        </div>

        <div class="layui-card-header-right">
            <a title="添加灯光信息"
               class="layui-right-side btn-edit"
               href="javascript:void(0);"
               data-action="{:url('/index/order.light/create', ['id'=>$data['id']])}">添加</a>
        </div>

    </div>
    <div class="layui-card-body">
        <table class="layui-table no-padding no-margin">
            <!--
            <colgroup>
                <col width="100">
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <col>
                <col width="240">
            </colgroup>
            -->
            <thead>
            <tr>
                <th class="text-left">是否二销</th>
                <th class="text-left">灯光类型</th>
                <th class="text-left">灯光数量</th>
                <th class="text-left">价格小计</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <{foreach name="light" item="row"}>
            <tr>
                <th class="text-left">{$suborderTypes[$row.is_suborder]}</th>
                <th class="text-left">{$lightList[$row['light_id']]['title']}</th>
                <th class="text-left">{$row['light_amount']}</th>
                <th class="text-left">{$row['light_price']}</th>
                <th class="text-right">
                    <div>
                        <a href="javascript:void(0);"
                           class="btn-edit-solid layui-right-side"
                           data-action="{:url('/index/order.light/edit', ['id'=>$row['id']])}">编辑</a>
                        <a href="javascript:void(0);"
                           class="btn-delete-solid lay-delete-api"
                           data-action="{:url('/index/order.light/delete', ['id'=>$row['id']])}">删除</a>
                    </div>
                </th>
            </tr>
            <tr>
                <td class="text-left" colspan="5">备注:{$row['light_remark']}</td>
            </tr>
            <{/foreach}>
            </tbody>
        </table>
    </div>
</div>
<{/if}>