<{if !empty($sugar)}>
<div class="layui-card">
    <div class="layui-card-header">
        <div class="layui-card-header-left">
            喜糖业务
        </div>

        <div class="layui-card-header-right">
            <a title="添加喜糖信息"
               class="layui-right-side btn-edit"
               href="javascript:void(0);"
               data-action="{:url('/index/order.sugar/create', ['id'=>$data['id']])}">添加</a>
        </div>

    </div>
    <div class="layui-card-body">
        <table class="layui-table no-padding no-margin">
            <colgroup>
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <col>
                <col width="240">
            </colgroup>
            <thead>
            <tr>
                <th class="text-center">喜糖类型</th>
                <th class="text-center">喜糖数量</th>
                <th class="text-center">价格小计</th>
                <th class="text-center">联系人</th>
                <th class="text-center">电话</th>
                <th class="text-center">联系地址</th>
                <th class="text-left">备注</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <{foreach name="sugar" item="row"}>
            <tr>
                <th class="text-center">{$row['sugar_id']}</th>
                <th class="text-center">{$row['sugar_amount']}</th>
                <th class="text-center">{$row['sugar_price']}</th>
                <th class="text-center">{$row['sugar_contact']}</th>
                <th class="text-center">{$row['sugar_mobile']}</th>
                <th class="text-center">{$row['sugar_adress']}</th>
                <th class="text-left">{$row['sugar_remark']}</th>
                <th class="text-right">
                    <div>
                        <a href="javascript:void(0);"
                           class="{:auth('/index/order.sugar/edit')} btn-edit-solid layui-right-side"
                           data-action="{:url('/index/order.sugar/edit', ['id'=>$row['id']])}">编辑</a>
                        <a href="javascript:void(0);"
                           class="{:auth('/index/order.sugar/delBanquetPayment')} btn-delete-solid lay-delete-api"
                           data-action="{:url('/index/order.sugar/delete', ['id'=>$row['id']])}">删除</a>
                    </div>
                </th>
            </tr>
            <{/foreach}>
            </tbody>
        </table>
    </div>
</div>
<{/if}>